mixin popup-help()
	#popup-help.popup-help.popup
		.popup__content
			.popup__text Оставьте свой номер телефона и мы поможем вам подобрать тур
			form.form
				label.form__label
					span.form__label-name Ваше имя
					input(type="text" name="name" placeholder="введите имя").form__input
				label.form__label
					span.form__label-name Номер телефона:
					input(type="tel" name="phone" placeholder="введите номер телефона").form__input
				.popup__action
					button.btn.btn--light Отправить
