mixin card-simple(object)
	.card-simple&attributes(attributes)
		a(href="#").card-simple__img
			img(src="images/" + object.imgName, alt="")
		.card-simple__info
			.card-simple__title
				a(href="#")= object.title
			.card-simple__text= object.text
			.card-simple__more
				a(href="#") Подробнее