.card-simple {

	&--alt {
		.card-simple {

			&__img {

				&:before {
					padding-top: 64.39%;
				}
			}

			&__info {
				padding-top: 38px;

				@include media( map-get( $media, sm ) ) {
					padding-top: 35px;
				}
			}

			&__title {
				margin-bottom: 15px;

				@include media( map-get( $media, sm ) ) {
					font-size: 16px;
				}
			}

			&__text {
				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
				}
			}
		}
	}

	&__img {
		overflow: hidden;
		display: block;
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-top: 60.39%;

			@include media( map-get( $media, sm ) ) {
				padding-top: 66%;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		padding: 14px 16px 0;

		@include media( map-get( $media, sm ) ) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 23px;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 20px;
		line-height: 144%;

		@include media( map-get( $media, sm ) ) {
			font-size: 18px;
		}
	}

	&__text {
		line-height: 170%;

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
			line-height: 150%;
		}
	}

	&__more {
		line-height: 170%;
		letter-spacing: 0.16px;
		text-decoration-line: underline;
		margin-top: 13px;

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
		}
	}
}