.popup {
	width: 100%;
	padding:	30px 53px 40px 30px;
	max-width: 549px;

	@include media( map-get( $media, sm ) ) {
		padding-left: 14px;
		padding-right: 14px;
		max-width: calc(100vw - 40px);
	}

	&__content {}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 15px;

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
			font-weight: 500;
			padding-right: 35px;
		}
	}

	&__top {
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -53px;
		padding-left: 30px;
		padding-right: 53px;
		padding-top: 40px;
		padding-bottom: 33px;
		font-weight: bold;
		font-size: 25px;
		line-height: 150%;
		border-bottom: 1px solid #A8A6A6;
		margin-bottom: 45px;

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
			font-weight: 500;
			line-height: 150%;
			margin: -20px -20px 20px -15px;
			padding: 20px 39px 15px 15px;
		}

		&--sm {
			font-weight: 500;
			font-size: 18px;
			padding: 30px 85px 27px 30px;
			margin-bottom: 30px;
		}
	}

	&-box {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		&-wrap {
			max-height: 99999999px;

			@include media( map-get( $media, sm ) ) {
				max-height: 294px;
				margin-bottom: 16px;

				.scroll-element.scroll-y.scroll-scrolly_visible {
					right: 1px;
					width: 2px;
				}
			}
		}

		&__title {
			font-weight: 600;
			font-size: 20px;
			line-height: 150%;
			margin-bottom: 20px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				margin-bottom: 10px;
			}
		}

		&__list {
			column-count: 3;
			column-gap: 30px;

			@include media( map-get( $media, sm ) ) {
				column-count: 1;
			}

			li {
				margin-bottom: 15px;
				line-height: 150%;

				@include media( map-get( $media, sm ) ) {
					font-size: 12px;
					margin-bottom: 8px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&-link-email {
		margin-top: 25px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 10px 15px;
			background: #F5F5F5;
		}

		a {
			display: inline-block;
			padding-left: 39px;
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;
			background-repeat: no-repeat;
			background-position: left center;
			background-image: url('../images/email-pic.svg');

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				font-weight: 500;
				padding-left: 29px;
				background-size: 21px;
			}
		}
	}

	&__text {
		padding-right: 45px;
		line-height: 150%;
		margin-bottom: 15px;
		font-family: map-get( $ff, cir );

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
			margin-bottom: 11px;
		}
	}

	&__action {
		display: flex;
		justify-content: center;
		margin-top: 20px;

		.btn {
			height: 40px;
			font-weight: 500;
			width: 155px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
			}
		}
	}
}