.price {
	display: flex;
	align-items: baseline;
	white-space: nowrap;

	&__new {
		font-weight: bold;
		font-size: 20px;
		color: #FE0002;

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
		}
	}

	&__old {
		font-size: 14px;
		color: #5F5F5F;
		margin-left: 10px;

		@include media( map-get( $media, sm ) ) {
			font-size: 10px;
		}

		span {
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				top: 0.5em;
				left: 0;
				width: calc(100% + 4px);
				border-bottom: 1px solid #5F5F5F;
			}
		}
	}
}