h1 {
	font-family: map-get( $ff, alt );
	font-weight: 700;
	font-size: 90px;
	line-height: 1;
	letter-spacing: -0.002em;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	@include media( map-get( $media, lg ) ) {
		font-size: 60px;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 30px;
	}
}

h2,
.title {
	font-family: map-get( $ff, alt );
	font-weight: bold;
	font-size: 60px;
	line-height: 106.7%;
	letter-spacing: -0.002em;
	text-transform: uppercase;
	margin-bottom: 44px;

	@include media( map-get( $media, sm ) ) {
		font-size: 30px;
		margin-bottom: 40px;
	}

	&--light {
		color: #fff;
	}

	&--sm {
		font-size: 30px;
	}
}

.title-sm {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 1em;
	text-transform: none;
	line-height: 1;
	letter-spacing: normal;
	font-family: map-get( $ff, main );

	@include media( map-get( $media, md ) ) {
		font-size: 20px;
	}
}

h4 {
	margin: 20px 0 15px;
	font-weight: 600;
	font-size: 18px;
	line-height: 167%;
	color: #000000;
}

.subtitle {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	margin-top: 30px;

	@include media( map-get( $media, sm ) ) {
		font-size: 14px;
		font-family: map-get( $ff, cir );
	}
}