.section {
	margin: 150px 0;

	@include media( map-get( $media, sm ) ) {
		margin: 100px 0;
	}

	&--nmt {
		margin-top: 0;
	}

	&--ml {
		.container {

			& > * {
				margin-left: 100px;

				@include media( map-get( $media, lg ) ) {
					margin-left: 0;
				}
			}
		}
	}

	&--test {

		@include media( map-get( $media, sm ) ) {
			margin-top: 114px;
		}

		.section__header {
			margin-bottom: 63px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 32px;
			}
		}
	}

	&--dark {
		background: #131313;
		padding: 80px 0;
		color: #fff;

		@include media( map-get( $media, sm ) ) {
			padding: 60px 0;
		}

		.slider {

			&-btn {

				&--prev {
					background-image: url('../images/arrow-left--light.svg');
				}

				&--next {
					background-image: url('../images/arrow-right--light.svg');
				}
			}
		}
	}

	&--sm {
		margin: 100px 0;

		@include media( map-get( $media, sm ) ) {
			margin: 64px 0 69px;

			.section__header {
				margin-bottom: 56px;
			}
		}
	}

	&--profi {

		.section__header {

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 56px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 32px;
			}
		}
	}

	&__header {
		margin-bottom: 80px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 71px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 40px;
		}

		& + .section__alert {
			margin-top: -18px;

			@include media( map-get( $media, lg ) ) {
				margin-top: -8px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-top: 0;
			}
		}

		&--sm {
			margin-bottom: 40px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 30px;
			}
		}

		&--min {
			margin-bottom: 15px;
		}

		.title-sm,
		.title {
			margin-bottom: 0;
		}

		&--alt {
			text-align: center;
			margin-bottom: 36px;
			color: #F5F5F5;

			@include media( map-get( $media, sm ) ) {
				text-align: left;
			}

			&-left {
				text-align: left;
			}

			.section__title {
				margin-bottom: 20px;

				@include media( map-get( $media, sm ) ) {
					font-weight: 400;
				}
			}

			.subtitle {
				font-weight: 500;
				font-size: 16px;
				max-width: 810px;
				margin-left: auto;
				margin-right: auto;

				@include media( map-get( $media, sm ) ) {
					margin-top: 20px;
					line-height: 170%;
				}
			}
		}
	}

	.tours.is-line .tours-box__list {
		box-shadow: none;
	}


	.order-package {
		padding-bottom: 0;
	}

	.order-package__main {
		max-height: 999999px;

		@include media( map-get( $media, sm ) ) {
			max-height: 294px;
		}
	}

	.order-tour__box--check,
	.order-package__box {
		width: 315px;
		min-width: 315px;

		@include media( map-get( $media, lg ) ) {
			width: 250px;
			min-width: 250px;
		}

		@include media( map-get( $media, sm ) ) {
			width: 50%;
			min-width: 0;
		}
	}

	.order-tour {

		@include media( map-get( $media, sm ) ) {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 0;
		}
	}

	.order-package__bottom {

		@include media( map-get( $media, sm ) ) {
			display: flex;
			display: none;

			.order-package__box--name {
				display: none;
			}

			.order-package__box--card {
				width: 50%;
				max-width: 50%;
				flex: 0 0 50%;
				min-width: 0;
				border: none;

				&:last-child {
					border-left: 1px solid #D9D9D9;
				}
			}
		}
	}

	.order-check {

		@include media( map-get( $media, sm ) ) {
			justify-content: center;
		}
	}

	.order-tour__box--check {

		@include media( map-get( $media, sm ) ) {
			display: inline-block;
			max-width: 50%;
			width: 50%;
			flex: 0 0 50%;
		}
	}

	.order-package__box--name {
		max-width: 100%;
		width: 100%;
		min-width: 0;

		@include media( map-get( $media, lg ) ) {
			min-width: 0;
			width: 100%;
		}
	}

	&__alert {
		font-weight: bold;
		font-size: 20px;
		line-height: 130%;
		margin-bottom: 37px;
		color: #FE0002;

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
			line-height: 150%;
			margin-bottom: 40px;
		}
	}
}
