.burger {
	position: relative;
	width: 22px;
	height: 12px;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	margin-left: 48px;

	@include media( map-get( $media, lg ) ) {
		margin-left: 32px;
	}

	&__box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			width: 100%;
			position: relative;
			display: block;
			height: 2px;
			background: #fff;
	
			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: inherit;
			}
	
			&:after {
				top: -5px;
			}
	
			&:before {
				bottom: -5px;
			}
		}
	}
}