.header {
	background: #131313;
	color: #fff;

	&__content {
		display: flex;
		align-items: center;
		height: 90px;
		position: relative;

		@include media( map-get( $media, sm ) ) {
			height: 74px;
		}
	}

	.logo {
		margin-right: auto;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.042em;

		@include media( map-get( $media, lg ) ) {
			max-width: 144px;
		}

		@include media( map-get( $media, sm ) ) {
			max-width: 100%;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 12px;
		line-height: 1;
		white-space: nowrap;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		li {
			margin-right: 48px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 31px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__callback {
		
		&:after {
			content: '';
			vertical-align: middle;
			display: inline-block;
			margin-left: 5px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #FF0000;
		}
	}

	&__lang {
		font-size: 12px;
		margin-left: 40px;

		@include media( map-get( $media, lg ) ) {
			margin-left: 31px;
		}

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&__btns {
		margin-left: 50px;
		display: flex;
		font-size: 14px;

		@include media( map-get( $media, lg ) ) {
			margin-left: 27px;
		}

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		li {
			margin-right: 40px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 23px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			display: flex;
		}
	}
}