mixin header()
	header.header
		.container
			.header__content
				+logo()
				ul.header__items
					li
						a(href="#") Расписание
					li
						a(href="#").header__callback Обратный звонок
					li
						a(href="tel:84951087465") +7 495 108-74-65
				.header__lang
					+lang()
				ul.header__btns
					li
						a(href="#")
							+icon('user')
				+burger()
				+menu()