.lang {
	position: relative;
	z-index: 10;
	font-weight: 800;

	&.active {

		.lang__list {
			display: flex;
			flex-wrap: wrap;
		}

		.lang__val {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__val {
		background: transparent;
		color: inherit;
		display: flex;
		align-items: center;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: map-get( $color, accent );
			}
		}

		.icon {
			margin-left: 7px;
			font-size: 7px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		left: -10px;
		background: map-get( $color, bgBox );
		padding: 15px 0;
		width: auto;
		display: none;
		margin-top: 10px;

		@include media( map-get( $media, sm ) ) {
			position: static;
			padding: 0;
			margin-top: 0;
			background: transparent;
		}

		li {
			margin-bottom: 10px;
			padding: 0 10px;

			@include media( map-get( $media, sm ) ) {
				padding: 0;
				margin-right: 20px;
				margin-bottom: 0;
			}

			&:last-child {
				margin-bottom: 0;

				@include media( map-get( $media, sm ) ) {
					margin-right: 0;
				}
			}

			&.active {
				color: map-get( $color, accent );

				a {
					// pointer-events: none;
				}
			}
		}
	}
}