mixin menu()
	.menu
		.menu__content
			.menu__box
				ul
					each name in ["Расписание","Маршруты","Гиды","Прокат","Статьи","Безопасность","Физическая подготовка","Пакет продуктов","Вакансии","Контакты"]
						li
							a(href="#")= name
			.menu__box.menu__box--mobile
				ul
					li
						a(href="#") Мои походы
					li
						a(href="#") Обратный звонок
					li
						a(href="tel:84951087465") +7 495 108-74-65 
					li
						+lang()