.menu {
	position: absolute;
	top: 100%;
	margin-top: -23px;
	right: 0;
	background: map-get( $color, bgBox );
	display: none;

	@include media( map-get( $media, lg ) ) {
		margin-top: -19px;
	}

	@include media( map-get( $media, sm ) ) {
		border-top: 1px solid #FFFFFF;
		left: - map-get( $margin, main );
		right: - map-get( $margin, main );
		margin-top: 0;
	}

	&.active {
		display: block;
		z-index: 100;
	}

	&__content {
		padding: 20px 25px;
		min-width: 221px;

		@include media( map-get( $media, sm ) ) {
			padding: 20px;
		}
	}

	li {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 21px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__box {
		margin-top: 23px;
		padding-top: 23px;
		border-top: 1px solid #FFFFFF;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}

		&--mobile {
			display: none;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}
		}
	}
}