.popup-test {
	padding: 30px 30px 0;
	max-width: 639px;

	.popup__top {
		margin-right: -30px;
	}

	.test {
		box-shadow: none;

		&__top {
			padding: 0;
			border-bottom: none;
			line-height: 106.7%;
			letter-spacing: -0.002em;
		}

		&__main {
			padding-left: 0;
			padding-right: 0;
			padding-top: 25px;
			padding-bottom: 25px;
		}

		&__bottom {
			padding: 18px 30px 20px 30px;
			margin-left: -30px;
			margin-right: -30px;
		}

		&-box {
			
			&__question {
				margin-bottom: 20px;
			}

			&__item {
				margin-bottom: 20px;
	
				&:last-child {
					margin-bottom: 0;
				}
	
				&s {
					display: block;
				}
			}
		}
	}
}