.video {
	display: block;
	position: relative;
	height: 42.24vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@include media( map-get( $media, sm ) ) {
		height: 63vw;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -27px;
		transform: translate(-50%,-50%);
		width: 104px;
		height: 104px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../images/play.svg');

		@include media( map-get( $media, sm ) ) {
			width: 41px;
			height: 41px;
			margin-top: 0;
		}
	}
}