.text {

	&__btn {
		padding: 0 40px;
		display: inline-flex;
		margin-top: 55px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 30px;
			font-size: 12px;
			font-weight: 500;
			padding: 0;
			display: flex;
		}
	}

	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {

		li {
			margin-bottom: 12px;
			padding-left: 29px;
			position: relative;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 5px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 10px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #FE0002;
			}

			a {
				color: #207FFF;

				&:hover {
					@include media( map-get( $media-min, lg ), 'min' ) {
						color: map-get( $color, accent );
					}
				}
			}
		}
	}

	&--md {
		font-size: 18px;
		font-weight: 500;
		line-height: 167%;

		@include media( map-get( $media, sm ) ) {

			ul li {
				font-size: 14px;
				font-weight: 500;
				line-height: 150%;
				padding-left: 17px;
				margin-bottom: 17px;

				&:before {
					width: 6px;
					height: 6px;
				}
			}
		}
	}
}