.tours {

	&__help {
		display: none;

		@include media( map-get( $media, sm ) ) {
			display: flex;
			justify-content: center;
			margin-top: 14px;
		}

		a {
			font-weight: 500;
			font-size: 12px;
			line-height: 130%;
			text-decoration-line: underline;
		}
	}

	&-box {
		position: relative;
		margin-bottom: 20px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&.active {

			@include media( map-get( $media, lg ) ) {
				display: block;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			position: absolute;
			top: 13px;
			right: 100%;
			margin-right: 9px;
			width: 80px;
			font-size: 18px;
			line-height: 130%;
			text-align: right;
			letter-spacing: -0.002em;
			color: #5F5F5F;
			font-family: map-get( $ff, cir );

			@include media( map-get( $media, big ) ) {
				position: static;
				width: 100%;
				text-align: left;
				margin-bottom: 10px;
			}

			@include media( map-get( $media, lg ) ) {
				display: none;
			}

			span {
				display: block;

				@include media( map-get( $media, big ) ) {
					display: inline-block;
					margin-left: 5px;
				}
			}
		}

		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 20px;

			@include media( map-get( $media, lg ) ) {
				grid-template-columns: 1fr 1fr;
			}

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin-left: -20px;
				margin-right: -20px;
			}
	
			.slick-track {
		
				@include media( map-get( $media, sm ) ) {
					display: flex;
					align-items: center;
				}
			}
	
			.slick-list {
		
				@include media( map-get( $media, sm ) ) {
					margin: -20px 0;
					padding-top: 20px !important;
					padding-bottom: 20px !important;
				}
			}
		}

		&__slide {

			@include media( map-get( $media, sm ) ) {
				margin: 0 !important;
				padding: 0 2px !important;
				opacity: 0.5;
				transform: scale(.9);
				width: 67.5vw;
				max-width: 67.5vw;
				flex: 0 0 67.5vw;
				transition: .3s;

				&.slick-center {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	&.is-line {

		@include media( map-get( $media-min, lg ), 'min' ) {
			
			.tours {

				&-box {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}

					&__title {
						position: relative;
						z-index: 2;
						top: 0;
						left: 0;
						text-align: left;
						width: 100%;
						background: #FE0002;
						box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
						padding: 12px 13px 11px;
						font-weight: bold;
						font-size: 14px;
						line-height: 130%;
						color: #fff;
						font-family: map-get( $ff, main );

						span {
							display: inline-block;
							margin-left: 5px;
						}
					}

					&__list {
						position: relative;
						z-index: 1;
						box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
						display: block;
					}
				}
			}

			.card {
				border: 1px solid #D9D9D9;
				margin-top: -1px;
				box-shadow: none;

				&:first-child {
					margin-top: 0;
				}

				&:nth-child(odd) {
					background: #F5F5F5;
				}

				&__img {
					display: none;
				}

				&__info {
					display: flex;
					padding: 0;
				}

				&__status {
					top: 0;

					li {
						height: 16px;
						padding: 0px 7px;
						font-weight: 600;
						font-size: 10px;
						line-height: 1;
					}

					.icon {
						display: none;
					}
				}

				&__text {
					display: none;
				}

				&__title {
					font-size: 12px;
					line-height: 150%;
				}

				&__more {
					font-weight: 500;
				}

				&__user {

					&-title {
						font-weight: 500;
						color: #000;
					}

					&-val {
						line-height: 1.4;

						a {
							text-decoration: none;
						}
					}
				}

				&__bottom {
					border: none;
					padding-top: 0;
					padding-right: 132px;
					position: relative;
				}

				&__price {
					margin-bottom: 0;

					.price {
						line-height: 1;

						&__old {
							font-size: 12px;
						}
					}
				}

				&__line {
					margin-top: 3px;
				}

				&__count {
					position: absolute;
					width: 116px;
					top: 0;
					right: 0;
					height: 20px;
					display: flex;
					align-items: center;
				}

				&__date  {
					height: 30px;
					display: flex;
					align-items: center;
				}

				&__action {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 116px;
					margin-top: 0;

					.btn {
						height: 30px;
						letter-spacing: -0.002em;
						font-size: 14px;
						font-family: map-get( $ff, cir );
					}
				}

				&__stat {
					color: #000000;

					.level-icon {

						&--easy {
							background-image: url('../images/level-icon__easy-dark.svg');
						}

						&--medium {
							background-image: url('../images/level-icon__medium-dark.svg');
						}

						&--hard {
							background-image: url('../images/level-icon__hard-dark.svg');
						}
					}
				}

				&__stats {
					margin-right: 4px;
				}

				&__stat {
					margin-right: 7px;

					&:last-child {
						margin-right: 0;
					}

					&-val {
						margin-top: 4px;
					}
				}

				&__more {
					margin-top: 11px;
				}

				&__box {
					border-right: 1px solid #D9D9D9;
					padding: 19px 20px 13px;

					&:last-child {
						border-right: none;
					}

					&-stat {
						margin-bottom: 9px;
						margin-right: 0;
						font-size: 12px;
						font-weight: 500;
						line-height: 15px;
						padding-left: 27px;
						background-size: 17px;
						min-height: 19px;

						&:last-child {
							margin-bottom: 0;
						}

						& > span {
							bottom: 0;
							font-size: 12px;
						}
					}

					&:nth-child(1) {
						width: 140px;
						min-width: 140px;
						flex: 0 0 140px;
						padding-right: 5px;
						display: block;
					}

					&:nth-child(2) {
						flex: 1;
						position: relative;
						padding-right: 125px;
					}

					&:nth-child(3) {
						width: 27.338%;
						max-width: 27.338%;
						flex: 0 0 27.338%;
					}

					&:nth-child(4) {
						width: 326px;
						flex: 0 0 326px;
					}
				}
			}
		}
	}
}

.tour-top {

	&__main {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 103px 0 149px;
		position: relative;

		@include media( map-get( $media, md ) ) {
			padding-bottom: 0;
		}

		@include media( map-get( $media, sm ) ) {
			padding-top: 40px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, #000000 27.08%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.5;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 91px;
			background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, #131313 100%);
			z-index: 1;
		}

		.container {
			position: relative;
			z-index: 2;
			display: flex;

			@include media( map-get( $media, md ) ) {
				display: block;
				padding-bottom: 130px;
			}

			@include media( map-get( $media, sm ) ) {
				padding-bottom: 110px;
			}
		}
	}

	&__info {
		color: #fff;

		.btn {
			margin-top: 45px;
			max-width: 286px;
		}
	}

	&__title {
		margin-bottom: 4px;
		padding-left: 13px;
		position: relative;
		line-height: 1;
		max-width: 590px;

		@include media( map-get( $media, lg ) ) {
			font-size: 45px;
			max-width: 450px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 5px;
			max-width: 260px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: 90%;
			border-right: 6px solid #FE0002;
		}
	}

	&__link {
		padding-left: 13px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.002em;

		@include media( map-get( $media, sm ) ) {
			font-size: 9px;
			padding-left: 10px;
		}

		a {
			text-decoration: underline;
		}
	}

	.btn {

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 100vw;
			z-index: 5;
			width: 100vw;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
			font-weight: bold;
		}
	}

	&__text {
		margin-top: 52px;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.002em;
		max-width: 495px;

		@include media( map-get( $media, lg ) ) {
			font-size: 16px;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
			line-height: 17px;
			margin-top: 42px;
		}
	}

	&__stats {
		margin-left: auto;
		background: rgba(0, 0, 0, 0.6);
		border: 1px solid #000000;
		width: 100%;
		max-width: 314px;
		padding: 30px;
		color: #fff;

		@include media( map-get( $media, md ) ) {
			max-width: 100%;
			margin-top: 60px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px 20px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 24px;
			padding: 20px;
			grid-template-columns: 1fr 1fr;
			grid-gap: 23px 30px;
		}
	}

	&__stat {
		margin-bottom: 42px;
		padding-left: 63px;
		position: relative;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			padding-left: 32px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-pic {
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 100%;
			background-position: left center;
			background-repeat: no-repeat;

			@include media( map-get( $media, sm ) ) {
				width: 21px;
				background-size: contain;
			}
		}

		&-title {
			margin-bottom: 1px;
			font-size: 12px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&-val {
			font-weight: 600;
			font-size: 14px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				font-weight: 500;
				white-space: nowrap;
			}
		}
	}

	&__bottom {
		padding: 69px 0 115px;
		background: #131313;

		@include media( map-get( $media, md ) ) {
			padding-top: 0;
			padding-bottom: 40px;

			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__video {
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&:before {
			content: '';
			display: block;
			padding-top: 42.25%;

			@include media( map-get( $media, sm ) ) {
				padding-top: 50.25%;
			}
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: 10px;
			transform: translate(-50%,-50%);
			max-width: 220px;
			line-height: 130%;
			font-weight: 600;
			font-size: 18px;
			color: #fff;
			text-align: center;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				line-height: 130%;
				font-weight: 600;
				margin-top: 4px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 100%;
				margin-bottom: 26px;
				width: 90px;
				height: 90px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('../images/play.svg');

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 12px;
					width: 39px;
					height: 39px;
				}
			}
		}
	}
}