.counter {
	display: flex;
	align-items: center;

	a {
		display: block;
		width: 28px;
		min-width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 2px solid #FE0002;
		position: relative;

		@include media( map-get( $media, md ) ) {
			width: 16px;
			min-width: 16px;
			height: 16px;
			border-width: 1px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			border-bottom: 2px solid #FE0002;
			transform: translate(-50%,-50%);

			@include media( map-get( $media, md ) ) {
				width: 6px;
				border-width: 1px;
			}
		}
		
		&[data-btn="inc"] {

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				border-bottom: 2px solid #FE0002;
				transform: translate(-50%,-50%) rotate(90deg);

				@include media( map-get( $media, md ) ) {
					width: 6px;
					border-width: 1px;
				}
			}
		}
	}

	span {
		display: block;
		width: 36px;
		min-width: 36px;
		text-align: center;
		font-weight: 500;
		font-size: 24px;
		color: #53585E;

		@include media( map-get( $media, md ) ) {
			width: 16px;
			min-width: 16px;
			font-size: 12px;
			font-weight: 500;
		}
	}
}