.top-box {
	position: relative;

	&__main {
		background-size: cover;
		background-position: 80% center;
		padding: 160px 0 220px;

		@include media( map-get( $media, lg ) ) {
			padding: 119px 0 140px;
		}

		@include media( map-get( $media, sm ) ) {
			padding: 93px 0 175px;
			background-position: 63% bottom;
		}
	}

	&__content {
		position: relative;
	}

	&__title {
		color: #fff;
		position: relative;
		margin-bottom: 110px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 105px;
			margin-left: 24px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 73px;
			margin-left: 10px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -24px;
			height: 100%;
			border-right: 11px solid #FE0002;

			@include media( map-get( $media, lg ) ) {
				height: 90%;
				top: 50%;
				transform: translateY(-50%);
			}

			@include media( map-get( $media, sm ) ) {
				left: -10px;
				border-right-width: 5px;
				height: 95%;
			}
		}
	}

	&__btn {
		max-width: 345px;

		@include media( map-get( $media, lg ) ) {
			max-width: 294px;
			margin-left: 24px;
		}

		@include media( map-get( $media, sm ) ) {
			max-width: 189px;
			margin-left: 0;
		}
	}

	.social {
		position: absolute;
		bottom: 3px;
		right: 0;
		font-size: 18px;
		color: #fff;

		@include media( map-get( $media, lg ) ) {
			bottom: -6px;
		}

		@include media( map-get( $media, sm ) ) {
			bottom: -63px;
		}

		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__cards {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		margin-top: -87px;

		@include media( map-get( $media, lg ) ) {
			position: static;
			background: #131313;
			margin-top: 0;
		}

		.container {
			display: flex;
			justify-content: flex-end;

			@include media( map-get( $media, sm ) ) {
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}

	&__card {
		height: 250px;
		width: 423px;
		position: relative;
		margin-right: 32px;
		background-size: cover;
		background-position: center;

		@include media( map-get( $media, lg ) ) {
			margin-top: -40px;
			margin-right: 20px;
			width: calc(50% - 10px);
			max-width: calc(50% - 10px);
			flex: 0 0 calc(50% - 10px);
			height: auto;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: -26px;
			margin-right: 0;
			width: calc(100% - 16px);
			max-width: calc(100% - 16px);
			flex: 0 0 calc(100% - 16px);
			margin-left: auto;
			margin-right: auto;
		}

		&:after {

			@include media( map-get( $media, lg ) ) {
				content: '';
				display: block;
				padding-top: 57.9%;
			}
		}

		&:last-child {
			margin-right: 0;

			@include media( map-get( $media, sm ) ) {
				margin-top: 19px;
				margin-right: auto;
				margin-bottom: 0;
			}
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 90.1%);
			z-index: 1;
			height: 176px;

			@include media( map-get( $media, lg ) ) {
				height: auto;
				padding-top: 40.9%;
			}
		}

		&-text {
			position: absolute;
			z-index: 2;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0 23px 23px;
			font-size: 17px;
			color: #fff;

			@include media( map-get( $media, lg ) ) {
				font-size: 14px;
				padding: 0 20px 20px;
			}

			@include media( map-get( $media, xl ) ) {
				font-size: 10px;
				padding: 0 15px 15px;
			}
		}
	}
}