.filter {
	margin-bottom: 40px;
	background: #F5F5F5;

	@include media( map-get( $media, lg ) ) {
		background: transparent;
		margin-bottom: 0;
	}

	&__top {
		display: flex;
		min-height: 83px;
		padding: 22px 0 20px;

		@include media( map-get( $media, lg ) ) {
			padding: 12px 0 11px;
			min-height: 0;
		}
	}

	&-btn {
		display: flex;
		align-items: center;
		background: transparent;
		font-weight: 500;
		font-size: 18px;
		height: 44px;

		@include media( map-get( $media, lg ) ) {
			height: auto;
		}

		.icon {
			font-size: 20px;
			margin-right: 13px;
			color: #FE0002;

			@include media( map-get( $media, lg ) ) {
				margin-right: 0;
				font-size: 24px;
			}
		}

		&__text {
			text-decoration: underline;

			@include media( map-get( $media, lg ) ) {
				display: none;
			}

			span {

				&:nth-child(1) {
					display: none;
				}
			}
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #FE0002;
			}
		}
	}

	&__items {
		flex: 1;
		margin: 0 11px -10px 22px;
		display: flex;
		flex-wrap: wrap;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__item {
		margin-right: 10px;
		margin-bottom: 10px;
		background: #fff;
		height: 44px;
		white-space: nowrap;
		line-height: 44px;
		padding: 0 15px;
		font-size: 14px;
		color: #5F5F5F;
		display: flex;
		align-items: center;

		&-close {
			margin-left: 9px;
			background: transparent;
			width: 9px;
			height: 9px;
			position: relative;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				border-bottom: 1px solid #000;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(45deg);
			}

			&:before {
				transform: translate(-50%,-50%) rotate(-45deg);
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {

					&:after,
					&:before {
						border-bottom-color: map-get( $color, accent );
					}
				}
			}
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		margin-left: auto;
		height: 44px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&-title {
			line-height: 1;
			letter-spacing: -0.002em;
			font-size: 16px;
			font-family: map-get( $ff, cir );
			margin-right: 21px;
		}
	}

	&__btn {
		display: flex;
		margin-right: 12px;
		font-size: 27px;
		color: #C4C4C4;
		background: transparent;

		&.active {
			color: #FE0002;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #FE0002;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__main {
		display: none;
		position: relative;
		padding-top: 23px;
		padding-bottom: 1px;

		@include media( map-get( $media, lg ) ) {
			width: calc(100vw - 40px);
		}

		&:before {
			content: '';
			position: absolute;
			top: -13px;
			left: 0;
			width: 100%;
			border-top: 1px solid #C4C4C4;
		}

		.popup__title {
			font-size: 16px;
		}
	}

	&__select {
		display: none;

		@include media( map-get( $media, lg ) ) {
			display: block;
			margin-left: auto;

			.jq-selectbox__dropdown {
				top: 100% !important;
				width: 270px;
				left: auto !important;
				right: 0 !important;

				li {
					min-height: 49px;
				}
			}

			.jq-selectbox__select {
				padding-right: 26px;
				height: 32px;
			}

			.jq-selectbox__select-text {
				font-weight: 500;
				font-size: 14px;
				color: #000000;
				line-height: 32px;
			}

			.jq-selectbox__trigger {
				width: 26px;
				min-width: 26px;
			}

			.jq-selectbox__trigger-arrow {
				right: 5px;
				top: 11px;
			}
		}
	}

	&__line {

		&--action {
			display: none;

			@include media( map-get( $media, lg ) ) {
				display: flex;
				justify-content: center;
				padding-bottom: 25px;
				margin-top: 20px;

				.btn {
					width: 155px;
					height: 40px;
					font-weight: 500;
					font-size: 12px;
				}
			}
		}

		.form__label--area {

			@include media( map-get( $media, lg ) ) {
				max-width: calc(100% - 12px);
				margin-right: 12px;

				.custom-select__select,
				.form__select,
				.jq-selectbox__select {
					background: #F5F5F5;
				}
			}
		}
	}
}
