.order {

	&__title {

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&-steps {

		&__controls {
			display: flex;
			align-items: center;
			margin-bottom: 51px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 22px;
			}
		}

		&--all {
			display: block;
			color: #FE0002;
			background: transparent;
			height: auto;
			margin: 0;
			padding: 0;
			line-height: 1;
			font-size: 14px;
			font-weight: 500;
			width: auto;
		}

		&__line {
			display: flex;
			align-items: baseline;
			margin-bottom: 32px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 15px;
			}
		}

		&__box {
			display: none;

			&:first-child {
				.order-steps__box-action .btn {

					@include media( map-get( $media-min, sm ), 'min' ) {
						min-width: 160px;
					}
				}
			}

			&.active {
				display: inline-block;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}
			}

			&-action {
				margin-top: 40px;
				display: flex;
				justify-content: flex-end;

				@include media( map-get( $media, sm ) ) {
					position: fixed;
					z-index: 50;
					bottom: 0;
					left: 0;
					width: 100vw;
					background: #FFFFFF;
					box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
					padding: 15px 20px;
				}

				.btn {
					width: 100%;
					min-width: 120px;
					max-width: 120px;
					margin-left: 10px;
					font-size: 12px;
					font-weight: bold;

					@include media( map-get( $media, sm ) ) {
						max-width: 103px;
						min-width: 103px;
					}

					&:first-child {
						margin-left: 0;
					}

					&.order__btn--big {
						min-width: 160px;
						max-width: 160px;
					}
				}
			}

			&-info {
				margin-bottom: 30px;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			&-line {
				margin-bottom: 15px;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					font-weight: 600;
				}
			}

			&-cont {
				display: inline-block;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}
			}
		}
	}

	&-step {
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: #F5F5F5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		font-weight: bold;
		margin-right: 73px;
		position: relative;
		color: #FE0002;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		&.active {
			background: #FE0002;
			color: #FFFFFF;

			@include media( map-get( $media, sm ) ) {
				display: block;
				color: #FE0002;
				background: transparent;
				height: auto;
				margin: 0;
				padding: 0;
				line-height: 1;
				font-size: 14px;
				font-weight: 500;
				width: auto;
			}

			& ~ .order-step {
				color: #000;
			}
		}

		&:last-child {
			
			&:after {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
			margin-left: 24px;
			width: 25px;
			height: 13px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: url('../images/long-arrow-right.svg');

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&__title {
			font-weight: 600;
			font-size: 20px;
			margin-right: 40px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				margin-right: 0;
			}

			&-val {

				@include media( map-get( $media, sm ) ) {
					
					&:before {
						content: attr(data-title);
						font-size: 12px;
						margin-right: 8px;
						font-weight: 400;
					}
				}
			}
		}

		&__callback {
			font-weight: 500;
			font-size: 14px;
			color: #FE0002;
			text-decoration: underline;

			@include media( map-get( $media, sm ) ) {
				position: absolute;
				top: 0;
				right: 20px;
				font-size: 12px;
			}
		}
	}

	&-tour {
		display: flex;
		cursor: pointer;

		@include media( map-get( $media, sm ) ) {
			display: block;
			position: relative;
			padding-top: 2px;
			padding-bottom: 13px;
		}

		&--table {

			@include media( map-get( $media, sm ) ) {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 0px;
			}
		}

		&__box {
			padding: 14px  18px 14px;
			border-right: 1px solid #D9D9D9;
			min-height: 58px;

			@include media( map-get( $media, sm ) ) {
				border: none;
				padding: 5px 15px;
				display: block;
				min-height: 0;
			}

			&:last-child {
				border-right: none;
			}

			&--info {
				width: 100%;
				max-width: 489px;
				display: flex;
				flex-direction: row-reverse;

				@include media( map-get( $media, sm ) ) {
					max-width: 100%;
					display: block;
				}
			}

			&--calendar {
				width: 145px;

				@include media( map-get( $media, sm ) ) {
					width: 100%;
					padding-top: 12px;
					padding-bottom: 10px;
					padding-left: 18px;
					padding-right: 18px;
				}
			}

			&--instructor {
				max-width: 346px;
				width: 100%;

				@include media( map-get( $media, sm ) ) {
					max-width: 100%;
					margin-bottom: 33px;
					position: relative;
					padding-bottom: 8px;
					padding-left: 18px;
					padding-right: 18px;

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 15px;
						right: 15px;
						border-bottom: 1px solid #D9D9D9;
					}
				}
			}

			&--check {
				width: 220px;
				min-width: 220px;

				@include media( map-get( $media, sm ) ) {
					min-width: 0;
					width: 50%;
					display: flex;
					justify-content: center;
					padding-bottom: 11px;

					&:last-child {
						border-left: 1px solid #D9D9D9;
					}
				}
			}

			&--chck {
				
				@include media( map-get( $media, sm ) ) {
					position: absolute;
					bottom: 21px;
					right: 22px;
					padding: 0;

					.order-tour__check {

						&:after {
							content: attr(data-title);
							font-weight: bold;
							font-size: 10px;
							line-height: 130%;
						}
					}

					.form__check-box {
						border-radius: 0;
						border-width: 1px;
						width: 12px;
						min-width: 12px;
						height: 12px;
						margin-right: 8px;

						&:after {
							width: 4px;
							height: 8px;
							background: transparent;
							border-radius: 0;
							transform: rotate(45deg);
							border: none;
							border-bottom: 1px solid #000;
							border-right: 1px solid #000;
							left: 3px;
							position: relative;
						}
					}
				}

				&-alt {
					@include media( map-get( $media, sm ) ) {
						right: auto;
						left: 19px;
						bottom: 18px;
					}
				}
			}

			&--price {
				min-width: 229px;

				@include media( map-get( $media, sm ) ) {
					min-width: 0;
				}
			}
		}

		&__info {
			flex: 1;
			margin-right: 20px;

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin-right: 0;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 12px;
			line-height: 150%;
			margin-bottom: 10px;
			display: block;

			@include media( map-get( $media, sm ) ) {
				font-size: 10px;
				font-weight: 600;
				line-height: 130%;
				margin-bottom: 7px;
			}
		}

		&__text {
			font-size: 12px;
			line-height: 140%;
			display: block;

			@include media( map-get( $media, sm ) ) {
				font-size: 8px;
				line-height: 130%;
			}
		}

		&__stats {
			margin-top: -3px;
			margin-right: 8px;

			@include media( map-get( $media, sm ) ) {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				margin-right: 0;
				margin-top: 0;
				height: 26px;
			}

			.card__stat {
				color: #000000;
				margin-right: 7px;

				@include media( map-get( $media, sm ) ) {
					&:last-child {
						margin-right: 0;
					}
				}

				&s {
					position: static;

					@include media( map-get( $media, sm ) ) {
						position: relative;
						top: 4px;
						right: 0;
					}
				}

				&-val {
					position: relative;
					top: -5px;

					@include media( map-get( $media, sm ) ) {
						top: -8px;
					}
				}
			}

			.card__box-stat {
				display: block;
				white-space: nowrap;
				font-weight: 500;
				margin-top: 1px;

				@include media( map-get( $media, sm ) ) {
					margin-top: 0;
					position: relative;
					top: -3px;
					padding-left: 13px;
					background-size: 10px;
				}

				& > span {
					font-size: 12px;

					@include media( map-get( $media, sm ) ) {
						font-size: 8px;
						line-height: 1;
						position: relative;
						bottom: 1px;
					}
				}
			}
		}

		&__check {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			.form__check-box {
				margin-right: 0;
			}
		}

		&__price {
			line-height: 26px;

			@include media( map-get( $media, sm ) ) {
				display: block;
				padding-right: 80px;
				margin-top: -5px;
			}

			.price {

				&__new {
					font-weight: 500;

					span {

						&:first-child {
							font-size: 16px;

							@include media( map-get( $media, sm ) ) {
								font-size: 10px;
							}
						}
					}
				}

				&__old {
					font-size: 12px;
					margin-left: 11px;
				}
			}
		}

		&__date {
			display: block;
			margin-top: 10px;
			font-size: 10px;

			@include media( map-get( $media, sm ) ) {
				line-height: 130%;
				font-size: 8px;
				margin-top: -2px;
			}
		}

		&__calendar {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			background-image: url('../images/calendar.svg');
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 16px;
			padding-left: 27px;
			height: 100%;
			white-space: nowrap;
			display: flex;
			align-items: center;
		}

		&__instructor {
			display: flex;
			align-items: center;
			height: 100%;

			&-avatar {
				width: 24px;
				min-width: 24px;
				height: 24px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 10px;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			&-info {
				font-size: 10px;
				line-height: 130%;

				span {
					font-weight: 500;
				}
			}
		}
	}

	&-check {
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;

		@include media( map-get( $media, sm ) ) {
			min-height: 26px;
		}

		&:after {
			content: '';
			color: #FE0002;
			display: block;
		}

		&--yes {

			&:after {
				width: 10px;
				height: 17px;
				border-bottom: 2px solid;
				border-right: 2px solid;
				transform: rotate(45deg);

				@include media( map-get( $media, sm ) ) {
					width: 6px;
					height: 14px;
				}
			}
		}

		&--no {

			&:after {
				width: 21px;
				border-bottom: 2px solid;

				@include media( map-get( $media, sm ) ) {
					width: 16px;
				}
			}
		}
	}

	&-package {
		position: relative;
		padding-bottom: 60px;

		@include media( map-get( $media, sm ) ) {
			padding-bottom: 0;
		}

		.page-table__line:nth-child(odd) {

			@include media( map-get( $media, sm ) ) {
				background: transparent;
			}
		}

		.order-package__main .page-table__line {
			@include media( map-get( $media, sm ) ) {
				border-top: none;
			}
		}

		.order-package__main .page-table__line .order-tour {
			@include media( map-get( $media, sm ) ) {
				padding-top: 0;
			}
		}

		&__bottom {
			display: flex;
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;

			.order-package__box {
				height: 100px;

				.order-package__card {
					height: 100%;
					display: flex;
					align-items: center;
				}

				.btn {
					height: 40px;
					width: 100%;
					max-width: 224px;
					font-weight: bold;
					font-size: 12px;
				}
			}
		}

		&__top {
			display: flex;
			border-right: 1px solid #D9D9D9;
			border-left: 1px solid transparent;

			.order-package__box--name {

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}

		&__card {

			&-date {
				margin-top: 7px;
				line-height: 130%;
				font-size: 10px;
				color: #5F5F5F;

				@include media( map-get( $media, sm ) ) {
					margin-top: 6px;
				}
			}

			&-title {
				font-weight: bold;
				font-size: 20px;
				line-height: 130%;
				margin-bottom: 20px;

				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
					line-height: 130%;
					font-weight: 600;
					margin-bottom: 7px;
				}
			}

			&-price {

				.price__new {

					span:first-child {
						font-size: 16px;

						@include media( map-get( $media, sm ) ) {
							font-size: 10px;
						}
					}
				}

				.price__old {

					@include media( map-get( $media, sm ) ) {
						margin-left: 6px;
						font-size: 8px;
					}
				}
			}

			&-action {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 60px;
				display: flex;
				align-items: center;
				padding-left: 20px;
				padding-right: 20px;

				@include media( map-get( $media, sm ) ) {
					position: static;
					margin-top: 20px !important;
					padding-left: 0;
					padding-right: 0;
					height: auto;

					.form__label-name {
						font-size: 10px;
						font-weight: bold;
						line-height: 12px;
					}

					.form__check-box {
						width: 12px;
						min-width: 12px;
						height: 12px;

						&:after {
							width: 4px;
							height: 8px;
							background: transparent;
							border-radius: 0;
							transform: rotate(45deg);
							border: none;
							border-bottom: 1px solid #000;
							border-right: 1px solid #000;
							left: 3px;
							position: relative;
						}
					}
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 100%;
					height: 100%;
					border-left: 1px solid #D9D9D9;
				}
			}
		}

		&__box {
			padding: 7px 20px 20px;
			border-right: 1px solid #D9D9D9;
			width: 220px;
			min-width: 220px;
			max-width: 220px;
			position: relative;

			@include media( map-get( $media, sm ) ) {
				width: 50%;
				min-width: 0;
				max-width: 50%;
				padding: 8px 10px;
			}

			&:last-child {
				border-right: none;
			}

			&--card {

				@include media( map-get( $media, sm ) ) {
					padding-bottom: 17px;
				}
			}

			&--name {
				width: 100%;
				max-width: 368px;
				font-weight: 500;
				font-size: 12px;

				@include media( map-get( $media, sm ) ) {
					max-width: 100%;
					font-weight: 400;
					font-size: 10px;
					padding: 14px 10px 13px;
					background: #F5F5F5;
				}
			}
		}

		&__main {
			max-height: 178px;
			border: 1px solid #D9D9D9;

			@include media( map-get( $media, sm ) ) {
				min-height: 178px;
			}

			.page-table__line {
				border-left: none;
				border-right: none;

				&:first-child {
					border-top: none;
				}

				&:last-child {
					border-bottom: none;
				}

				.order-tour {
					cursor: initial;
				}
			}

			.scroll-element.scroll-y.scroll-scrolly_visible {
				right: 0;

				@include media( map-get( $media, sm ) ) {
					width: 2px;
				}
			}
		}
	}

	&-user {
		margin-bottom: 32px;

		@include media( map-get( $media, sm ) ) {
			display: none;
			margin-bottom: 0;

			&.active {
				display: block;
			}
		}

		&:last-child {
			margin-bottom: 0;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 0px;
			}
		}

		.form__label {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&s {
			width: 100vw;
			max-width: 454px;

			@include media( map-get( $media, sm ) ) {
				max-width: 100%;
			}

			&__controls {
				display: none;

				@include media( map-get( $media, sm ) ) {
					display: flex;
					flex-wrap: wrap;
					margin-right: -23px;
					margin-bottom: 11px;
					padding-top: 6px;
				}
			}

			&__btn {

				@include media( map-get( $media, sm ) ) {
					background: transparent;
					margin-right: 23px;
					margin-bottom: 10px;
					line-height: 130%;
					font-weight: 500;
					font-size: 12px;
					border-bottom: 1px solid transparent;

					&.active {
						border-bottom: 1px solid #FE0002;
						color: #FE0002;
					}
				}
			}

			&__more {
				margin-top: 30px;

				@include media( map-get( $media, sm ) ) {
					margin-top: 20px;
				}

				button {
					display: inline-flex;
					align-items: center;
					font-size: 14px;
					cursor: pointer;
					background: transparent;

					@include media( map-get( $media, sm ) ) {
						font-size: 12px;
					}

					&:hover {

						@include media( map-get( $media-min, lg ), 'min' ) {
							color: map-get( $color, accent );
						}
					}

					span {
						margin-right: 10px;
						border-radius: 50%;
						width: 22px;
						min-width: 22px;
						height: 22px;
						border: 1px solid #FE0002;
						position: relative;

						&:after,
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							width: 12px;
							border-bottom: 1px solid #FE0002;
						}

						&:after {
							transform: translate(-50%,-50%);
						}

						&:before {
							transform: translate(-50%,-50%) rotate(90deg);
						}
					}
				}
			}
		}

		&__title {
			line-height: 112%;
			margin-bottom: 30px;
			font-weight: 500;
			margin-bottom: 12px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&-pay {
		background: #F5F5F5;
		padding: 30px;
		max-width: 825px;
		width: 100%;

		@include media( map-get( $media, sm ) ) {
			padding: 20px 15px 0;
			margin-top: 28px;
		}

		&__top {
			display: flex;
			border-bottom: 1px solid #D9D9D9;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}

			& > * {
				padding-bottom: 15px;
			}
		}

		&__title {
			margin-bottom: 19px;
			font-weight: 600;
			line-height: 160%;

			@include media( map-get( $media, sm ) ) {
				font-family: map-get( $ff, cir );
				font-size: 14px;
				line-height: 150%;
				font-weight: 400;
				margin-bottom: 6px;
			}
		}

		&__date {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 15px;
			padding-left: 27px;
			background-repeat: no-repeat;
			background-position: left center;
			background-image: url('../images/calendar.svg');
			min-height: 17px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, sm ) ) {
				display: inline-flex;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}

		&__package {
			font-weight: 600;
			font-size: 12px;
			line-height: 130%;

			@include media( map-get( $media, sm ) ) {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		&__help {
			background-repeat: no-repeat;
			background-position: right top;
			background-image: url('../images/order__icon-1.svg');
			padding-right: 53px;
			padding-top: 4px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}

			&-title {
				margin-bottom: 10px;
				font-weight: 600;
				font-size: 12px;
				line-height: 130%;
			}

			&-text {
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				max-width: 197px;
			}
		}

		&__main {
			display: flex;

			@include media( map-get( $media, sm ) ) {
				display: block;
			}

			.order-pay__col--lg {
				padding-top: 16px;

				@include media( map-get( $media, sm ) ) {
					padding-top: 24px;
				}
			}

			.order-pay__col--sm {
				padding-top: 30px;

				@supports (flex-direction: column) {
					display: flex;
					flex-direction: column;
				}

				@include media( map-get( $media, sm ) ) {
					margin-left: -15px;
					margin-right: -15px;
					padding-left: 0;
					padding-right: 0;
					background: #fff;
					width: auto;
					max-width: initial;
					margin-top: 15px;
					padding-top: 40px;
				}
			}
		}

		&__col {

			&--lg {
				width: 60.87%;
				max-width: 60.87%;
				flex: 0 0 60.87%;
				border-right: 1px solid #D9D9D9;
				padding-right: 23px;

				@include media( map-get( $media, md ) ) {
					min-width: 450px;
				}

				@include media( map-get( $media, sm ) ) {
					min-width: 0;
					width: 100%;
					max-width: 100%;
					border: none;
					padding: 0 0 16px 0;
				}
			}

			&--sm {
				width: 39.13%;
				max-width: 39.13%;
				flex: 0 0 39.13%;
				padding-left: 30px;

				@include media( map-get( $media, md ) ) {
					max-width: 310px;
					flex: 1;
				}

				@include media( map-get( $media, sm ) ) {
					min-width: 0;
					width: 100%;
					max-width: 100%;
				}
			}
		}

		&__code {
			display: flex;
			align-items: flex-end;
			margin-bottom: 26px;
			padding-right: 44px;

			@include media( map-get( $media, sm ) ) {
				display: block;
				padding-right: 0;
				margin-bottom: 31px;
			}

			.form__label {
				margin-bottom: 0;
				flex: 1;
				margin-right: 10px;

				@include media( map-get( $media, sm ) ) {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}

			.btn {
				width: 122px;

				@include media( map-get( $media, sm ) ) {
					margin-left: auto;
				}
			}
		}

		&__summa {
			max-width: 235px;
			background: #FFFFFF;
			border: 1px solid #D9D9D9;
			margin-bottom: 20px;
			padding: 15px 20px;
			display: none;

			@include media( map-get( $media, sm ) ) {
				max-width: 100%;
				padding: 0;
				border: none;
				order: -5;
				margin-bottom: 29px;
			}

			&.active {
				display: block;
			}

			&-line {
				margin-top: 10px;
				font-weight: 500;
				font-size: 12px;
				line-height: 130%;

				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
					margin-top: 11px;
				}

				span {
					font-weight: 600;
				}

				&:first-child {
					margin-top: 0;
				}

				&.active {
					display: block;
				}

				&--sale {
					display: none;
				}

				&--alt {
					padding-top: 10px;
					border-top: 1px solid #D9D9D9;
					display: none;
				}
			}
		}

		&__options {
			margin-bottom: 30px;

			&-title {
				margin-bottom: 13px;
				font-weight: 500;
				font-size: 14px;
				line-height: 32px;

				@include media( map-get( $media, sm ) ) {
					font-family: map-get( $ff, cir );
					font-weight: 400;
					line-height: 150%;
					margin-bottom: 10px;
				}
			}

			&-list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 15px;

				@include media( map-get( $media, sm ) ) {
					grid-template-columns: 1fr;
				}
			}
		}

		&__option {
			position: relative;
			background: #FFFFFF;
			border: 1px solid #D9D9D9;
			padding: 22px 20px;
			cursor: pointer;

			@supports (flex-direction: column) {
				display: flex;
				flex-direction: column;
			}

			@include media( map-get( $media, sm ) ) {
				border: none;
				padding: 17px 15px;
			}

			&[data-type="full"] {

				.order-pay__option-title {

					&:before {
						background-image: url('../images/pic-ful-pay.svg');
					}
				}
			}

			&[data-type="installment"] {

				.order-pay__option-title {

					&:before {
						width: 24px;
						height: 24px;
						margin-left: 19px;
						background-image: url('../images/pic-installment-pay.svg');
					}

					&:after {

						@include media( map-get( $media, sm ) ) {
							content: '';
							display: inline-block;
							width: 12px;
							height: 12px;
							background-size: contain;
							margin-left: 9px;
							background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.5 0C6.81886 0 5.17547 0.498516 3.77766 1.43251C2.37984 2.3665 1.29037 3.69402 0.647028 5.24719C0.00368293 6.80036 -0.164645 8.50943 0.163329 10.1583C0.491303 11.8071 1.30085 13.3217 2.4896 14.5104C3.67834 15.6992 5.1929 16.5087 6.84174 16.8367C8.49057 17.1646 10.1996 16.9963 11.7528 16.353C13.306 15.7096 14.6335 14.6202 15.5675 13.2223C16.5015 11.8245 17 10.1811 17 8.5C16.9976 6.24641 16.1013 4.08582 14.5077 2.49228C12.9142 0.898753 10.7536 0.00243743 8.5 0V0ZM8.67709 3.54167C8.88723 3.54167 9.09265 3.60398 9.26738 3.72073C9.44211 3.83748 9.57829 4.00342 9.65871 4.19757C9.73913 4.39171 9.76017 4.60535 9.71917 4.81145C9.67817 5.01755 9.57698 5.20687 9.42839 5.35547C9.27979 5.50406 9.09048 5.60525 8.88437 5.64625C8.67827 5.68725 8.46463 5.66621 8.27049 5.58579C8.07634 5.50537 7.9104 5.36919 7.79365 5.19446C7.6769 5.01973 7.61459 4.81431 7.61459 4.60417C7.61459 4.32237 7.72653 4.05212 7.92579 3.85287C8.12504 3.65361 8.39529 3.54167 8.67709 3.54167ZM10.2708 13.1042H7.4375C7.24964 13.1042 7.06948 13.0295 6.93664 12.8967C6.8038 12.7639 6.72917 12.5837 6.72917 12.3958C6.72917 12.208 6.8038 12.0278 6.93664 11.895C7.06948 11.7621 7.24964 11.6875 7.4375 11.6875H7.96875C8.01572 11.6875 8.06076 11.6688 8.09397 11.6356C8.12718 11.6024 8.14584 11.5574 8.14584 11.5104V8.32292C8.14584 8.27595 8.12718 8.23091 8.09397 8.1977C8.06076 8.16449 8.01572 8.14583 7.96875 8.14583H7.4375C7.24964 8.14583 7.06948 8.07121 6.93664 7.93837C6.8038 7.80553 6.72917 7.62536 6.72917 7.4375C6.72917 7.24964 6.8038 7.06947 6.93664 6.93663C7.06948 6.80379 7.24964 6.72917 7.4375 6.72917H8.14584C8.52156 6.72917 8.8819 6.87842 9.14757 7.1441C9.41325 7.40978 9.5625 7.77011 9.5625 8.14583V11.5104C9.5625 11.5574 9.58116 11.6024 9.61437 11.6356C9.64758 11.6688 9.69262 11.6875 9.73959 11.6875H10.2708C10.4587 11.6875 10.6389 11.7621 10.7717 11.895C10.9045 12.0278 10.9792 12.208 10.9792 12.3958C10.9792 12.5837 10.9045 12.7639 10.7717 12.8967C10.6389 13.0295 10.4587 13.1042 10.2708 13.1042Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						}
					}
				}
			}

			&-top {
				margin-bottom: 14px;
				display: block;

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 8px;
				}
			}

			&-title {
				font-weight: 600;
				font-size: 12px;
				line-height: 1;
				display: inline-block;
				position: relative;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}

				&:before {
					content: '';
					position: absolute;
					bottom: -3px;
					width: 20px;
					height: 20px;
					left: 100%;
					margin-left: 16px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;

					@include media( map-get( $media, sm ) ) {
						right: 0;
						left: auto;
						bottom: -7px;
					}
				}
			}

			&-i {
				position: absolute;
				top: 15px;
				right: 15px;
				width: 17px;
				height: 17px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.5 0C6.81886 0 5.17547 0.498516 3.77766 1.43251C2.37984 2.3665 1.29037 3.69402 0.647028 5.24719C0.00368293 6.80036 -0.164645 8.50943 0.163329 10.1583C0.491303 11.8071 1.30085 13.3217 2.4896 14.5104C3.67834 15.6992 5.1929 16.5087 6.84174 16.8367C8.49057 17.1646 10.1996 16.9963 11.7528 16.353C13.306 15.7096 14.6335 14.6202 15.5675 13.2223C16.5015 11.8245 17 10.1811 17 8.5C16.9976 6.24641 16.1013 4.08582 14.5077 2.49228C12.9142 0.898753 10.7536 0.00243743 8.5 0V0ZM8.67709 3.54167C8.88723 3.54167 9.09265 3.60398 9.26738 3.72073C9.44211 3.83748 9.57829 4.00342 9.65871 4.19757C9.73913 4.39171 9.76017 4.60535 9.71917 4.81145C9.67817 5.01755 9.57698 5.20687 9.42839 5.35547C9.27979 5.50406 9.09048 5.60525 8.88437 5.64625C8.67827 5.68725 8.46463 5.66621 8.27049 5.58579C8.07634 5.50537 7.9104 5.36919 7.79365 5.19446C7.6769 5.01973 7.61459 4.81431 7.61459 4.60417C7.61459 4.32237 7.72653 4.05212 7.92579 3.85287C8.12504 3.65361 8.39529 3.54167 8.67709 3.54167ZM10.2708 13.1042H7.4375C7.24964 13.1042 7.06948 13.0295 6.93664 12.8967C6.8038 12.7639 6.72917 12.5837 6.72917 12.3958C6.72917 12.208 6.8038 12.0278 6.93664 11.895C7.06948 11.7621 7.24964 11.6875 7.4375 11.6875H7.96875C8.01572 11.6875 8.06076 11.6688 8.09397 11.6356C8.12718 11.6024 8.14584 11.5574 8.14584 11.5104V8.32292C8.14584 8.27595 8.12718 8.23091 8.09397 8.1977C8.06076 8.16449 8.01572 8.14583 7.96875 8.14583H7.4375C7.24964 8.14583 7.06948 8.07121 6.93664 7.93837C6.8038 7.80553 6.72917 7.62536 6.72917 7.4375C6.72917 7.24964 6.8038 7.06947 6.93664 6.93663C7.06948 6.80379 7.24964 6.72917 7.4375 6.72917H8.14584C8.52156 6.72917 8.8819 6.87842 9.14757 7.1441C9.41325 7.40978 9.5625 7.77011 9.5625 8.14583V11.5104C9.5625 11.5574 9.58116 11.6024 9.61437 11.6356C9.64758 11.6688 9.69262 11.6875 9.73959 11.6875H10.2708C10.4587 11.6875 10.6389 11.7621 10.7717 11.895C10.9045 12.0278 10.9792 12.208 10.9792 12.3958C10.9792 12.5837 10.9045 12.7639 10.7717 12.8967C10.6389 13.0295 10.4587 13.1042 10.2708 13.1042Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			&-price {
				display: block;
				margin-bottom: 7px;

				.price {

					&__new {
						font-size: 14px;

						@include media( map-get( $media, sm ) ) {
							font-size: 12px;
						}
					}

					&__old {
						font-size: 12px;

						@include media( map-get( $media, sm ) ) {
							font-size: 10px;
						}
					}
				}
			}

			&-date {
				margin-top: -1px;
				font-size: 8px;
				color: #5F5F5F;
				display: block;
			}

			&-check {

				.form__label-name {

					@include media( map-get( $media, sm ) ) {
						font-size: 10px;
						font-weight: bold;
					}
				}
			}

			&-info {
				display: block;
				margin-bottom: 13px;
				font-weight: 500;
				font-size: 12px;
				line-height: 150%;

				@supports (flex-direction: column) {
					flex: 1;
				}

				@include media( map-get( $media, sm ) ) {
					font-size: 10px;
					padding-bottom: 16px;
					margin-bottom: 16px;
					border-bottom: 1px solid #D9D9D9;
				}
			}

			&-line {
				margin-bottom: 6px;
				display: flex;
				justify-content: space-between;

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 4px;
				}

				&:last-child {
					margin-bottom: 0;
				}

				span {
					font-weight: 600;
				}
			}
		}

		&__i {
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.5 0C6.81886 0 5.17547 0.498516 3.77766 1.43251C2.37984 2.3665 1.29037 3.69402 0.647028 5.24719C0.00368293 6.80036 -0.164645 8.50943 0.163329 10.1583C0.491303 11.8071 1.30085 13.3217 2.4896 14.5104C3.67834 15.6992 5.1929 16.5087 6.84174 16.8367C8.49057 17.1646 10.1996 16.9963 11.7528 16.353C13.306 15.7096 14.6335 14.6202 15.5675 13.2223C16.5015 11.8245 17 10.1811 17 8.5C16.9976 6.24641 16.1013 4.08582 14.5077 2.49228C12.9142 0.898753 10.7536 0.00243743 8.5 0V0ZM8.67709 3.54167C8.88723 3.54167 9.09265 3.60398 9.26738 3.72073C9.44211 3.83748 9.57829 4.00342 9.65871 4.19757C9.73913 4.39171 9.76017 4.60535 9.71917 4.81145C9.67817 5.01755 9.57698 5.20687 9.42839 5.35547C9.27979 5.50406 9.09048 5.60525 8.88437 5.64625C8.67827 5.68725 8.46463 5.66621 8.27049 5.58579C8.07634 5.50537 7.9104 5.36919 7.79365 5.19446C7.6769 5.01973 7.61459 4.81431 7.61459 4.60417C7.61459 4.32237 7.72653 4.05212 7.92579 3.85287C8.12504 3.65361 8.39529 3.54167 8.67709 3.54167ZM10.2708 13.1042H7.4375C7.24964 13.1042 7.06948 13.0295 6.93664 12.8967C6.8038 12.7639 6.72917 12.5837 6.72917 12.3958C6.72917 12.208 6.8038 12.0278 6.93664 11.895C7.06948 11.7621 7.24964 11.6875 7.4375 11.6875H7.96875C8.01572 11.6875 8.06076 11.6688 8.09397 11.6356C8.12718 11.6024 8.14584 11.5574 8.14584 11.5104V8.32292C8.14584 8.27595 8.12718 8.23091 8.09397 8.1977C8.06076 8.16449 8.01572 8.14583 7.96875 8.14583H7.4375C7.24964 8.14583 7.06948 8.07121 6.93664 7.93837C6.8038 7.80553 6.72917 7.62536 6.72917 7.4375C6.72917 7.24964 6.8038 7.06947 6.93664 6.93663C7.06948 6.80379 7.24964 6.72917 7.4375 6.72917H8.14584C8.52156 6.72917 8.8819 6.87842 9.14757 7.1441C9.41325 7.40978 9.5625 7.77011 9.5625 8.14583V11.5104C9.5625 11.5574 9.58116 11.6024 9.61437 11.6356C9.64758 11.6688 9.69262 11.6875 9.73959 11.6875H10.2708C10.4587 11.6875 10.6389 11.7621 10.7717 11.895C10.9045 12.0278 10.9792 12.208 10.9792 12.3958C10.9792 12.5837 10.9045 12.7639 10.7717 12.8967C10.6389 13.0295 10.4587 13.1042 10.2708 13.1042Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			background-size: 21px;
			background-repeat: no-repeat;
			background-position: left 2px;
			min-height: 21px;
			padding-left: 29px;
			font-size: 10px;
			line-height: 130%;
			max-width: 208px;
			display: none;

			@include media( map-get( $media, sm ) ) {
				background-size: 14px;
				font-size: 12px;
				max-width: 100%;
				margin-bottom: 17px;
			}

			&.active {
				display: block;
			}

			span {
				font-weight: 500;
			}
		}

		&__type {
			margin-bottom: 10px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 13px;
			}

			.form__label-name {
				font-size: 12px;

				@include media( map-get( $media, sm ) ) {
					font-size: 12px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&s {
				padding-top: 27px;
				border-top: 1px solid #D9D9D9;
				max-width: 253px;

				@include media( map-get( $media, sm ) ) {
					padding-top: 32px;
				}
			}

			&-select {
				margin-left: 10px;
				position: relative;
				bottom: -2px;
			}

			.form__check {

				&:checked {

					& ~ .order-pay__type-select {

						.order-select {
							pointer-events: initial;
							border-bottom: 1px solid #FE0002;
							opacity: 1;
						}
					}
				}
			}
		}

		&__check {
			max-width: 266px;
	
			@supports (flex-direction: column) {
				margin-top: auto;
			}

			@include media( map-get( $media, sm ) ) {
				order: -4;
				margin-bottom: 34px;
				max-width: 100%;
			}

			.form__label-name {
				font-weight: 500;
				font-size: 12px;
				line-height: 130%;

				@include media( map-get( $media, sm ) ) {
					font-size: 12px;
					padding-right: 26px;
					max-width: 100%;
				}

				a {
					color: #207FFF;
					text-decoration: underline;

					&:hover {

						@include media( map-get( $media-min, lg ), 'min' ) {
							text-decoration: none;
						}
					}
				}
			}
		}

		&__download {
			display: none;
			margin-bottom: 30px;

			&.active {
				display: block;
			}

			a {
				margin-bottom: 20px;
				display: flex;
				align-items: center;

				&.disabled {
					opacity: 0.3;
					pointer-events: none;

					.icon {
						color: #000;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				.icon {
					font-size: 27px;
					margin-right: 9px;
					color: #FE0002;
				}

				span {
					color: #000;
					font-weight: 600;
					font-size: 12px;
					line-height: 130%;
					text-decoration: underline;
				}
			}
		}

		&__bottom {
			border-top: 1px solid #D9D9D9;
			padding-top: 13px;
			margin-left: -30px;
			padding-left: 30px;

			@include media( map-get( $media, sm ) ) {
				padding-top: 17px;
			}
		}

		&__price {
			display: flex;
			align-items: baseline;
			font-weight: 600;
			margin-bottom: 17px;

			span:last-child {
				margin-left: 11px;
				font-weight: bold;
				font-size: 20px;
				color: #FE0002;
				white-space: nowrap;
			}
		}

		&__action {

			.btn {
				width: 193px;
				height: 40px;
			}

			.order-steps__box-action {
				margin: 0;
				
				@include media( map-get( $media-min, sm ), 'min' ) {
					display: block;

					button {
						display: none;
					}

					.btn {
						margin-left: 0;
						min-width: 0;
						max-width: 100%;
					}
				}

				@include media( map-get( $media, sm ) ) {
					
					a {
						flex: 1;
						min-width: 0;
						max-width: 100%;
					}
				}
			}
		}
	}

	&-select {
		border-bottom: 1px solid #000;
		min-width: 74px;
		position: relative;
		display: block;
		pointer-events: none;
		opacity: 0.3;

		&.active {
			.order-select__dropdown {
				display: block;
			}
		}

		&__text {
			font-size: 10px;
			color: #000;
			height: 15px;
			line-height: 1;
			display: flex;
			align-items: center;
			padding: 0 18px 0 5px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 8px;
				width: 5px;
				height: 5px;
				margin-top: -3px;
				border-bottom: 1px solid #000;
				border-right: 1px solid #000;
				transform: rotate(45deg) translateY(-50%);
			}
		}

		&__dropdown {
			position: absolute;
			top: 100%;
			margin-top: 3px;
			right: 0;
			background: #FFFFFF;
			box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
			padding: 10px 12px 10px 10px;
			display: none;
		}

		&__list {
			display: block;
		}

		&__item {
			display: block;
			padding-right: 21px;
			margin-bottom: 4px;
			position: relative;
			font-size: 10px;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					color: map-get( $color, accent);
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				border-radius: 50%;
				border: 1px solid #979797;
				width: 8px;
				height: 8px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.selected {

				&:after {
					border-color: #FE0002;
				}

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					right: 2px;
					transform: translateY(-50%);
					border-radius: 50%;
					background: #FE0002;
					width: 4px;
					height: 4px;
				}
			}
		}
	}
}