.custom-select {
	position: relative;

	&.opened {
		
		.custom-select__dropdown {
			display: block;
		}
	}

	&__select {
		position: relative;
		cursor: pointer;

		&-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			& * {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			&.placeholder {
			}
		}
	}

	&__trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 100%;

		&-arrow {
			position: absolute;
		}
	}

	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;

		li {
			position: relative;

			&.selected {
				color: #000;
				
				.check-box:after {
					border-color: map-get( $color, accent );
				}
			}

			.check-box {
				padding-right: 20px;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 4px;
					transform: translateY(-50%);
					width: 12px;
					height: 12px;
					border: 1px solid #979797;
				}
			}
		}
	}
}

.check-box {
	display: flex;
	align-items: center;
	position: relative;

	span {

		&:first-child {
			width: 30px;
			min-width: 30px;
			height: 30px;
			margin-right: 14px;
			border-radius: 50%;
			overflow: hidden;
			display: block;
			background-size: cover;
			background-position: center;
		}
	}
}