mixin custom-select(placeholder)
	- var placeholder = placeholder || "любой";
	.custom-select
		.custom-select__select
			.custom-select__select-text(data-placeholder= placeholder)
			.custom-select__trigger
				.custom-select__trigger-arrow
		.custom-select__dropdown
			if block
				ul
					block
				