mixin footer()
	footer.footer&attributes(attributes)
		.container
			.footer__content
				.footer__box.footer__box--info
					| Название банка : АО «ТИНЬКОФФ БАНК»
					br
					| БИК Банка: 044525974, К/с: 30101810145250000974
					br
					| ИНН получателя платежа: 712201625717
					br
					| Название организации (получатель) : ИП Сухарев Александр Викторович
					br
					| р/с 40802810900000263681
				.footer__box
					span Бесплатный звонок по 
						br
						| России:
					br
					a(href="tel:88007777044") 8 800 7777 0 44
					br
					span Телефон в Москве:
					br
					a(href="tel:84951087465") +7 495 108-74-65
				.footer__box
					ul
						li
							a(href="#") elbrus@strahu-net.com
						li
							a(href="#") live:elbrus-climbing
						li
							a(href="#") Вакансии
						li
							a(href="#") «Политика конфиденциальности»
						li
							a(href="#") Карта сайта
						li
							a(href="#") Договор-оферта
	