.footer {
	background: #000;
	color: #fff;
	margin-top: 100px;

	&--simple {
		margin-top: 0;
	}

	&__content {
		padding: 37px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: -34px;
		margin-right: -110px;

		@include media( map-get( $media, lg ) ) {
			padding: 50px 0;
		}

		@include media( map-get( $media, sm ) ) {
			padding: 60px 0;
			margin-bottom: -20px;
			display: block;
		}
	}

	&__box {
		width: 100%;
		max-width: 237px;
		font-size: 14px;
		font-weight: 500;
		line-height: 210%;
		margin-bottom: 34px;
		margin-right: 110px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 30px;
			letter-spacing: -0.1px;
			font-weight: 400;
			max-width: 100%;
			width: auto;
		}

		&--info {
			max-width: 380px;

			@include media( map-get( $media, sm ) ) {
				max-width: 100%;
			}
		}

		a {
			display: inline-block;
		}

		& > span {

			@include media( map-get( $media, sm ) ) {
				font-weight: bold;
			}
		}
	}
}