.form {

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 11px;
		margin-right: -30px;

		@include media( map-get( $media, lg ) ) {
			margin-right: -12px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 0;
		}

		.form__label {
			margin-right: 30px;
			margin-bottom: 20px;
			width: 100%;
			max-width: 270px;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 8px;
				margin-right: 12px;
			}

			&--check {
				width: auto;
				max-width: 100%;
				margin-right: 36px;

				@include media( map-get( $media, lg ) ) {
					margin-right: 12px;
					margin-bottom: 17px;
				}
			}
		}
	}

	&__label {
		display: block;
		margin-bottom: 20px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 8px;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-name {
			font-weight: 500;
			font-size: 14px;
			display: block;
			line-height: 32px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				line-height: 130%;
				margin-bottom: 8px;
			}

			&-info {
				margin-left: 10px;
				color: #5F5F5F;

				@include media( map-get( $media, sm ) ) {
					font-size: 8px;
				}
			}
		}

		&--check {
			display: flex;
			cursor: pointer;

			.form__label-name {
				margin-bottom: 0;
				line-height: 130%;
			}
		}
	}
	
	&__input,
	&__textarea {}

	&__input {
		height: 44px;
		background: #F5F5F5;
		padding: 0 15px;
		color: #5F5F5F;
		font-size: 14px;
		width: 100%;
		min-width: 0;

		@include media( map-get( $media, sm ) ) {
			height: 40px;
			font-size: 12px;
		}

		@include placeholder(#A8A6A6);

		&--light {
			background: #FFFFFF;
			color: #5F5F5F;
			
			@include placeholder(#5F5F5F);
		}

		&--code {
			padding-right: 45px;
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.9999 11.2001L1.7999 7.0001L0.399902 8.4001L5.9999 14.0001L17.9999 2.0001L16.5999 0.600098L5.9999 11.2001Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: calc(100% - 15px) center;

			&.success {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00002 11.2001L1.80002 7.0001L0.400024 8.4001L6.00002 14.0001L18 2.0001L16.6 0.600098L6.00002 11.2001Z' fill='%2330AD63'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&__select {
		display: block;
		width: 100%;
	}

	&__textarea {}

	&__check {
		display: none;

		&:checked {

			& ~ .form__check-box {
				border-color: map-get( $color, accent );

				&:after {
					opacity: 1;
				}
			}
		}

		&-box {
			display: block;
			width: 17px;
			min-width: 17px;
			height: 17px;
			border: 2px solid #979797;
			margin-right: 9px;
			position: relative;

			@include media( map-get( $media, sm ) ) {
				width: 14px;
				min-width: 14px;
				height: 14px;
				margin-right: 7px;

				& + .form__label-name {
					font-size: 10px;
				}
			}

			&--simple {
				width: 20px;
				height: 20px;
				min-width: 20px;
				border: 1px solid #979797;
				margin-right: 11px;

				&:after {
					content: '';
					display: block;
					opacity: 0;
					background-repeat: no-repeat;
					background-position: center;
					width: 100%;
					height: 100%;
					background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.91623 8.37506L0.999566 5.16672L0.0273438 6.23617L3.91623 10.5139L12.2496 1.34728L11.2773 0.277832L3.91623 8.37506Z' fill='black'/%3E%3C/svg%3E%0A");

					@include media( map-get( $media, sm ) ) {
						background-size: 10px;
					}
				}
			}

			&--circle {
				border-radius: 50%;

				&:after {
					content: '';
					display: block;
					border-radius: 50%;
					background: #FE0002;
					width: 100%;
					height: 100%;
					opacity: 0;
					border: 2px solid #fff;
				}
			}
		}
	}
}

.check-box {
	width: 100%;
}