.card-profi {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	padding: 25px 25px 30px;

	@include media( map-get( $media, sm ) ) {
		padding: 25px 15px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	}

	&:hover {

		@include media( map-get( $media-min, lg ), 'min' ) {
			box-shadow: -1px 7px 14px rgba(0, 0, 0, 0.15);
		}
	}

	&__img {
		display: block;
		overflow: hidden;
		position: relative;
		margin-bottom: 25px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 15px;
		}

		&:before {
			content: '';
			display: block;
			padding-top: 106.13%;

			@include media( map-get( $media, sm ) ) {
				padding-top: 104.13%;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 10px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 3px;
		}

		@include media( map-get( $media, sm ) ) {
			letter-spacing: -0.654187px;
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	&__city {
		font-size: 12px;
		margin-bottom: 11px;

		@include media( map-get( $media, sm ) ) {
			letter-spacing: -0.109031px;
			font-size: 10px;
			margin-bottom: 7px;
		}
	}

	&__text {
		font-size: 12px;
		margin-bottom: 32px;

		@include media( map-get( $media, sm ) ) {
			letter-spacing: -0.109031px;
			font-size: 10px;
			margin-bottom: 10px;
		}
	}

	.btn {
		font-weight: bold;
		font-size: 14px;

		@include media( map-get( $media, sm ) )  {
			height: 40px;
			font-size: 12px;
			padding: 0;
		}
	}
}