mixin card-profi(object)
	.card-profi
		a(href="#").card-profi__img
			img(src="images/" + object.imgName, alt="")
		.card-profi__title
			a(href="#")= object.title
		.card-profi__city= object.city
		.card-profi__text= object.text
		a(href="#").btn= object.btnText