.popup-code {

	@include media( map-get( $media, sm ) ) {
		padding-top: 20px;
		padding-bottom: 95px;
	}

	.popup__title {
		padding-right: 27px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 19px;
		}
	}

	&__form {
		display: flex;
		align-items: flex-end;

		@include media( map-get( $media, sm ) ) {
			display: block;
		}

		.form__label {
			margin-bottom: 0;
			flex: 1;
			margin-right: 11px;
		}

		.btn {
			width: 130px;

			@include media( map-get( $media, sm ) ) {
				position: absolute;
				bottom: 30px;
				left: 50%;
				transform: translateX(-50%);
				width: 155px;
			}
		}
	}

	&__repeat {
		margin-top: 11px;

		@include media( map-get( $media, sm ) ) {
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			margin-top: 19px;
		}

		a {
			text-decoration: underline;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #FE0002;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}
	}
}