mixin popup-code()
	#popup-code.popup-code.popup
		.popup__content
			.popup__title На указанный вами номер телефона отправлен код подтверждения. 
				br
				| Введите его в поле ниже для авторизации
			form.popup-code__form
				label.form__label
					span.form__label-name Код подтверждения
					input(type="text" name="code" placeholder="введите код").form__input
				button.btn.btn--light.disabled Готово
			.popup-code__repeat
				a(href="#") Отправить заново
