mixin popup-equipment-info()
	#popup-equipment-info.popup-equipment-info.popup
		.poopup__content
			.popup__title В нашем офисе в Пятигорске есть собственный прокат всего необходимого снаряжения и одежды.
			.text
				p - Некоторые позиции доступны для покупки
				p - не все указанные позиции, вам нужно иметь. Обращайте внимание на индикаторы рядом с позицией
				p - по многим позициям у нас есть несколько вариантов - дешевые и дорогие. Вам потребуется только один из них
