block ../template/pug/vars
include ../template/pug/blocks

block styles
	style.
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
		.s-box {
			max-width: 1200px;
			padding: 0 15px;
			margin: 50px auto;
			font-family: "Roboto", sans-serif;
		}
		.s-box__title {
			font-size: 26px;
			margin-bottom: .6em;
		}
		.s-box__list li {
			margin-bottom: 10px;
		}
		.s-box__list li:last-child {
			margin-bottom: 0;
		}
		.s-box__list a {
			color: inherit;
			font-size: 16px;
		}
		.s-box__list a.disabled {
			opacity: .5;
			pointer-events: none;
		}

doctype html
html(lang="ru")
	include ../template/pug/head

	body
		.wrapper
			main.content
				block content

				.s-box
					.s-box__title Страницы
					ul.s-box__list
						li
							a(href="index.html" target="_blank") Главная
						li
							a(href="timetable.html" target="_blank") Расписание
						li
							a(href="order.html" target="_blank") Оформление заявки/оплата
						li
							a(href="success.html" target="_blank") Успешное оформление заказа
						li
							a(href="description.html" target="_blank") Описание тура
						li
							a(href="post.html" target="_blank") Статья
						li
							a(href="equipment.html" target="_blank") Снаряжения/одежда
						li
							a(href="equipment-1.html" target="_blank") Снаряжения/одежда 1

				//- .s-box
					.s-box__title Попапы
					ul.s-box__list
						li
							a(href="#popup-test").js-popup Test
						li
							a(href="#popup-help").js-popup Помощь выбора 

			.hidden
				+popup-test()
				+popup-help()
				+popup-equipment-info()
				block popup
		script(src="js/main.js")
		block script