extends ../template/pug/layout

block vars
	//- - var pageClass = "no-bottom-padding";
	- var footerSimple = true;

block popup
	+popup-equipment()

block content
	.tour-top
		.tour-top__main(style="background-image: url(images/tour-top__img.jpg);")
			.container
				.tour-top__info
					h2.title.tour-top__title Восхождение на Эльбрус по дикому маршруту с севера
					.tour-top__link
						| Приложение №1 к 
						a(href="#") договору-оферте №1
					.tour-top__text Максимальный уровень сервиса на всех этапах, без тяжелого рюкзака.
					a(href="#").btn.btn--big Записаться
				.tour-top__stats
					.tour-top__stat
						.tour-top__stat-pic(style="background-image: url(images/length-pic.svg);")
						.tour-top__stat-info
							.tour-top__stat-title Протяженность
							.tour-top__stat-val 53 км.
					.tour-top__stat
						.tour-top__stat-pic(style="background-image: url(images/duration-pic.svg);")
						.tour-top__stat-info
							.tour-top__stat-title Продолжительность
							.tour-top__stat-val 10 + 2 дня
					.tour-top__stat
						.tour-top__stat-pic(style="background-image: url(images/complexity-pic.svg);")
						.tour-top__stat-info
							.tour-top__stat-title Сложность
							.tour-top__stat-val 4/5
					.tour-top__stat
						.tour-top__stat-pic(style="background-image: url(images/residence-pic.svg);")
						.tour-top__stat-info
							.tour-top__stat-title Проживание
							.tour-top__stat-val Отель
					.tour-top__stat
						.tour-top__stat-pic(style="background-image: url(images/nutrition-pic.svg);")
						.tour-top__stat-info
							.tour-top__stat-title Питание
							.tour-top__stat-val Походная еда
		.tour-top__bottom
			.container
				a(href="https://www.youtube.com/embed/v1z787ZeZFQ").js-popup.tour-top__video(style="background-image: url(images/tour-top__video.jpg);")
					span Смотреть видео 
						br
						| о данном маршруте
	
	section.section.section--sm
		.container
			.section__header
				h2.title-sm Программа по дням
			.program
				.program__top
					.program__title График перепада высоты
					.program__controls
						span Вид
						.program__btns
							button.program__btn.program__btn--height(data-title="График перепада высоты").active
							button.program__btn.program__btn--map(data-title="Карта")
							button.program__btn.program__btn--img(data-title="Фото")
				.program__main-wrap
					.program__main-cont
						.program__main
							.program__views
								.program__view.program__view--diag.active
									.program__height
										.program__height-title высота, м.
										ul.program__height-list
											li 5 700
											li 5 400
											li 5 100
											li 4 800
											li 4 500
											li 4 200
											li 3 900
											li 3 600
												.program__line
													+icon('snow')
													|	Снеговая линия
											li 3 300
											li 3 000
											li 2 700
											li 2 400
											li 2 100
											li 1 800
											li 1 500
									.program__pics
										.program__pic.active
											img(src="images/program__pic-1.png", alt="")
										.program__pic.program__pic--alt
											img(src="images/program__pic-2.png", alt="")
									.program__steps
										.program__step.active
											+icon('man')(style="bottom: 8%;")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 44%")
										.program__step
											+icon('man')(style="bottom: 30%")
										.program__step
											+icon('man')(style="bottom: 15%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 61%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 73%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 50%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 50%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 90%")
										.program__step.program__step--alt
											+icon('man')(style="bottom: 41%")
										.program__step
											+icon('man')(style="bottom: 12%")
										.program__step
											+icon('man')(style="bottom: 2%")
								.program__view
									.program__map
										iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58580.99433214871!2d42.450059862418264!3d43.33843409604104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1602955469145!5m2!1sru!2sru" width="100" height="100" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
								.program__view
									.program__imgs
										.program__img.active
											img(src="images/program__img-1.jpg", alt="")
										- for ( var i = 2; i <= 12; i++ ) {
											.program__img
												img(src="images/program__img-" + i + ".jpg", alt="")
										- }
							.program__days-wrap
								.program__days-cont
									.program__days-box
										.program__days
											button.program__day.active 1 день
											button.program__day(data-type="snow") 2 день
											button.program__day 3 день
											button.program__day 4 день
											button.program__day(data-type="snow") 5 день
											button.program__day(data-type="snow") 6 день
											button.program__day(data-type="snow") 7 день
											button.program__day(data-type="snow") 8 день
											button.program__day(data-type="snow") 9 день
											button.program__day 10 день
											button.program__day 11 день
											button.program__day 12 день
				.program__boxs
					.program__box.active
						.program__box-title 1 ДЕНЬ, Сборы и выезд на маршрут
						.program__box-text Вам необходимо приехать к нам в Пятигорск накануне начала нашего мероприятия, чтобы заранее проверить ваше снаряжение и одежду, выдать прокатное снаряжение, подписать документы. В течение всего этого дня в любое время мы встречаем вас в нашем офисе по адресу: г. Пятигорск, Площадь Ленина 13. Гостиница Интурист, 1 этаж. Сюда же вы вернетесь после окончания тура. И здесь же при необходимости вы можете оставить ваши вещи на время похода.
					- for ( var i = 2; i <= 12; i++ ) {
						.program__box
							.program__box-title= i + " ДЕНЬ, Сборы и выезд на маршрут"
							.program__box-text Вам необходимо приехать к нам в Пятигорск накануне начала нашего мероприятия, чтобы заранее проверить ваше снаряжение и одежду, выдать прокатное снаряжение, подписать документы. В течение всего этого дня в любое время мы встречаем вас в нашем офисе по адресу: г. Пятигорск, Площадь Ленина 13. Гостиница Интурист, 1 этаж. Сюда же вы вернетесь после окончания тура. И здесь же при необходимости вы можете оставить ваши вещи на время похода.
					- }
	
	section.section.section--sm
		.container
			.section__header.section__header--min
				h2.title-sm Что входит в стоимость тура
			.order-package
				.order-package__top
					.order-package__box.order-package__box--name
					.order-package__box.order-package__box--card
						.order-package__card
							.order-package__card-title Эконом
							.order-package__card-price
								.price
									.price__new
										span от
										|  
										span 23 990
										|  ₽
									.price__old
										span 25 000
										|  ₽
							.order-package__card-date (действует до 17.02.20)
					.order-package__box.order-package__box--card
						.order-package__card
							.order-package__card-title Премиум
							.order-package__card-price
								.price
									.price__new
										span от
										|  
										span 42 790
										|  ₽
									.price__old
										span 45 000
										|  ₽
							.order-package__card-date (действует до 17.02.20)
				.order-package__main
					.page-table
						.page-table__line
							.order-tour
								.order-tour__box.order-package__box--name
									| Возможность отмены участия с возвратом полной стоимости тура до начала мероприятия
								.order-tour__box.order-tour__box--check
									.order-check.order-check--yes
								.order-tour__box.order-tour__box--check
									.order-check.order-check--yes
						.page-table__line
							.order-tour
								.order-tour__box.order-package__box--name
									| Консультации наших менеджеров на всех этапах подготовки к походу
								.order-tour__box.order-tour__box--check
									.order-check.order-check--no
								.order-tour__box.order-tour__box--check
									.order-check.order-check--yes
						each name in ['Услуги профессиональных инструкторов альпинизма','Оплата за вход в национальный парк','Все трансферы по программе','Все общественное снаряжение: веревки, газ, кухня и т.д.','Все средства и меры безопасности: спутниковый телефон, рации, спутниковый навигатор, аптечка, регистрация в МЧС','Пульсоксиметр и ежедневный контроль сатурации кислорода в крови с целью раннего выявления горной болезни','Круглосуточная связь с врачом','Сертификат об успешном восхождении на Эльбрус, подписанный нашей компанией и Эльбрусским ПСО МЧС','Официальный значок "Альпинист России" и удостоверение к нему в случае успешного восхождения','Официальная Книжка Альпиниста и запись в ней информации о совершенном восхождении','Индивидуальная встреча в аэропорту (или на вокзале) и трансфер в наш офис перед началом мероприятия','Ночь в отеле и завтрак перед началом мероприятия','Прокат палатки на все время мероприятия (1 палатка на 2-3 участника)']
							.page-table__line
								.order-tour
									.order-tour__box.order-package__box--name= name
									.order-tour__box.order-tour__box--check
										.order-check.order-check--yes
									.order-tour__box.order-tour__box--check
										.order-check.order-check--yes
				.order-package__bottom
					.order-package__box.order-package__box--name
					.order-package__box.order-package__box--card
						.order-package__card
							a(href="#").btn Записаться
					.order-package__box.order-package__box--card
						.order-package__card
							a(href="#").btn Записаться
	section.section.section--sm
		.container
			.section__header.section__header--sm
				h2.title-sm В стоимость тура НЕ входит
			.text.text--md
				ul
					li дорога из вашего города до Пятигорска и обратно
					li
						a(href="#") личное снаряжение
						|  - абсолютно все можно взять у нас напрокат
					li 
						a(href="#") пакет продуктов по списку
						|  - собираете его сами или покупаете у нас
					li другие расходы, не предусмотренные программой
				a(href="#popup-equipment").btn.btn--light.text__btn.js-popup Список необходимого снаряжения

	section.section.section--sm
		.container
			.section__header
				h2.title-sm Расписание туров по данному маршруту
			.tours.is-line
				.tours-box
					.tours-box__list
						- for ( var i = 4; i <= 8; i++ ) {
							- var isStatus = ( i <= 2 ) ? "true" : "";
							+card(isStatus, i)
						- }

	section.section.section--sm
		.container
			.section__header
				h2.title-sm Другие маршруты
			.slider-wrap
				.slider(data-inner="3")
					- for ( var i = 1; i <= 3; i++ ) {
						.slider-box
							.slider-box__item
								+card-alt(1)
							.slider-box__item
								+card-alt(2)
							.slider-box__item
								+card-alt(3)
					- }
				.slider-bottom
					//- .slider-link
					.slider-controls
						button.slider-btn.slider-btn--prev
						.slider-counts
							span 1
							| /
							span 3
						button.slider-btn.slider-btn--next

	.page-form(style="background-image: url(images/page-form__bg.jpg);")
		.container
			h2.title-sm Остались вопросы? Мы перезвоним вам и поможем.
			form.page-form__form
				label.form__label
					span.form__label-name Имя
					input(type="text" name="name" placeholder="введите имя").form__input.form__input--light
				label.form__label
					span.form__label-name Телефон
					input(type="text" name="phone" placeholder="введите телефон").form__input.form__input--light
				label.form__label.form__label--check
					input(type="checkbox" name="check[]").form__check
					span.form__check-box.form__check-box--simple
					span.form__label-name Нажимая на кнопку, вы принимаете условия соглашения
				button.btn Жду звонка
