extends ../template/pug/layout

block vars
	//- - var isFooterHide = true;

block content
	.equipment.page-simple
		.container
			h2.title.equipment__title Аренда снаряжения и одежды
				a(href="#popup-equipment-info").js-popup.equipment__popup
			.equipment__text В нашем офисе в Пятигорске есть собственный прокат всего необходимого снаряжения и одежды. Даже если у вас нет ничего своего, вы все сможете взять у нас напрокат. Некоторые позиции доступны для покупки. Обратите внимание, не все позиции, перечисленные ниже, вам нужно иметь. По многим позициям у нас есть несколько вариантов - дешевые и догорие. Вам потребуется только один из них.

			.equipment__top
				.equipment-tour
					.equipment-tour__code.active
						.equipment-tour__title Список необходмых вещей меняется в зависимости от выбранного тура и тарифа
						.equipment-tour__line
							input(type="text" name="phone" placeholder="Напишите номер вашего заказа тура").form__input.form__input--light
							button.btn Применить
						.equipment-tour__text Номер вашего заказа вы можете посмотреть в личном кабинете, в правом верхнем углу.
					.equipment-tour__info
						.equipment-tour__top
							.equipment-tour__top-desk Информация о вашем заказе
							.equipment-tour__top-mobile Номер вашего заказа: 
								span 1234
						.equipment-tour__title Восхождение на Эльбрус с юга
						.equipment-tour__item
							.equipment-tour__date 02.03 - 15.03
						.equipment-tour__item.equipment-tour__item--order
							| № заказа: 
							span 1234
						.equipment-tour__item
							| Участник: 
							span Сергей А.
				.equipment-basket
					.equipment-basket__box
						+icon('basket')
						span Счет
						.equipment-basket__box-price 0 ₽
					.equipment-basket__items
						.equipment-basket__items-list
							- for ( var i = 1; i <= 2; i++ ) {
								each object in main.equipment.items
									.equipment-basket__item
										.equipment-basket__item-name
											a(href="#")= object.name
										.equipment-basket__item-price= object.price
										button.equipment-basket__item-del
							- }
						.equipment-basket__items-summa
							| Итого:
							span 31 400 ₽
					.equipment-basket__elems
						.equipment-basket__elem
							| Аренда:
							span 23 000 ₽
						.equipment-basket__elem
							| Скидка 20%
							span - 4 600 ₽
						.equipment-basket__elem.equipment-basket__elem--all
							| Покупка:
							span 23 000 ₽
						button.btn Оплатить 31 400 ₽
			.equipment__main
				.equipment-aside
					.equipment-aside__all
						a(href="#").active Все товары
					.equipment-aside__list
						each object,name in main.equipment.aside
							.equipment-aside__box
								if ( name == "Снаряжение" )
									a(href="#")
										span.equip-icon.equip-icon--equip
										span= name
								if ( name == "Одежда" )
									a(href="#")
										span.equip-icon.equip-icon--clothes
										span= name
								if ( name == "Важные мелочи" )
									a(href="#")
										span.equip-icon.equip-icon--trifle
										span= name
								if ( name == "Доп. услуги" )
									a(href="#")
										span.equip-icon.equip-icon--services
										span= name
								ul.equipment-aside__items
									each type,name in object
										li
											a(href="#" class="equipment-aside__item--" + type).equipment-aside__item= name
				.equipment-main
					ul.equipment-info.equipment-info--mobile
						li.equipment-info__item.equipment-info__item--necessarily обязательнo
						li.equipment-info__item.equipment-info__item--bought уже куплено
						li.equipment-info__item.equipment-info__item--not-necessary необязательно
						li.equipment-info__item.equipment-info__item--not-paid выбрано
					.equipment-cards
						a(href="#").equipment-card
							span.equipment-card__img
								img(src="images/equipment-card__img-1.png", alt="")
							span.equipment-card__name Снаряжение
						a(href="#").equipment-card
							span.equipment-card__img
								img(src="images/equipment-card__img-2.png", alt="")
							span.equipment-card__name Одежда
						a(href="#").equipment-card
							span.equipment-card__img
								img(src="images/equipment-card__img-3.png", alt="")
							span.equipment-card__name Важные мелочи
						a(href="#").equipment-card
							span.equipment-card__img
								img(src="images/equipment-card__img-4.png", alt="")
							span.equipment-card__name Доп.  услуги

					.equipment-logs-wrap
						.equipment-logs.active
							each type,name in main.equipment.aside['Снаряжение']
								.equipment-log
									a(href="#" class="equipment-aside__item--" + type).equipment-aside__item= name
						- for ( var i = 1; i <= 3; i++ ) {
							.equipment-logs
								each type,name in main.equipment.aside['Снаряжение']
									.equipment-log
										a(href="#" class="equipment-aside__item--" + type).equipment-aside__item= name
						- }
