extends ../template/pug/layout

block vars
	- var footerSimple = true;

block content
	.top-box
		.top-box__main(style="background-image: url(images/top-box__bg.jpg);")
			.container
				.top-box__content
					h1.top-box__title
						| ВОСХОЖДЕНИЕ НА ЭЛЬБРУС
						br
						| ВЫСОЧАЙШУЮ ВЕРШИНУ
						br
						| ЕВРОПЫ
					a(href="#").btn.btn--big.top-box__btn Записаться в поход
					+social()
		.top-box__cards
			.container
				.top-box__card(style="background-image: url(images/top-box__card-img-1.jpg);")
					.top-box__card-text Под руководством сертифицированных инструкторов альпинизма, чемпионов и мастеров спорта  
				.top-box__card(style="background-image: url(images/top-box__card-img-2.jpg);")
					.top-box__card-text От простых и макимально комфортных программ до настоящих горных экспедиций в диких условиях

	.box-num
		.container
			h2.title.title--light Кому это доступно?
			.box-num__boxs
				.box-num__box
					.box-num__box-num 01
					.box-num__box-text Специальная подготовка и опыт горных восхождений не требуется
				.box-num__box
					.box-num__box-num 02
					.box-num__box-text Самые легкие наши программы доступны даже детям и людям в возрасте
				.box-num__box
					.box-num__box-num 03
					.box-num__box-text Есть программы на любой бюджет - от максимально экономных до VIP туров
		.box-num__img(style="background-image: url(images/box-num__img.jpg);")
			.container
				.box-num__img-text Хочешь самое настоящее приключение? 

	section.section.section--profi
		.container
			.section__header
				h2.title.section__title вас будут сопровождать профессионалы
			.slider-wrap
				.slider.slider--profi(data-inner="3")
					- for ( var i = 1; i <= 4; i++ ) {
						.slider-box
							each object in main['card-profi'].slider
								.slider-box__item
									+card-profi(object)
					- }
				.slider-bottom
					.slider-link.slider-link--sm
						a(href="#") Подробнее о нашей команде
					.slider-controls
						button.slider-btn.slider-btn--prev
						.slider-counts
							span 1
							| /
							span 4
						button.slider-btn.slider-btn--next

	section.section
		.container
			.section__header
				h2.title.section__title Есть и другие важные преимущества
			.advants
				each object in main.advant
					.advant
						.advant__img
							img(src="images/" + object.imgName, alt="")
						hr
						.advant__title= object.title
						.advant__text= object.text

	section.section.section--dark
		.container
			.level
				.level__info
					h2.title.title--light Все туры имеют один из трех уровней сложности
					.level__list
						.level-item
							.level-item__title
								span Легко
								.level-icon.level-icon--easy
							.level-item__text Принять участие может абсолютно любой здоровый человек с любым уровнем физической подготовки. Нести на себе тяжелый рюкзак не потребуется. Условия питания и проживания комфортные.
						.level-item
							.level-item__title
								span Средне
								.level-icon.level-icon--medium
							.level-item__text Требуется средняя физическая форма. У вас есть такая физическая форма, если вы в состоянии пробежать 10 км. За один час. Нужно нести на себе тяжелый рюкзак, но не долго. Проживание в палатках.
						.level-item
							.level-item__title
								span Сложно
								.level-icon.level-icon--hard
							.level-item__text Требуется физическая форма выше средней. То есть это дя тех, кто регулярно занимается каким-либо видом спорта, например, бегом или кроссфитом. А также и для тех, кто хочет настоящее испытание. Требуется долго нести тяжелый рюкзак. Проживание в палатках.
				.level__img
					img(src="images/level__img-1.jpg", alt="")

	section.section
		.container
			.section__header
				h2.title.section__title Лучшие предложения этой недели
			.section__alert Все цены актуальны до пятницы (24.01)
			.slider-wrap
				.slider(data-inner="4")
					- for ( var i = 1; i <= 3; i++ ) {
						.slider-box
							.slider-box__item
								+card(false, 1)
							.slider-box__item
								+card(false, 2)
							.slider-box__item
								+card(false, 3)
							.slider-box__item
								+card(false, 4)
					- }
				.slider-bottom
					.slider-link
						a(href="#") Смотреть все расписание
					.slider-controls
						button.slider-btn.slider-btn--prev
						.slider-counts
							span 1
							| /
							span 3
						button.slider-btn.slider-btn--next

	section.section.section--test
		.container
			.section__header
				h2.title.section__title Пройдите тест!
				.subtitle И узнайте прямо сейчас, какие программы отлично подойдут именно Вам
			+test()