extends ../template/pug/layout

block vars
	//- - var isFooterHide = true;

block popup
	+popup-code()

block content
	.order.page-simple
		.container
			h2.title.order__title Регистрация на тур
			.order-steps
				.order-steps__controls
					.order-step.active 1
					.order-step 2
					.order-step 3
					.order-step 4
					.order-step 5
				.order-steps__line
					.order-step__title
						.order-step__title-val(data-title="Заявка на участие:") Выберите маршрут
					a(href="#popup-callback").js-popup.order-step__callback Заявка по телефону
				.order-steps__boxs
					.order-steps__box(data-title="Выберите маршрут").active
						.page-table
							- for ( var i = 1; i <= 5; i++ ) {
								.page-table__line
									label.order-tour
										span.order-tour__box.order-tour__box--chck
											span.order-tour__check(data-title="Выбрать")
												if ( i == 1 )
													input(type="radio" name="order-tour").form__check
												else
													input(type="radio" name="order-tour").form__check
												span.form__check-box.form__check-box--circle
										span.order-tour__box.order-tour__box--info
											span.order-tour__stats
												span.card__stats
													span.card__stat
														span.card__stat-icon
															+icon('way')
														span.card__stat-val 56 км.
													span.card__stat
														span.card__stat-icon
															+icon('hotel')
														span.card__stat-val отель
													span.card__stat
														span.card__stat-icon
															span.level-icon.level-icon--dark.level-icon--easy
														span.card__stat-val легко
												span.card__box-stat.card__box-stat--day
													span 7  
														span + 3
														|  дней
											span.order-tour__info
												span.order-tour__title Комфортное восхождение на Эльбрус с юга
												if ( i == 1 )
													span.order-tour__text Максимальный уровень сервиса на всех этапах,
												else
													span.order-tour__text Максимальный уровень сервиса на всех этапах, без тяжелого рюкзака.
										span.order-tour__box.order-tour__box--price
											span.order-tour__price
												span.price
													span.price__new
														span от
														|  
														span 23 990
														|  ₽
													span.price__old
														span 45 000
														|  ₽
											span.order-tour__date.card__date (действует до 17.02.20) 
							- }
						.order-steps__box-action
							button.btn.order__btn(data-type="next").disabled Далее
					.order-steps__box(data-title="Выберите даты")
						.order-steps__box-info
							.order-steps__box-line Вы выбрали маршрут: 
								span “Комфортное восхождение на Эльбрус с юга”
							.order-steps__box-line Данный тур планируется в следующие даты:
						.order-steps__box-cont
							.page-table
								- for ( var i = 1; i <= 4; i++ ) {
									.page-table__line
										label.order-tour
											span.order-tour__box.order-tour__box--chck.order-tour__box--chck-alt
												span.order-tour__check(data-title="Выбрать")
													if ( i == 1 )
														input(type="radio" name="order-date").form__check
													else
														input(type="radio" name="order-date").form__check
													span.form__check-box.form__check-box--circle
											span.order-tour__box.order-tour__box--calendar
												span.order-tour__calendar 02.04 - 15.04
											span.order-tour__box.order-tour__box--instructor
												span.order-tour__instructor
													span.order-tour__instructor-avatar
														img(src="images/card__user__img-1.jpg", alt="")
													span.order-tour__instructor-info
														span Инструктор:
														|  Сергей Тарасов - МСМК и чемпион России по альпинизму. 
								- }
							.order-steps__box-action
								button.btn.btn--light.order__btn(data-type="prev") Назад
								button.btn.order__btn(data-type="next").disabled Далее
					.order-steps__box(data-title="Выберите пакет")
						.order-package
							.order-package__top
								.order-package__box.order-package__box--name
								.order-package__box.order-package__box--card
									.order-package__card
										.order-package__card-title Эконом
										.order-package__card-price
											.price
												.price__new
													span от
													|  
													span 23 990
													|  ₽
												.price__old
													span 25 000
													|  ₽
										.order-package__card-date (действует до 17.02.20)
										label.order-package__card-action.form__label.form__label--check
											input(type="radio" name="package-check").form__check
											span.form__check-box.form__check-box--simple
											span.form__label-name Выбрать
								.order-package__box.order-package__box--card
									.order-package__card
										.order-package__card-title Премиум
										.order-package__card-price
											.price
												.price__new
													span от
													|  
													span 42 790
													|  ₽
												.price__old
													span 45 000
													|  ₽
										.order-package__card-date (действует до 17.02.20) 
										label.order-package__card-action.form__label.form__label--check
											input(type="radio" name="package-check").form__check
											span.form__check-box.form__check-box--simple
											span.form__label-name Выбрать
							.order-package__main
								.page-table
									.page-table__line
										.order-tour.order-tour--table
											.order-tour__box.order-package__box--name
												| Возможность отмены участия с возвратом полной стоимости тура до начала мероприятия
											.order-tour__box.order-tour__box--check
												.order-check.order-check--yes
											.order-tour__box.order-tour__box--check
												.order-check.order-check--yes
									.page-table__line
										.order-tour.order-tour--table
											.order-tour__box.order-package__box--name
												| Консультации наших менеджеров на всех этапах подготовки к походу
											.order-tour__box.order-tour__box--check
												.order-check.order-check--no
											.order-tour__box.order-tour__box--check
												.order-check.order-check--yes
									each name in ['Услуги профессиональных инструкторов альпинизма','Оплата за вход в национальный парк','Все трансферы по программе','Все общественное снаряжение: веревки, газ, кухня и т.д.','Все средства и меры безопасности: спутниковый телефон, рации, спутниковый навигатор, аптечка, регистрация в МЧС','Пульсоксиметр и ежедневный контроль сатурации кислорода в крови с целью раннего выявления горной болезни','Круглосуточная связь с врачом','Сертификат об успешном восхождении на Эльбрус, подписанный нашей компанией и Эльбрусским ПСО МЧС','Официальный значок "Альпинист России" и удостоверение к нему в случае успешного восхождения','Официальная Книжка Альпиниста и запись в ней информации о совершенном восхождении','Индивидуальная встреча в аэропорту (или на вокзале) и трансфер в наш офис перед началом мероприятия','Ночь в отеле и завтрак перед началом мероприятия','Прокат палатки на все время мероприятия (1 палатка на 2-3 участника)']
										.page-table__line
											.order-tour.order-tour--table
												.order-tour__box.order-package__box--name= name
												.order-tour__box.order-tour__box--check
													.order-check.order-check--yes
												.order-tour__box.order-tour__box--check
													.order-check.order-check--yes
						.order-steps__box-action
							button.btn.btn--light.order__btn(data-type="prev") Назад
							button.btn.order__btn(data-type="next").disabled Далее
					.order-steps__box(data-title="Введите ваши данные")
						.order-users
							.order-users__controls
								button.order-users__btn Участник 1
							.order-users__boxs
								.order-user
									.order-user__title Участник 1
									.order-user__form
										label.form__label
											span.form__label-name Фамилия и имя
											input(type="text" name="name" placeholder="Введите фамилию и имя").form__input
										label.form__label
											span.form__label-name E-mail
											input(type="email" name="email" placeholder="e-mail").form__input
										label.form__label
											span.form__label-name Телефон
												span.form__label-name-info (используется для авторизации)
											input(type="tel" name="phone" placeholder="+7").form__input
							.order-users__more
								button
									span
									| Добавить еще участника
						.order-steps__box-action
							button.btn.btn--light.order__btn(data-type="prev") Назад 
							a(href="#popup-code").btn.order__btn.order__btn--big(data-type="login").js-popup.disabled Авторизоваться
							button.btn.order__btn(data-type="next").disabled.hidden Далее
					.order-steps__box(data-title="Оплата")
						.order-pay
							.order-pay__top
								.order-pay__info.order-pay__col.order-pay__col--lg
									.order-pay__title Комфортное восхождение на Эльбрус с юга
									.order-pay__date 02.04 - 15.04
									.order-pay__package Премиум
								.order-pay__help.order-pay__col.order-pay__col--sm
									.order-pay__help-title Покупая у нас тур, вы помогаете сделать природу чище
									.order-pay__help-text 2 % от стоимости тура уходит на очистку от мусора Национального парка Приэльбрусье
							.order-pay__main
								.order-pay__col.order-pay__col--lg
									.order-pay__code
										label.form__label
											span.form__label-name Промокод
											input(type="text" name="code" placeholder="введите промокод").form__input.form__input--light.form__input--code
										button.btn.btn--light.disabled Применить
									.order-pay__options
										.order-pay__options-title Выберите способы оплаты:
										.order-pay__options-list
											label.order-pay__option(data-type="full", data-title="Итого:", data-price="50 000 ₽", data-btn="Завершить")
												span.order-pay__option-top
													span.order-pay__option-title Полная оплата
												span.order-pay__option-price
													span.price
														span.price__new
															span 42 790
															|  ₽
														span.price__old
															span 25 000
															|  ₽
													span.order-pay__option-date (действует до 17.02.20) 
												span.order-pay__option-info Оплата полной стоимости тура.
												span.order-pay__option-check.form__label.form__label--check
													input(type="radio" name="order-pay__option" checked).form__check
													span.form__check-box.form__check-box--simple
													span.form__label-name Выбрать
											label.order-pay__option(data-type="installment", data-title="Оплатить сейчас:", data-price="5 000 ₽", data-btn="Перейти к оплате")
												span.order-pay__option-top
													span.order-pay__option-title Рассрочка
													span.order-pay__option-i
												span.order-pay__option-price
													span.price
														span.price__new
															span 5 000
															|  ₽ / мес.
													span.order-pay__option-date (5000 ₽ × 7 мес.) 
												span.order-pay__option-info
													span.order-pay__option-line
														| Полная сумма:
														span 50 000 ₽
													span.order-pay__option-line
														| Первый платеж:
														span 5 000 ₽
													span.order-pay__option-line
														| Ежемесячно:
														span 5 000 ₽
												span.order-pay__option-check.form__label.form__label--check
													input(type="radio" name="order-pay__option").form__check
													span.form__check-box.form__check-box--simple
													span.form__label-name Выбрать
									.order-pay__types
										.order-pay__type
											label.form__label.form__label--check(data-type="")
												input(type="radio" name="order-type" checked).form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name Оплатить картой онлайн
										.order-pay__type
											label.form__label.form__label--check(data-type="download-file")
												input(type="radio" name="order-type").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name Банковский перевод
										.order-pay__type
											label.form__label.form__label--check(data-type="download-file")
												input(type="radio" name="order-type").form__check
												span.form__check-box.form__check-box--circle
												span.form__label-name SWIFT перевод
												span.order-pay__type-select
													span.order-select
														span.order-select__text Рубли
														span.order-select__dropdown
															span.order-select__list
																span.order-select__item.selected Рубли
																span.order-select__item Доллары
																span.order-select__item Евро
								.order-pay__col.order-pay__col--sm
									.order-pay__summa
										.order-pay__summa-line
											| Цена: 
											span 51 790 ₽
										.order-pay__summa-line.order-pay__summa-line--sale
											| Скидка: 
											span - 5 300 ₽ 
										.order-pay__summa-line.order-pay__summa-line--alt
											| Рассрочка: 
											span 5000 ₽/мес.
									.order-pay__i С вашей карты ежемесячно будет списываться сумма: 
										span 5 000 ₽
									label.order-pay__check.form__label.form__label--check
										input(type="checkbox" name="check[]").form__check
										span.form__check-box.form__check-box--simple
										span.form__label-name Принимаю условия 
											a(href="#") договора оферы
											|   и даю согласие на обработку персональных данных
									.order-pay__download
										a(href="#").disabled
											+icon('download-file')
											span Скачать счет на оплату
									.order-pay__bottom
										.order-pay__price
											span Итого: 
											span 50 000 ₽
										.order-pay__action
											.order-steps__box-action
												button.btn.btn--light.order__btn(data-type="prev") Назад 
												a(href="success.html").btn.order-btn.disabled Завершить
										
			
