extends ../template/pug/layout

block vars
	//- - var isFooterHide = true;

block content
	.page
		.container
			.page__top
				.page__date 12 декабря 2017
				h2.title.page__title Восхождение на эльбрус
				.page__subtitle Разные маршруты восхождения на Эльбрус настолько отличаются друг от друга, что кажется, это восхождения вообще на разные горы. Так какой же из этих маршрутов самый лучший?
		.page__img
			img(src="images/page__img-1.jpg", alt="")
		.container
			.page-box
				.page-box__title Восхождение 
					br
					| на Эльбрус с юга
				.page-box__content.text
					p Это самый популярный маршрут. Самый легкий. (Легкий, конечно, только по сравнению с другими маршрутами.) Южный склон имеет наиболее развитую инфраструктуру. Здесь есть канатная дорога, на которой можно подняться на высоту 3800 м. Здесь множество отелей и приютов, в том числе и на самой горе, на высоте до 4200 м. Здесь то и дело вверх-вниз ездят ратраки и снегоходы. И, конечно, ходят толпы туристов. В общем, не самое лучшее место, если вы решили сбежать от цивилизации и побыть один на один с природой.
					p Нельзя назвать этот маршрут и самым красивым. Несомненно, вид с южного склона впечатлит любого, кто впервые оказался в горах. Но тем не менее среди всех маршрутов южный, пожалуй, наименее красивый. Восхождение на вершину обычно начинается с высоты 4000-4300 м. Но если используется ратрак в ночь восхождения, то восхождение начинается с высоты 4700-5000 м. (в зависимости от того, на какую высоту в данный момент может подняться ратрак, исходя из состояния склона). Путь к вершине проходит по тропе, натоптанной сотнями прошедших перед вами туристов.
			.page__map
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58580.99433214871!2d42.450059862418264!3d43.33843409604104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1602955469145!5m2!1sru!2sru" width="100" height="100" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			.page__alert У нас в расписании есть 2 варианта восхождения на Эльбрус с юга: 
				b комфортная 
				| программа и 
				b классическая
				| .
			.page-box
				.page-box__title.page-box__title--alt Комфортное восхождение на Эльбрус с юга
				.page-box__content.text
					p Комфортное восхождение на Эльбрус с юга включает в себя максимум сервиса: проживание в отеле и приюте, использование канатки и ратрака, в том числе для заброски продуктов, чистой воды и рюкзаков клиентов. Готовят повара и гиды. Используются только свежие продукты (не сублиматы). На маршруте вам вообще не придется носить полный рюкзак. Только от отеля до машины, от машины до канатки, от канатки до ратрака и т.д. Кому же подойдет такой маршрут?..
					h4 Этот маршрут - лучший выбор, если:
					ul
						li вам важен комфорт во время восхождения
						li вы сомневаетесь в своих физических силах
						li вы не хотите перенапрягаться и хотите совершить восхождение с минимальными трудозатратами
						li вам противопоказано носить тяжелый рюкзак
						li вас интересует прежде всего сама вершина
						li вы хотите получить максимально высокие шансы на успешное восхождение на Эльбрус
			.page-box
				.page-box__title.page-box__title--alt Классическое восхождение на Эльбрус с юга
				.page-box__content.text
					p Классическое восхождение на Эльбрус проходит тоже по южному склону, но весь путь от подножия до вершины участники идут своими ногами, не используя ни канатку, ни ратрак, живут в палатках. В общем, все как в нормальном походе. Подход к штурмовому лагерю происходит по дикому маршруту, в том числе через ледник в связке.
					h4 Это лучший выбор, если:
					ul
						li вы хотите подняться на Эльбрус максимально дешево
						li вы хотите совершить восхождение по самому легкому маршруту
						li вы хотите подняться по дикому маршруту с палатками, без ратраков, фуникулеров и отелей
						li вы хотите получить максимально высокие шансы на успешное восхождение
		.page-section.page-section--gray
			.container
				.page-section__title Популярные маршруты
				.page-section__subtitle Существует множество маршрутов восхождения, вот самые популярные из них
				.cards
					each object in main.cards.popular
						+card-simple(object)

		.page-section.page-section--desk
			.container
				.page-section__title Наши проекты
				.page-section__subtitle Компания “ELBRUS CLIMBING” это не однотипные туры, а нечто большее
				.slider-wrap
					.slider
						- for ( var i = 1; i <= 3; i++ ) {
							.slider-box
								each object in main.cards.projects
									.slider-box__item
										+card-simple(object)(class="card-simple--alt")
						- }
					.slider-bottom
						//- .slider-link
						.slider-controls
							button.slider-btn.slider-btn--prev
							.slider-counts
								span 1
								| /
								span 3
							button.slider-btn.slider-btn--next

		.section.section--dark.section--nmt
			.container
				.slider-wrap
					.slider.slider--imgs
						- for ( var i = 1; i <= 7; i++ ) {
							.slider-box
								each object in main.cards.alt
									.slider-box__item
										+card-simple(object)(class="card-simple--alt")
						- }
					.slider-bottom
						//- .slider-link
						.slider-controls
							button.slider-btn.slider-btn--prev
							.slider-counts
								span 1
								| /
								span 3
							button.slider-btn.slider-btn--next

		section.section.section--dark
			.container
				.section__header.section__header--alt
					h2.title.title--sm.section__title Фотографии с маршрута
					.subtitle Каждый поход в горы - это незабываемые впечатления, эмоции и радостные мгновения. Хорошо, что этим можно поделиться через фотографии.
				.slider-img
					- for ( var i = 1; i <= 3; i++ ) {
						.slider-img__item
							a(href="images/slider-img__img-1.jpg" data-fancybox="gallery")
								img(src="images/slider-img__img-1.jpg", alt="")
					- }

		section.section.section--dark.section--ml
			.container
				.section__header.section__header--alt.section__header--alt-left
					h2.title.title--sm.section__title Обзоры красивых мест
				.slider-wrap
					.slider-view
						- for ( var i = 1; i <= 7; i++ ) {
							.slider-view__item
								a(href="images/slider-view__img-1.jpg" data-fancybox="").slider-view__img
									img(src="images/slider-view__img-1.jpg", alt="")
								.slider-view__info
									.slider-view__title Озеро Чегет
									.slider-view__text Раньше этот маршрут позиционировался, как дикая альтернатива южному маршруту. Его выбирали те, кто не хотел видеть все эти «блага цивилизации» на южном склоне. Но многое изменилось на северном склоне за последние годы. Сюда проложили асфальтированную дорогу, здесь появилось множество приютов и кафе.
						- }
					.slider-bottom
						//- .slider-link
						.slider-controls.slider-controls--left
							button.slider-btn.slider-btn--prev
							.slider-counts
								span 1
								| /
								span 7
							button.slider-btn.slider-btn--next
							
		section.section.section--dark
			.container
				.section__header.section__header--alt
					h2.title.title--sm.section__title Видео
					.subtitle Посмотрите видео, которое поможет более ярко представить всю красоту путешествия в горы
			a(href="https://www.youtube.com/embed/v1z787ZeZFQ", style="background-image: url(images/tour-top__video.jpg);").video.js-popup
				span
