extends ../template/pug/layout

block vars
	//- - var isFooterHide = true;
	- var pageClass = "page-full";
	- var footerSimple = true;

block content
	.page-success(style="background-image: url(images/success__img.jpg);")
		.container
			.page-success__content
				h2.title.page-success__title Первый шаг к горам сделан!
				.page-success__text Спасибо! Оплата прошла успешно
				a(href="index.html").btn Вернуться на главную