extends ../template/pug/layout

block vars
	//- - var isFooterHide = true;
	- var pageClass = "mob-min-bottom";

block content
	.page-header(style="background-image: url(images/page-banner__img.jpg);")
		.container
			.page-header__content
				h2.title.page-header__title Расписание туров на эльбрус
				.page-header__text Выберите подходящую программу всего за одну минуту:
				a(href="#popup-test").js-popup.btn Пройти тест

	.filter
		.container
			.filter__top
				a(href="#popup-filter").filter-btn.js-filter-trigger
					+icon('settings')
					span.filter-btn__text
						span Скрыть
						span Показать
						|  фильтры
				ul.filter__items
					each name in ["легкий","палатка","восхождение на юг"]
						li.filter__item
							span.filter__item-name= name
							button.filter__item-close
				.filter__btns
					.filter__btns-title Вид
					button.filter__btn(data-type="cards").active
						+icon('cards')
					button.filter__btn(data-type="lines")
						+icon('lines')
				.filter__select
					select.form__select
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
						option(value="Апрель 2020") Апрель 2020
						option(value="Mай 2020") Mай 2020
			.filter__main(data-title="Фильтры")
				.filter__line.form__items
					each name in ["Показать сначала дешевые предложения","Показать туры с чемпионами альпинизма ","2021 г.","2020 г."]
						label.form__label.form__label--check
							input(type="checkbox" name="check[]").form__check
							span.form__check-box.form__check-box--circle
							span.form__label-name= name
				.filter__line.form__items
					.form__label.form__label--area
						span.form__label-name По сложности:
						select.form__select(data-placeholder="любой")
							option(value="" label="empty")
							option(value="") Легко
							option(value="") Средне
							option(value="") Сложно
					.form__label.form__label--area
						span.form__label-name По названию программы:
						select.form__select(data-placeholder="любой")
							option(value="" label="empty")
							option(value="") Восхождение с юга
							option(value="") Восхождение с севера
							option(value="") Восхождение с запада
							option(value="") Восхождение с востока
					.form__label.form__label--area
						span.form__label-name По месту проживания:
						select.form__select(data-placeholder="любой")
							option(value="" label="empty")
							option(value="") Москва
							option(value="") Жизнь за МКАД
							option(value="") Где-то ещё
					.form__label.form__label--area
						span.form__label-name По гиду:
						+custom-select()
							each name in ["Сергей Тарасов","Алексей Черданцев","Алексей Карелин","Алексей Чердaнцев","Алeксей Карелин","Сергей Карелин","Алексей Алексей","Другой Алексей","Тот самый Алексей","Не тот самый Алексей","Альтернативный Алексей","Просто Алексей","Алёша"]
								li
									.check-box
										span(style="background-image:url(images/card__user__img-1.jpg);")
										span= name
				.filter__line.filter__line--action
					button.btn.btn--light Применить
	.container
		.tours
			.tours-box(data-date="Апрель 2020")
				.tours-box__title Апрель
					span 2020
				.tours-box__list
					- for ( var i = 1; i <= 8; i++ ) {
						- var isStatus = ( i <= 2 ) ? "true" : "";
						+card(isStatus, i)
					- }
			.tours-box(data-date="Mай 2020")
				.tours-box__title Mай
					span 2020
				.tours-box__list
					- for ( var i = 1; i <= 8; i++ ) {
						+card(isStatus, i)
					- }
		.tours__help
			a(href="#popup-help").js-popup Помогите выбрать поход
