.box-num {
	background: map-get( $color, bgBox );
	padding-top: 52px;

	@include media( map-get( $media, lg ) ) {
		padding-top: 50px;
	}

	@include media( map-get( $media, sm ) ) {
		padding-top: 40px;
	}

	.title {
		max-width: 312px;

		@include media( map-get( $media, sm ) ) {
			max-width: 100%;
		}
	}

	&__boxs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 45px;
		margin-bottom: 120px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 45px;
			grid-gap: 37px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 76px;
			grid-template-columns: 1fr;
			grid-gap: 35px;
		}
	}

	&__box {

		&-num {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 50px;
			line-height: 130%;
			color: map-get( $color, accent );
			font-family: map-get( $ff, alt );

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 20px;
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 30px;
				margin-bottom: 8px;
			}
		}

		&-text {
			font-size: 17px;
			color: #fff;

			@include media( map-get( $media, lg ) ) {
				font-size: 14px;
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				font-weight: 500;
			}
		}
	}

	&__img {
		background-size: cover;
		background-position: center;

		.container {
			height: 52.777vw;
			padding-top: 20.13vw;

			@include media( map-get( $media, lg ) ) {
				height: 65.49vw;
				padding-top: 19.53vw;
			}

			@include media( map-get( $media, xl ) ) {
				height: 77.5vw;
				padding-top: 21.25vw;
			}
		}

		&-text {
			font-family: map-get( $ff, alt );
			font-weight: bold;
			font-size: 60px;
			line-height: 106.7%;
			text-align: center;
			letter-spacing: -0.002em;
			text-transform: uppercase;
			color: #fff;

			@include media( map-get( $media, xl ) ) {
				font-size: 30px;
			}
		}
	}
}