$icon_font_name:"iconFont";

@font-face {
  font-family:$icon_font_name;
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('eot'),
  url('../fonts/iconFont.woff') format('woff'),
  url('../fonts/iconFont.ttf') format('truetype'),
  url('../fonts/iconFont.svg#iconFont') format('svg');
}

%icon-angle-down,
%icon-angle-left,
%icon-angle-right,
%icon-basket,
%icon-calendar,
%icon-cards,
%icon-day,
%icon-download-file,
%icon-facebook,
%icon-fire,
%icon-height,
%icon-hotel,
%icon-img,
%icon-instagram,
%icon-lines,
%icon-long-arrow-right,
%icon-man,
%icon-map,
%icon-settings,
%icon-snow,
%icon-user,
%icon-vk,
%icon-way,
%last_selector {
    &:before {
      font-family:$icon_font_name;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
    }
  }

%icons_before_after {
  &:before,
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icons_after {
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icon-angle-down:before {
  content:'\E001';
}
%icon-angle-left:before {
  content:'\E002';
}
%icon-angle-right:before {
  content:'\E003';
}
%icon-basket:before {
  content:'\E004';
}
%icon-calendar:before {
  content:'\E005';
}
%icon-cards:before {
  content:'\E006';
}
%icon-day:before {
  content:'\E007';
}
%icon-download-file:before {
  content:'\E008';
}
%icon-facebook:before {
  content:'\E009';
}
%icon-fire:before {
  content:'\E00A';
}
%icon-height:before {
  content:'\E00B';
}
%icon-hotel:before {
  content:'\E00C';
}
%icon-img:before {
  content:'\E00D';
}
%icon-instagram:before {
  content:'\E00E';
}
%icon-lines:before {
  content:'\E00F';
}
%icon-long-arrow-right:before {
  content:'\E010';
}
%icon-man:before {
  content:'\E011';
}
%icon-map:before {
  content:'\E012';
}
%icon-settings:before {
  content:'\E013';
}
%icon-snow:before {
  content:'\E014';
}
%icon-user:before {
  content:'\E015';
}
%icon-vk:before {
  content:'\E016';
}
%icon-way:before {
  content:'\E017';
}


.icon:before {
  font-family: $icon_font_name;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-angle-down:before {
  content:'\E001';
}
.icon-angle-left:before {
  content:'\E002';
}
.icon-angle-right:before {
  content:'\E003';
}
.icon-basket:before {
  content:'\E004';
}
.icon-calendar:before {
  content:'\E005';
}
.icon-cards:before {
  content:'\E006';
}
.icon-day:before {
  content:'\E007';
}
.icon-download-file:before {
  content:'\E008';
}
.icon-facebook:before {
  content:'\E009';
}
.icon-fire:before {
  content:'\E00A';
}
.icon-height:before {
  content:'\E00B';
}
.icon-hotel:before {
  content:'\E00C';
}
.icon-img:before {
  content:'\E00D';
}
.icon-instagram:before {
  content:'\E00E';
}
.icon-lines:before {
  content:'\E00F';
}
.icon-long-arrow-right:before {
  content:'\E010';
}
.icon-man:before {
  content:'\E011';
}
.icon-map:before {
  content:'\E012';
}
.icon-settings:before {
  content:'\E013';
}
.icon-snow:before {
  content:'\E014';
}
.icon-user:before {
  content:'\E015';
}
.icon-vk:before {
  content:'\E016';
}
.icon-way:before {
  content:'\E017';
}