
.png-sprite {
	display: inline-block;

	&:before {
		content: '';
	}
}

// // SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

// 
// $png-sprite--android: (0px, 0px, 0px, 0px, 512px, 512px, 1029px, 1029px, '../images/pngSprite.png', 'png-sprite--android', );
// 
// $png-sprite--quora: (517px, 0px, -517px, 0px, 512px, 512px, 1029px, 1029px, '../images/pngSprite.png', 'png-sprite--quora', );
// 
// $png-sprite--waze: (0px, 517px, 0px, -517px, 512px, 512px, 1029px, 1029px, '../images/pngSprite.png', 'png-sprite--waze', );
// 
// $png-sprite--yelp: (517px, 517px, -517px, -517px, 512px, 512px, 1029px, 1029px, '../images/pngSprite.png', 'png-sprite--yelp', );
// 
// 
// $spritesheet-sprites: ($png-sprite--android, $png-sprite--quora, $png-sprite--waze, $png-sprite--yelp, );
// $spritesheet: (1029px, 1029px, '../images/pngSprite.png', $spritesheet-sprites, );
// 



.png-sprite--android:before {
  display: block;
  background-image: url(../images/pngSprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.png-sprite--quora:before {
  display: block;
  background-image: url(../images/pngSprite.png);
  background-position: -517px 0px;
  width: 512px;
  height: 512px;
}
.png-sprite--waze:before {
  display: block;
  background-image: url(../images/pngSprite.png);
  background-position: 0px -517px;
  width: 512px;
  height: 512px;
}
.png-sprite--yelp:before {
  display: block;
  background-image: url(../images/pngSprite.png);
  background-position: -517px -517px;
  width: 512px;
  height: 512px;
}
