html {
	font-size: map-get($font, size);
	line-height: map-get($font, lineHeight);
}

body {
	font-family: map-get($ff, main), Arial, sans-serif;
	font-weight: map-get($font, weight);
	background-color: map-get($color, bg);
	color: map-get($color, text);
	min-width: 320px;

	&.equip-basket-open {

		@include media( map-get( $media, sm ) ) {
			overflow: hidden;
			
			.content {

				&:before {
					content: '';
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background: #000;
					opacity: 0.7;
				}
			}
		}
	}

	&.fancybox-active {
		overflow: hidden;
	}

	&.mob-min-bottom {

		@include media( map-get( $media, sm ) ) {
			
			.content {
				padding-bottom: 20px;
			}
		}
	}

	&.no-footer {
		
		.content {
			padding-bottom: 80px;
		}
	}

	&.filter-open {

		@include media( map-get( $media-min, lg ), 'min' ) {
			.filter__main {
				display: block !important;
			}
	
			.filter__items {
				display: none;
			}
	
			.filter-btn__text {
	
				span {
	
					&:nth-child(1) {
						display: inline;
					}
	
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}
	}

	&.page-full {

		.content {
			padding-bottom: 0;
			display: flex;
		}
	}
}

.hidden {
	display: none;
}

p {
	margin-bottom: 18px;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
		color: inherit;

		&:hover {
			text-decoration: none;
			color: map-get($color, accent);
		}
	}
}

a {
	color: inherit;

	&:hover {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			color: map-get( $color, accent );
		}
	}
}
