.wrapper {
	width: 100%;
	overflow: hidden;

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

.content {
	flex: 1;
}

.container {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 100px;

	@include media( map-get( $media, big ) ) {
		max-width: 100%;
		padding: 0 map-get( $margin, main );
	}
}