.custom-select,
.jq-selectbox {

	&:hover {
		box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
	}

	&:active {
		outline: 1px solid #FF0000;
	}
}

.jq-selectbox {
	width: 100%;

	&:hover,
	&.focused,
	&:focus {

		.jq-selectbox__select {
			box-shadow: none;
			background: #ffff;
			border: none;
			outline: none;
		}
	}
}
.custom-select__select,
.jq-selectbox__select {
	box-shadow: none;
	background: #fff;
	outline: none;
	border: none;
	padding: 0 40px 0 15px;
	height: 44px;
	border-radius: 0;

	@include media( map-get( $media, lg ) ) {
		height: 40px;
	}
}

.custom-select__select-text,
.jq-selectbox__select-text {
	height: 100%;
	line-height: 44px;
	font-size: 14px;
	font-family: map-get( $ff, main );

	@include media( map-get( $media, lg ) ) {
		line-height: 40px;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 12px;
	}
	
	&.placeholder {
		color: #5F5F5F;
	}
}

.custom-select__trigger,
.jq-selectbox__trigger {
	border: none;
}

.custom-select__trigger-arrow,
.jq-selectbox__trigger-arrow {
	right: 20px;
	top: 16px;
	width: 7px;
	height: 7px;
	border: none;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	transform: rotate(45deg);
}

.custom-select__dropdown,
.jq-selectbox__dropdown {
	margin-top: 2px;
	box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
	background: #fff;
	border: none;
	border-radius: 0;
	padding: 20px 0 20px 15px;
	cursor: default;

	ul {
	  max-height: 230px !important;
	  padding: 0 26px 0 0 !important;
	}

	li {
		padding: 9px 0 10px;
		border-bottom: 1px solid #D9D9D9;
		font-weight: 500;
		font-size: 12px;
		line-height: 140%;
		color: #000;
		cursor: pointer;
		font-family: map-get( $ff, main );
		min-height: 50px;
		display: flex;
		align-items: center;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

		&:hover {
			background: transparent;

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: map-get( $color, accent );
			}
		}

		&.selected {
			color: map-get( $color, accent );
			background: transparent;
		}
	}
}


.fancybox-slide--html .fancybox-close-small {
	top: 10px;
	right: 10px;
	opacity: 1;
	padding: 3px;

	@include media( map-get( $media, sm ) ) {
		top: 5px;
		right: -1px;
		padding: 6px;
	}
}


/******************* SCROLLBAR *******************/
.scroll-element.scroll-y.scroll-scrolly_visible {
	background: #C4C4C4;
	cursor: pointer;
	position: absolute;
	height: 100%;
	// max-height: 186px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	border-radius: 0px;
 }
 
 .prof-box__res .scroll-element.scroll-y.scroll-scrolly_visible {
	right: 0;
 }
 
 .scroll-element.scroll_y.scroll-scrolly_visible div
 {
	  height: 100%;
	  left: 0;
	  top: 0;
	  position: absolute;
	  width: 100%;
 }
 
 .scroll-element.scroll-y.scroll-scrolly_visible .scroll-bar {
	  background: map-get( $color, accent );
	  z-index: 12;
	  height: 125px;
	  border-radius: 0px !important;
	  cursor: pointer;
 }