* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:active {
	outline: none;
}

a,
input,
select,
button,
*:focus {
  outline: none;
}

input,
button {
	padding: 0;
	border-radius: 0;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

select,
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ol,
ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}