include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/btn/btn
include ../../blocks/icon/icon
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/popup/popup
include ../../blocks/form/form
include ../../blocks/title/title
include ../../blocks/menu/menu
include ../../blocks/lang/lang
include ../../blocks/top-box/top-box
include ../../blocks/social/social
include ../../blocks/box-num/box-num
include ../../blocks/advant/advant
include ../../blocks/section/section
include ../../blocks/level/level
include ../../blocks/page/page
include ../../blocks/text/text
include ../../blocks/cards/cards
include ../../blocks/card/card
include ../../blocks/card-simple/card-simple
include ../../blocks/tours/tours
include ../../blocks/filter/filter
include ../../blocks/price/price
include ../../blocks/custom-select/custom-select
include ../../blocks/order/order
include ../../blocks/popup-code/popup-code
include ../../blocks/test/test
include ../../blocks/popup-test/popup-test
include ../../blocks/equipment/equipment
include ../../blocks/counter/counter
include ../../blocks/popup-equipment/popup-equipment
include ../../blocks/slider/slider
include ../../blocks/card-alt/card-alt
include ../../blocks/slider-img/slider-img
include ../../blocks/slider-view/slider-view
include ../../blocks/video/video
include ../../blocks/card-profi/card-profi
include ../../blocks/program/program
include ../../blocks/popup-help/popup-help
include ../../blocks/popup-equipment-info/popup-equipment-info
