- var pageTitle = pageTitle || "Page title";

head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
	<!--[if IE]>
	meta(http-equiv='X-UA-Compatible', content="IE = edge")
	<![endif]-->
	title #{pageTitle}

	link(rel="icon", href="images/favicon.ico")

	link(rel="stylesheet", href="css/main.css")

	block styles