block vars
include blocks

doctype html
html(lang="ru")
	include head

	body(class= isFooterHide ? "no-footer" : "")(class= pageClass)
		.wrapper
			+header()
			main.content
				block content
			if !isFooterHide
				+footer()(class= footerSimple ? "footer--simple" : "")
			.hidden
				+popup-test()
				+popup-help()
				+popup-equipment-info()
				block popup
		script(src="js/main.js")
		block script