.slider {

	@include media( map-get( $media, sm ) ) {
		margin-left: -20px;
		margin-right: -20px;
	}

	.slick-track {

		@include media( map-get( $media, sm ) ) {
			display: flex;
			align-items: center;
		}
	}

	.slick-list {
		margin: -20px -10px;
		padding: 20px 0;

		@include media( map-get( $media, sm ) ) {
			margin-left: 0;
			margin-right: 0;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
	}

	&-box {
		display: flex !important;
		padding: 0 10px;

		@include media( map-get( $media, lg ) ) {
			flex-wrap: wrap;
			justify-content: center;
		}
		
		&__item {
			margin-right: 20px;
			// width: calc(33.3333% - 13px);
			// max-width: calc(33.3333% - 13px);
			// flex: 0 0 calc(33.3333% - 13px);
			flex: 1;

			@include media( map-get( $media, lg ) ) {
				margin-top: 20px;
				width: calc(50% - 10px);
				max-width: calc(50% - 10px);
				flex: 0 0 calc(50% - 10px);
				margin-right: 0;

				&:nth-child(1),
				&:nth-child(2) {
					margin-top: 0;
				}

				&:nth-child(2n) {
					margin-left: 20px;
				}
			}

			@include media( map-get( $media, sm ) ) {
				// width: 61.25vw;
				// max-width: 61.25vw;
				// flex: 0 0 61.25vw;
				margin: 0 !important;
				padding: 0 2px !important;
				opacity: 0.5;
				transform: scale(.9);
				width: 67.5vw;
				max-width: 67.5vw;
				flex: 0 0 67.5vw;
				transition: .3s;

				&.slick-center {
					opacity: 1;
					transform: scale(1);
				}
			}

			&:last-child {
				margin-right: 0;
			}

			.card-simple {
				
				@supports (flex-direction: column) {
					height: 100%;
					display: flex;
					flex-direction: column;
				}

				&__info {

					@supports (flex-direction: column) {
						flex: 1;
						display: flex;
						flex-direction: column;
					}
				}

				&__text {

					@supports (flex-direction: column) {
						margin-bottom: auto;
					}
				}
			}
		}
	}

	&-bottom {
		margin-top: 45px;
		display: flex;
		align-items: center;

		@include media( map-get( $media, sm ) ) {
			margin-top: 25px;
		}
	}

	&-controls {
		margin-left: auto;
		display: flex;
		align-items: center;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		&--left {
			margin-left: 0;
		}
	}

	&-btn {
		width: 40px;
		min-width: 40px;
		height: 42px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;

		&--prev {
			background-image: url('../images/arrow-left.svg');
		}

		&--next {
			background-image: url('../images/arrow-right.svg');
		}
	}

	&-counts {
		width: 49px;
		min-width: 49px;
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		letter-spacing: -0.002em;
	}

	&-link {

		a {
			letter-spacing: -0.002em;
			text-decoration-line: underline;
			font-weight: bold;
			font-size: 20px;
			line-height: 130%;

			@include media( map-get( $media, sm ) ) {
				letter-spacing: -0.4px;
				font-size: 12px;
			}
		}

		&--sm {

			a {

				@include media( map-get( $media, lg ) ) {
					letter-spacing: -0.4px;
					font-size: 16px;
				}
			}
		}
	}

	&--profi {

		.slider-box {
			// justify-content: space-between;

			&__item {
				margin-right: 80px;
				// max-width: 360px;

				@include media( map-get( $media, lg ) ) {
					margin-right: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&--imgs {
		
		.slider-box__item {

			@include media( map-get( $media, sm ) ) {
				width: calc(100vw - 40px);
				max-width: calc(100vw - 40px);
				flex: 0 0 calc(100vw - 40px);
				padding: 0 !important;
			}
		}
	}
}