.advant {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	padding: 37px 22px 30px;

	@include media( map-get( $media, xl ) ) {
		padding-bottom: 26px;
	}

	&s {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 40px 20px;

		@include media( map-get( $media, lg ) ) {
			grid-template-columns: 1fr 1fr;
		}

		@include media( map-get( $media, xl ) ) {
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 220px;

		@include media( map-get( $media, xl ) ) {
			height: 212px;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	hr {
		margin: 26px 0 28px;
		border: none;
		border-bottom: 1px solid #A8A6A6;

		@include media( map-get( $media, lg ) ) {
			margin-top: 40px;
		}

		@include media( map-get( $media, xl ) ) {
			margin: 25px 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 17px;
		line-height: 150%;
		letter-spacing: -0.002em;
		margin-bottom: 10px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 16px;
		}

		@include media( map-get( $media, xl ) ) {
			font-size: 16px;
			margin-bottom: 8px;
		}
	}

	&__text  {
		font-size: 14px;
		line-height: 150%;

		@include media( map-get( $media, lg ) ) {
			min-height: 126px;
		}
	}
}