.slider-view {

	@include media( map-get( $media, sm ) ) {

		.slick-list {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			align-items: flex-start;
		}
	}

	& + .slider-bottom {
		margin-top: 30px;
	}

	&__item {
		display: flex !important;

		@include media( map-get( $media, sm ) ) {
			display: block !important;
			transform: scale(.9);
			transform-origin: top;
			transition: .3s;
			margin-top: 8px;

			.slider-view__info {
				opacity: 0;
				transition: .3s;
			}

			&.slick-active {
				transform: scale(1);
				margin-top: 0;

				.slider-view__info {
					opacity: 1;
				}
			}
		}
	}

	&__img {
		display: block;
		width: 44.53%;
		max-width: 44.53%;
		flex: 0 0 44.53%;
		position: relative;
		overflow: hidden;
		margin-right: 20px;

		@include media( map-get( $media, sm ) ) {
			margin-right: 0;
			width: 100%;
			max-width: 100%;
		}

		&:before {
			content: '';
			display: block;
			padding-top: 60.39%;

			@include media( map-get( $media, sm ) ) {
				padding-top: 66.78%;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		padding-top: 20px;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 20px;

		@include media( map-get( $media, sm ) ) {
			font-size: 16px;
			line-height: 180%;
			margin-bottom: 10px;
		}
	}

	&__text {
		line-height: 30px;
		font-weight: 500;
		color: #F5F5F5;

		@include media( map-get( $media, sm ) ) {
			font-weight: 400;
			font-size: 14px;
		}
	}
}