mixin card-alt(num)
	a(href="#").card-alt
		span.card-alt__img
			img(src="images/card-alt__img-" + num + ".jpg", alt="")
		ul.card__stats
			li.card__stat
				.card__stat-icon
					+icon('way')
				.card__stat-val 56 км.
			li.card__stat
				.card__stat-icon
					+icon('hotel')
				.card__stat-val отель
			li.card__stat
				.card__stat-icon
					.level-icon.level-icon--easy
				.card__stat-val легко
		span.card-alt__info
			span.card-alt__title Восхождение на Эльбрус с юга
			span.card-alt__text Максимальный уровень сервиса на всех этапах, без тяжелого рюкзака.
			span.card-alt__items
				span.card-alt__item(style="background-image: url(images/duration-pic.svg);")
					| 7 
					span + 3
					|  дней
				span.card-alt__item(style="background-image: url(images/nutrition-pic.svg);")
					| Походная еда