.card-alt {
	display: block;
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: 64.75%;

		@include media( map-get( $media, sm ) ) {
			padding-top: 86.75%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, #000000 18.13%, rgba(0, 0, 0, 0) 60.23%);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding-top: 17.5%;
			background: 
				linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0.64%, rgba(0, 0, 0, 0) 23.88%),
				linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		padding: 0 15px 8px;
		color: #fff;
	}

	&__title {
		font-weight: bold;
		letter-spacing: -0.002em;
		line-height: 130%;
		margin-bottom: 10px;
		display: block;

		@include media( map-get( $media, sm ) ) {
			font-size: 10px;
			margin-bottom: 8px;
		}
	}

	&__text {
		display: block;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.002em;
		margin-bottom: 16px;

		@include media( map-get( $media, sm ) ) {
			font-size: 8px;
			line-height: 130%;
			margin-bottom: 3px;
		}
	}

	&__items {
		display: flex;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		padding: 12px 0;
		margin-right: -27px;

		@include media( map-get( $media, sm ) ) {
			margin-right: -15px;
			padding-bottom: 0;
		}
	}

	&__item {
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 18px;
		padding-left: 26px;
		margin-right: 27px;
		font-size: 14px;
		line-height: 1;

		@include media( map-get( $media, sm ) ) {
			font-size: 10px;
			margin-right: 15px;
			padding-left: 18px;
			background-size: 13px;
			min-height: 13px;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			color: #30AD63;
		}
	}
}