.program {
	border: 1px solid #D8E5EE;
	margin-top: -30px;

	@include media( map-get( $media, md ) ) {
		margin-left: -20px;
		margin-right: -20px;
		border-left: none;
		border-right: none;
	}

	&__top {
		display: flex;
		align-items: center;
		padding: 20px 20px 20px;
		border-bottom: 1px solid #D8E5EE;
	}

	&__title {
		margin-right: auto;
		font-weight: 500;
		font-size: 15px;
		color: #5F5F5F;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__controls {
		display: flex;
		align-items: center;

		span {
			font-size: 14px;
			color: #5F5F5F;
			margin-right: 20px;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				margin-right: 13px;
			}
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__btn {
		margin-right: 20px;
		background: transparent;
		font-size: 27px;
		color: #C4C4C4;
		display: flex;
		background-repeat: no-repeat;
		background-position: center;
		height: 27px;
		width: 27px;

		@include media( map-get( $media, md ) ) {
			margin-right: 13px;
			width: 20px;
			height: 20px;
			background-size: contain;
		}

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: #FE0002;
		}

		&--height {
			background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' viewBox='0 0 27 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 15L7.76247 8.79427C8.15983 8.36633 8.8378 8.36851 9.23241 8.799L12.7923 12.6825C13.3206 13.2589 14.2762 13.0333 14.491 12.2815L17.2799 2.5202C17.5322 1.63716 18.7416 1.53267 19.1416 2.35936L25.5 15.5' stroke='%23C4C4C4' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");

			&.active {
				background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' viewBox='0 0 27 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 15L7.76247 8.79427C8.15983 8.36633 8.8378 8.36851 9.23241 8.799L12.7923 12.6825C13.3206 13.2589 14.2762 13.0333 14.491 12.2815L17.2799 2.5202C17.5322 1.63716 18.7416 1.53267 19.1416 2.35936L25.5 15.5' stroke='%23FE0002' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			}
		}

		&--map {
			background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M21.375 12.375C19.8837 12.3768 18.454 12.97 17.3995 14.0245C16.345 15.079 15.7518 16.5087 15.75 18C15.75 21.5674 20.7641 26.622 20.9767 26.8357C21.029 26.8881 21.0911 26.9297 21.1594 26.9581C21.2278 26.9864 21.301 27.001 21.375 27.001C21.449 27.001 21.5222 26.9864 21.5906 26.9581C21.6589 26.9297 21.721 26.8881 21.7733 26.8357C21.9859 26.622 27 21.5674 27 18C26.9982 16.5087 26.405 15.079 25.3505 14.0245C24.296 12.97 22.8663 12.3768 21.375 12.375ZM21.375 19.9687C20.9856 19.9687 20.605 19.8533 20.2812 19.637C19.9575 19.4206 19.7051 19.1132 19.5561 18.7534C19.4071 18.3937 19.3681 17.9978 19.4441 17.6159C19.52 17.234 19.7075 16.8832 19.9829 16.6079C20.2582 16.3325 20.609 16.145 20.9909 16.0691C21.3728 15.9931 21.7687 16.0321 22.1284 16.1811C22.4882 16.3301 22.7956 16.5825 23.012 16.9062C23.2283 17.23 23.3438 17.6106 23.3438 18C23.3432 18.522 23.1355 19.0224 22.7665 19.3915C22.3974 19.7605 21.897 19.9682 21.375 19.9687Z' fill='%23C4C4C4'/%3E%3Cpath d='M15.75 10.125C15.75 10.4233 15.8685 10.7095 16.0795 10.9205C16.2905 11.1314 16.5766 11.25 16.875 11.25C17.1734 11.25 17.4595 11.1314 17.6705 10.9205C17.8815 10.7095 18 10.4233 18 10.125V3.72821C18.0007 3.67692 18.0155 3.62681 18.0427 3.58331C18.0699 3.5398 18.1084 3.50456 18.1542 3.48138C18.1999 3.45821 18.2512 3.448 18.3023 3.45185C18.3535 3.45569 18.4026 3.47346 18.4444 3.50321L23.3944 7.03571C23.4659 7.08797 23.524 7.15637 23.5641 7.23535C23.6042 7.31432 23.625 7.40165 23.625 7.49021V10.125C23.625 10.4233 23.7435 10.7095 23.9545 10.9205C24.1655 11.1314 24.4516 11.25 24.75 11.25C25.0484 11.25 25.3345 11.1314 25.5455 10.9205C25.7565 10.7095 25.875 10.4233 25.875 10.125V6.91084C25.8745 6.64227 25.8102 6.37766 25.6874 6.13883C25.5646 5.9 25.3867 5.69379 25.1685 5.53721L17.8571 0.314964C17.5708 0.110207 17.2276 0.00012207 16.8756 0.00012207C16.5235 0.00012207 16.1803 0.110207 15.894 0.314964L9.369 4.97696C9.2703 5.04822 9.15115 5.08553 9.02944 5.0833C8.90772 5.08107 8.79002 5.03941 8.694 4.96459L2.73037 0.361089C2.48146 0.165419 2.18251 0.0437248 1.86771 0.00991365C1.5529 -0.0238975 1.23493 0.0315385 0.950138 0.169886C0.665346 0.308234 0.42522 0.523912 0.257203 0.792272C0.0891861 1.06063 5.63846e-05 1.37085 0 1.68746L0 18.4342C0.000694113 18.6961 0.0619936 18.9542 0.179098 19.1884C0.296203 19.4226 0.465934 19.6265 0.675 19.7842L7.99537 25.2753C8.28209 25.4901 8.6297 25.608 8.98789 25.612C9.34607 25.6161 9.69626 25.506 9.98775 25.2978L14.9096 21.7811C15.1439 21.6045 15.3 21.3434 15.3445 21.0534C15.389 20.7635 15.3185 20.4676 15.148 20.2288C14.9775 19.9901 14.7205 19.8274 14.4318 19.7754C14.143 19.7235 13.8454 19.7864 13.6024 19.9507L10.575 22.1186C10.5331 22.1479 10.4841 22.1654 10.433 22.169C10.382 22.1727 10.331 22.1624 10.2854 22.1393C10.2397 22.1162 10.2013 22.0811 10.174 22.0378C10.1467 21.9946 10.1318 21.9447 10.1306 21.8936V7.48909C10.1306 7.39957 10.1518 7.31132 10.1927 7.23168C10.2336 7.15204 10.2929 7.08332 10.3657 7.03121L15.3157 3.49984C15.3575 3.47008 15.4067 3.45232 15.4578 3.44847C15.509 3.44462 15.5602 3.45484 15.606 3.47801C15.6517 3.50118 15.6903 3.53643 15.7174 3.57993C15.7446 3.62344 15.7594 3.67355 15.7601 3.72484L15.75 10.125ZM7.875 21.8092C7.875 21.8614 7.86045 21.9126 7.83299 21.9571C7.80553 22.0015 7.76625 22.0374 7.71953 22.0608C7.67281 22.0841 7.62051 22.094 7.56849 22.0893C7.51647 22.0846 7.46678 22.0656 7.425 22.0342L2.475 18.3217C2.40514 18.2693 2.34844 18.2014 2.30938 18.1233C2.27033 18.0452 2.25 17.959 2.25 17.8717V3.40534C2.25 3.35311 2.26454 3.30191 2.292 3.25748C2.31946 3.21305 2.35875 3.17714 2.40547 3.15378C2.45219 3.13042 2.50449 3.12053 2.55651 3.12523C2.60853 3.12992 2.65821 3.149 2.7 3.18034L7.65 7.00534C7.71986 7.05773 7.77656 7.12568 7.81561 7.20378C7.85467 7.28189 7.875 7.36801 7.875 7.45534V21.8092Z' fill='%23C4C4C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='27' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

			&.active {
				background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M21.375 12.375C19.8837 12.3768 18.454 12.97 17.3995 14.0245C16.345 15.079 15.7518 16.5087 15.75 18C15.75 21.5674 20.7641 26.622 20.9767 26.8357C21.029 26.8881 21.0911 26.9297 21.1594 26.9581C21.2278 26.9864 21.301 27.001 21.375 27.001C21.449 27.001 21.5222 26.9864 21.5906 26.9581C21.6589 26.9297 21.721 26.8881 21.7733 26.8357C21.9859 26.622 27 21.5674 27 18C26.9982 16.5087 26.405 15.079 25.3505 14.0245C24.296 12.97 22.8663 12.3768 21.375 12.375ZM21.375 19.9687C20.9856 19.9687 20.605 19.8533 20.2812 19.637C19.9575 19.4206 19.7051 19.1132 19.5561 18.7534C19.4071 18.3937 19.3681 17.9978 19.4441 17.6159C19.52 17.234 19.7075 16.8832 19.9829 16.6079C20.2582 16.3325 20.609 16.145 20.9909 16.0691C21.3728 15.9931 21.7687 16.0321 22.1284 16.1811C22.4882 16.3301 22.7956 16.5825 23.012 16.9062C23.2283 17.23 23.3438 17.6106 23.3438 18C23.3432 18.522 23.1355 19.0224 22.7665 19.3915C22.3974 19.7605 21.897 19.9682 21.375 19.9687Z' fill='%23FE0002'/%3E%3Cpath d='M15.75 10.125C15.75 10.4233 15.8685 10.7095 16.0795 10.9205C16.2905 11.1314 16.5766 11.25 16.875 11.25C17.1734 11.25 17.4595 11.1314 17.6705 10.9205C17.8815 10.7095 18 10.4233 18 10.125V3.72821C18.0007 3.67692 18.0155 3.62681 18.0427 3.58331C18.0699 3.5398 18.1084 3.50456 18.1542 3.48138C18.1999 3.45821 18.2512 3.448 18.3023 3.45185C18.3535 3.45569 18.4026 3.47346 18.4444 3.50321L23.3944 7.03571C23.4659 7.08797 23.524 7.15637 23.5641 7.23535C23.6042 7.31432 23.625 7.40165 23.625 7.49021V10.125C23.625 10.4233 23.7435 10.7095 23.9545 10.9205C24.1655 11.1314 24.4516 11.25 24.75 11.25C25.0484 11.25 25.3345 11.1314 25.5455 10.9205C25.7565 10.7095 25.875 10.4233 25.875 10.125V6.91084C25.8745 6.64227 25.8102 6.37766 25.6874 6.13883C25.5646 5.9 25.3867 5.69379 25.1685 5.53721L17.8571 0.314964C17.5708 0.110207 17.2276 0.00012207 16.8756 0.00012207C16.5235 0.00012207 16.1803 0.110207 15.894 0.314964L9.369 4.97696C9.2703 5.04822 9.15115 5.08553 9.02944 5.0833C8.90772 5.08107 8.79002 5.03941 8.694 4.96459L2.73037 0.361089C2.48146 0.165419 2.18251 0.0437248 1.86771 0.00991365C1.5529 -0.0238975 1.23493 0.0315385 0.950138 0.169886C0.665346 0.308234 0.42522 0.523912 0.257203 0.792272C0.0891861 1.06063 5.63846e-05 1.37085 0 1.68746L0 18.4342C0.000694113 18.6961 0.0619936 18.9542 0.179098 19.1884C0.296203 19.4226 0.465934 19.6265 0.675 19.7842L7.99537 25.2753C8.28209 25.4901 8.6297 25.608 8.98789 25.612C9.34607 25.6161 9.69626 25.506 9.98775 25.2978L14.9096 21.7811C15.1439 21.6045 15.3 21.3434 15.3445 21.0534C15.389 20.7635 15.3185 20.4676 15.148 20.2288C14.9775 19.9901 14.7205 19.8274 14.4318 19.7754C14.143 19.7235 13.8454 19.7864 13.6024 19.9507L10.575 22.1186C10.5331 22.1479 10.4841 22.1654 10.433 22.169C10.382 22.1727 10.331 22.1624 10.2854 22.1393C10.2397 22.1162 10.2013 22.0811 10.174 22.0378C10.1467 21.9946 10.1318 21.9447 10.1306 21.8936V7.48909C10.1306 7.39957 10.1518 7.31132 10.1927 7.23168C10.2336 7.15204 10.2929 7.08332 10.3657 7.03121L15.3157 3.49984C15.3575 3.47008 15.4067 3.45232 15.4578 3.44847C15.509 3.44462 15.5602 3.45484 15.606 3.47801C15.6517 3.50118 15.6903 3.53643 15.7174 3.57993C15.7446 3.62344 15.7594 3.67355 15.7601 3.72484L15.75 10.125ZM7.875 21.8092C7.875 21.8614 7.86045 21.9126 7.83299 21.9571C7.80553 22.0015 7.76625 22.0374 7.71953 22.0608C7.67281 22.0841 7.62051 22.094 7.56849 22.0893C7.51647 22.0846 7.46678 22.0656 7.425 22.0342L2.475 18.3217C2.40514 18.2693 2.34844 18.2014 2.30938 18.1233C2.27033 18.0452 2.25 17.959 2.25 17.8717V3.40534C2.25 3.35311 2.26454 3.30191 2.292 3.25748C2.31946 3.21305 2.35875 3.17714 2.40547 3.15378C2.45219 3.13042 2.50449 3.12053 2.55651 3.12523C2.60853 3.12992 2.65821 3.149 2.7 3.18034L7.65 7.00534C7.71986 7.05773 7.77656 7.12568 7.81561 7.20378C7.85467 7.28189 7.875 7.36801 7.875 7.45534V21.8092Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='27' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}

		}

		&--img {
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.5625 9.20508C11.9087 9.20508 13 8.11377 13 6.76758C13 5.42138 11.9087 4.33008 10.5625 4.33008C9.21631 4.33008 8.125 5.42138 8.125 6.76758C8.125 8.11377 9.21631 9.20508 10.5625 9.20508Z' fill='%23C4C4C4'/%3E%3Cpath d='M18.3257 9.43578C18.2312 9.25458 18.0885 9.10291 17.9135 8.99742C17.7384 8.89193 17.5377 8.8367 17.3333 8.83778C17.129 8.84243 16.93 8.90441 16.7592 9.01665C16.5883 9.1289 16.4524 9.28689 16.367 9.47262L14.6792 13.1928C14.6602 13.235 14.6307 13.2716 14.5935 13.2991C14.5563 13.3267 14.5126 13.3441 14.4667 13.3499C14.4208 13.3557 14.3742 13.3495 14.3313 13.3321C14.2885 13.3146 14.2508 13.2864 14.222 13.2502L13.3337 12.1409C13.2286 12.0092 13.0943 11.9038 12.9415 11.8331C12.7886 11.7624 12.6213 11.7283 12.4529 11.7335C12.2849 11.7395 12.1205 11.7843 11.9726 11.8644C11.8247 11.9444 11.6973 12.0576 11.6003 12.195L8.22251 17.0191C8.16468 17.1003 8.13039 17.1959 8.12341 17.2954C8.11644 17.3949 8.13705 17.4943 8.18298 17.5828C8.22891 17.6713 8.29837 17.7454 8.38371 17.797C8.46906 17.8485 8.56697 17.8755 8.66667 17.875H21.6667C21.7589 17.8749 21.8497 17.8513 21.9302 17.8064C22.0108 17.7614 22.0786 17.6967 22.1271 17.6182C22.1756 17.5397 22.2032 17.4502 22.2074 17.358C22.2115 17.2659 22.1921 17.1742 22.1509 17.0917L18.3257 9.43578Z' fill='%23C4C4C4'/%3E%3Cpath d='M23.8333 0H5.95833C5.3837 0 4.83259 0.228273 4.42627 0.634602C4.01994 1.04093 3.79166 1.59203 3.79166 2.16667V20.0417C3.79166 20.6163 4.01994 21.1674 4.42627 21.5737C4.83259 21.9801 5.3837 22.2083 5.95833 22.2083H23.8333C24.408 22.2083 24.9591 21.9801 25.3654 21.5737C25.7717 21.1674 26 20.6163 26 20.0417V2.16667C26 1.59203 25.7717 1.04093 25.3654 0.634602C24.9591 0.228273 24.408 0 23.8333 0V0ZM23.6762 19.8835C23.6259 19.9338 23.566 19.9736 23.5002 20.0008C23.4344 20.0279 23.3639 20.0418 23.2927 20.0417H6.5C6.35634 20.0417 6.21856 19.9846 6.11698 19.883C6.0154 19.7814 5.95833 19.6437 5.95833 19.5V2.70833C5.95833 2.56467 6.0154 2.4269 6.11698 2.32532C6.21856 2.22374 6.35634 2.16667 6.5 2.16667H23.2917C23.4353 2.16667 23.5731 2.22374 23.6747 2.32532C23.7763 2.4269 23.8333 2.56467 23.8333 2.70833V19.5C23.833 19.6425 23.7766 19.7791 23.6762 19.8803V19.8835Z' fill='%23C4C4C4'/%3E%3Cpath d='M21.125 23.8333H2.70833C2.56467 23.8333 2.4269 23.7762 2.32532 23.6746C2.22374 23.5731 2.16667 23.4353 2.16667 23.2916V4.87496C2.16667 4.58764 2.05253 4.31209 1.84937 4.10893C1.6462 3.90576 1.37065 3.79163 1.08333 3.79163C0.796016 3.79163 0.520465 3.90576 0.317301 4.10893C0.114137 4.31209 0 4.58764 0 4.87496L0 23.8333C0 24.4079 0.228273 24.959 0.634602 25.3654C1.04093 25.7717 1.59203 26 2.16667 26H21.125C21.4123 26 21.6879 25.8858 21.891 25.6827C22.0942 25.4795 22.2083 25.2039 22.2083 24.9166C22.2083 24.6293 22.0942 24.3538 21.891 24.1506C21.6879 23.9474 21.4123 23.8333 21.125 23.8333Z' fill='%23C4C4C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

			&.active {
				background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.5625 9.20508C11.9087 9.20508 13 8.11377 13 6.76758C13 5.42138 11.9087 4.33008 10.5625 4.33008C9.21631 4.33008 8.125 5.42138 8.125 6.76758C8.125 8.11377 9.21631 9.20508 10.5625 9.20508Z' fill='%23FE0002'/%3E%3Cpath d='M18.3257 9.43578C18.2312 9.25458 18.0885 9.10291 17.9135 8.99742C17.7384 8.89193 17.5377 8.8367 17.3333 8.83778C17.129 8.84243 16.93 8.90441 16.7592 9.01665C16.5883 9.1289 16.4524 9.28689 16.367 9.47262L14.6792 13.1928C14.6602 13.235 14.6307 13.2716 14.5935 13.2991C14.5563 13.3267 14.5126 13.3441 14.4667 13.3499C14.4208 13.3557 14.3742 13.3495 14.3313 13.3321C14.2885 13.3146 14.2508 13.2864 14.222 13.2502L13.3337 12.1409C13.2286 12.0092 13.0943 11.9038 12.9415 11.8331C12.7886 11.7624 12.6213 11.7283 12.4529 11.7335C12.2849 11.7395 12.1205 11.7843 11.9726 11.8644C11.8247 11.9444 11.6973 12.0576 11.6003 12.195L8.22251 17.0191C8.16468 17.1003 8.13039 17.1959 8.12341 17.2954C8.11644 17.3949 8.13705 17.4943 8.18298 17.5828C8.22891 17.6713 8.29837 17.7454 8.38371 17.797C8.46906 17.8485 8.56697 17.8755 8.66667 17.875H21.6667C21.7589 17.8749 21.8497 17.8513 21.9302 17.8064C22.0108 17.7614 22.0786 17.6967 22.1271 17.6182C22.1756 17.5397 22.2032 17.4502 22.2074 17.358C22.2115 17.2659 22.1921 17.1742 22.1509 17.0917L18.3257 9.43578Z' fill='%23FE0002'/%3E%3Cpath d='M23.8333 0H5.95833C5.3837 0 4.83259 0.228273 4.42627 0.634602C4.01994 1.04093 3.79166 1.59203 3.79166 2.16667V20.0417C3.79166 20.6163 4.01994 21.1674 4.42627 21.5737C4.83259 21.9801 5.3837 22.2083 5.95833 22.2083H23.8333C24.408 22.2083 24.9591 21.9801 25.3654 21.5737C25.7717 21.1674 26 20.6163 26 20.0417V2.16667C26 1.59203 25.7717 1.04093 25.3654 0.634602C24.9591 0.228273 24.408 0 23.8333 0V0ZM23.6762 19.8835C23.6259 19.9338 23.566 19.9736 23.5002 20.0008C23.4344 20.0279 23.3639 20.0418 23.2927 20.0417H6.5C6.35634 20.0417 6.21856 19.9846 6.11698 19.883C6.0154 19.7814 5.95833 19.6437 5.95833 19.5V2.70833C5.95833 2.56467 6.0154 2.4269 6.11698 2.32532C6.21856 2.22374 6.35634 2.16667 6.5 2.16667H23.2917C23.4353 2.16667 23.5731 2.22374 23.6747 2.32532C23.7763 2.4269 23.8333 2.56467 23.8333 2.70833V19.5C23.833 19.6425 23.7766 19.7791 23.6762 19.8803V19.8835Z' fill='%23FE0002'/%3E%3Cpath d='M21.125 23.8333H2.70833C2.56467 23.8333 2.4269 23.7762 2.32532 23.6746C2.22374 23.5731 2.16667 23.4353 2.16667 23.2916V4.87496C2.16667 4.58764 2.05253 4.31209 1.84937 4.10893C1.6462 3.90576 1.37065 3.79163 1.08333 3.79163C0.796016 3.79163 0.520465 3.90576 0.317301 4.10893C0.114137 4.31209 0 4.58764 0 4.87496L0 23.8333C0 24.4079 0.228273 24.959 0.634602 25.3654C1.04093 25.7717 1.59203 26 2.16667 26H21.125C21.4123 26 21.6879 25.8858 21.891 25.6827C22.0942 25.4795 22.2083 25.2039 22.2083 24.9166C22.2083 24.6293 22.0942 24.3538 21.891 24.1506C21.6879 23.9474 21.4123 23.8333 21.125 23.8333Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}

	&__main-wrap {

		@include media( map-get( $media, md ) ) {

			&.scroll-mod {
				overflow: hidden;
				position: relative;

				.program__main {
					overflow-x: auto;
					overflow-y: hidden;

					&-cont {
						margin-bottom: -30px;
					}
				}

				.program__days {
					margin-bottom: 30px;
				}
			}

			&:not(.scroll-mod) {
				.program__days-wrap {
					overflow: hidden;
				}

				.program__days-cont {
					margin-bottom: -30px;
				}

				.program__days-box {
					overflow-x: auto;
					overflow-y: hidden;
				}

				.program__days {
					margin-bottom: 30px;
				}
			}
		}
	}

	&__height {
		padding-left: 10px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		@include media( map-get( $media, md ) ) {
			padding-left: 20px;
		}

		&-title {
			padding-top: 10px;
			font-weight: 600;
			font-size: 13px;
			line-height: 22px;
			margin-bottom: 5px;

			@include media( map-get( $media, md ) ) {
				padding-top: 15px;
			}
		}

		&-list {
			color: #5F5F5F;
			line-height: 22px;
			font-size: 12px;
			padding-bottom: 2px;

			li {
				margin-bottom: 2px;
				position: relative;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__view {
		display: none;
		position: relative;

		&.active {
			display: block;
		}
	}

	&__map {
		height: 383px;

		@include media( map-get( $media, md ) ) {
			height: 415px;
		}

		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}

	&__img {
		display: none;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			padding-top: 45.72%;

			@include media( map-get( $media, md ) ) {
				padding-top: 63.75%;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&.active {
			display: block;
		}
	}

	&__day {
		flex: 1;
		border-left: 1px solid #D9D9D9;
		font-size: 13px;
		line-height: 19px;
		background: transparent;
		color: #5F5F5F;
		height: 59px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		min-width: 70px;

		@include media( map-get( $media, md ) ) {
			height: 50px;
		}

		&.active {
			background: #F5F5F5;
			color: #000000;
			font-weight: 600;

			&[data-type="snow"] {
				color: #FE0002;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -1px;
				width: 100%;
				border-bottom: 1px solid #F5F5F5;
			}
		}

		&s {
			display: flex;
			padding-left: 88px;
			border-bottom: 1px solid #D9D9D9;

			@include media( map-get( $media, md ) ) {
				padding-left: 72px;
			}
		}
	}

	&__pic {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		align-items: flex-end;
		padding-left: 80px;
		padding-right: 40px;
		opacity: 0;
		visibility: hidden;
		transition: .3s;

		@include media( map-get( $media, md ) ) {
			padding-left: 68px;
			padding-right: 30px;
		}

		&:last-child {
			padding-left: 82px;
			padding-right: 33px;

			@include media( map-get( $media, md ) ) {
				padding-left: 68px;
				padding-right: 30px;
			}

			img {
				height: calc(100% - 30px);
			}
		}

		&s {
			position: relative;
			height: 100%;

			@include media( map-get( $media-min, md ), 'min' ) {
				width: 100% !important;
			}
		}

		&--alt {
			background: linear-gradient(180deg, rgba(158, 208, 243, 0.8) 0%, #FAFBFC 100%);
		}

		img {
			display: block;
			width: 100%;
			height: calc(100% - 40px);
		}

		&.active {
			display: flex;
			opacity: 1;
			visibility: visible;
		}
	}

	&__line {
		position: absolute;
		bottom: 4px;
		left: 78px;
		width: calc(100vw - 201px - 10px - 78px);
		max-width: 1391px;
		padding-right: 15px;
		text-align: right;
		border-bottom: 1px solid #000000;
		font-size: 15px;
		// font-family: Roboto;

		@include media( map-get( $media, big ) ) {
			width: calc(100vw - 41px - 10px - 78px);
		}

		@include media( map-get( $media, md ) ) {
			width: calc(100vw - 20px);
			left: 0;
			font-size: 0;
			min-height: 15px;
			text-align: left;
			line-height: 1;
			padding-left: 40px;
		}

		.icon {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: block;
				font-size: 13px;
				color: #2473B5;
				padding-bottom: 4px;
			}
		}

		&--snow {
			color: #2473B5;
			border-bottom-color: #003A6A;
		}
	}

	&__step {
		flex: 1;
		position: relative;
		opacity: 0;
		min-width: 70px;

		&--alt {

			.icon {
				color: #FE0002;
			}
		}

		&:last-child {

			&:after {
				border-right: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			height: 100%;
			width: calc(100% + 1px);
			border-left: 1px solid #D9D9D9;
			border-right: 1px solid #D9D9D9;
			background: rgba(246, 246, 246, 0.54);

			@include media( map-get( $media, md ) ) {
				top: auto;
				bottom: 0;
				height: calc(100% - 50px);
			}
		}

		.icon {
			position: absolute;
			z-index: 2;
			left: 50%;
			transform: translateX(-50%);
			font-size: 31px;
		}

		&.active {
			opacity: 1;
		}

		&s {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			padding-left: 88px;

			@include media( map-get( $media, md ) ) {
				padding-left: 72px;
			}
		}
	}

	&__box {
		display: none;
		background: #F5F5F5;
		padding: 30px;

		@include media( map-get( $media, md ) ) {
			padding: 30px 20px;
		}

		& > * {
			max-width: 895px;
		}

		&.active {
			display: block;
		}

		&-title {
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;

			@include media( map-get( $media, md ) ) {
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 17px;
			}
		}

		&-text {
			line-height: 27px;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				line-height: 170%;
			}
		}

		&s {}
	}
}
