mixin test()
	.test
		.test__top
			| Вопрос 
			span 1
			| /5
		.test__main
			.test-box.active
				.test-box__question Выберите верное утверждение:
				.test-box__items
					.test-box__item Вам  ближе формат комфортного восхождения и вы хотели бы максимально облегчить себе: использовать ратрак, канатку и т.п.
					.test-box__item Вам ближе формат настоящего горного похода, и вы хотели бы пройти весь путь до вершины своими ногами
			.test-box
				.test-box__question Что для вас восхождение на Эльбрус?
				.test-box__items
					.test-box__item Возможность сделать что-то очень значительное
					.test-box__item Возможность лучше узнать себя самого
					.test-box__item Возможность сбежать от цивилизации
					.test-box__item Возможность испытать себя на прочность
			.test-box
				.test-box__question Выберите верное утверждение:
				.test-box__items
					.test-box__item Вам  ближе формат комфортного восхождения и вы хотели бы максимально облегчить себе: использовать ратрак, канатку и т.п.
					.test-box__item Вам ближе формат настоящего горного похода, и вы хотели бы пройти весь путь до вершины своими ногами
					.test-box__item Возможность испытать себя на прочность
			.test-box
				.test-box__question Что для вас восхождение на Эльбрус?
				.test-box__items
					.test-box__item Вам  ближе формат комфортного восхождения и вы хотели бы максимально облегчить себе: использовать ратрак, канатку и т.п.
					.test-box__item Вам ближе формат настоящего горного похода, и вы хотели бы пройти весь путь до вершины своими ногами
					.test-box__item Возможность сделать что-то очень значительное
			.test-box
				.test-box__question Что для вас восхождение на Эльбрус?
				.test-box__items
					.test-box__item Возможность сделать что-то очень значительное
					.test-box__item Возможность лучше узнать себя самого
					.test-box__item Возможность сбежать от цивилизации
					.test-box__item Возможность испытать себя на прочность
		.test__bottom
			.test__progress
				.test__progress-title Готово: 
					span 0%
				.test__progress-line
					span
			.test__back
				button