.test {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	background: #fff;

	&__top {
		padding: 21px 30px 18px;
		border-bottom: 1px solid #A8A6A6;
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		text-transform: uppercase;

		@include media( map-get( $media, sm ) ) {
			letter-spacing: -0.002em;
			font-size: 14px;
			line-height: 106.7%;
			padding: 21px 16px 27px;
		}
	}

	&__main {
		padding: 44px 30px 30px;
		position: relative;

		@include media( map-get( $media, sm ) ) {
			padding: 25px 16px;
		}
	}

	&__bottom {
		border-top: 1px solid #A8A6A6;
		padding: 18px 30px 15px 30px;
		display: flex;
		align-items: flex-end;

		@include media( map-get( $media, sm ) ) {
			padding: 20px 16px 34px;
		}
	}

	&__progress {
		flex: 1;

		&-title {
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 13px;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				font-family: map-get( $ff, cir );
				font-weight: 400;
				margin-bottom: 19px;
			}
		}

		&-line {
			background: #E6E6E6;
			height: 7px;

			span {
				background: #30AD63;
				display: block;
				height: 100%;
				width: 0;
			}
		}
	}

	&__back {
		margin-left: 43px;

		@include media( map-get( $media, sm ) ) {
			margin-left: 17px;
			margin-bottom: -13px;
		}

		button {
			width: 40px;
			height: 44px;
			border: 1px solid #A8A6A6;
			background: transparent;
			display: flex;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../images/long-arrow-left.svg');

			@include media( map-get( $media, sm ) ) {
				width: 36px;
				height: 33px;
			}
		}
	}

	&-box {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&.active {
			position: static;
			opacity: 1;
			visibility: visible;
		}

		&__question {
			margin-bottom: 30px;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				margin-bottom: 15px;
				font-family: map-get( $ff, cir );
				font-weight: 400;
			}
		}

		&__items {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 22px 30px;

			@include media( map-get( $media, md ) ) {
				grid-template-columns: 1fr;
				grid-gap: 28px 30px;
			}

			@include media( map-get( $media, sm ) ) {
				grid-gap: 12px;
			}
		}

		&__item {
			border: 1px solid #A8A6A6;
			padding: 17px 20px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 12px;

			@include media( map-get( $media, sm ) ) {
				font-weight: 400;
				padding: 13px 16px 24px;
				align-items: flex-start;
				line-height: 1.45;
			}

			&.active {

				&:before {
					background: #30AD63;
				}
			}

			&:before {
				content: '';
				background: #DADADA;
				width: 17px;
				min-width: 17px;
				height: 17px;
				margin-right: 13px;
				border-radius: 50%;

				@include media( map-get( $media, sm ) ) {
					margin-right: 7px;
				}
			}
		}
	}
}