mixin card(isStatus, imgNum)
	.card
		if isStatus
			ul.card__status
				li
					+icon('fire')
					span ТОП недели
		if imgNum
			a(href="#").card__img
				img(src="images/card__img-" + imgNum + ".jpg", alt="")
		.card__info
			.card__box.card__box--line
				.card__box-stat.card__box-stat--calendar
					span 02.03 - 15.03
				.card__box-stat.card__box-stat--day
					span 7  
						span + 3
						|  дней
			.card__box
				ul.card__stats
					li.card__stat
						.card__stat-icon
							+icon('way')
						.card__stat-val 56 км.
					li.card__stat
						.card__stat-icon
							+icon('hotel')
						.card__stat-val отель
					li.card__stat
						.card__stat-icon
							.level-icon.level-icon--easy
						.card__stat-val легко
				.card__title
					a(href="#") Восхождение на Эльбрус с Юга
				.card__text Максимальный уровень сервиса на всех этапах, без тяжелого рюкзака.
				.card__more
					a(href="#")
						span Подробнее
						+icon('long-arrow-right')
			.card__box
				.card__user
					a(href="#").card__user-avatar
						img(src="images/card__user__img-1.jpg", alt="")
					.card__user-title Инструктор: 
					.card__user-val
						a(href="#") Сергей Тарасов
						|  - МСМК и чемпион России по альпинизму. 
			.card__box
				.card__bottom
					.card__price
						.price
							.price__new
								span 23 990
								|  ₽
							.price__old
								span 45 000
								|  ₽
					.card__line
						.card__date (действует до 17.02.20) 
						.card__count осталось 5 мест
					.card__action
						a(href="#").btn Записаться
