.card {
	position: relative;
	background: #FFFFFF;
	box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);

	@include media( map-get( $media, sm ) ) {
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
	}

	&:hover {

		@include media( map-get( $media-min, lg ), 'min' ) {
			box-shadow: -1px 7px 14px rgba(0, 0, 0, 0.15);
		}
	}

	&__status {
		position: absolute;
		z-index: 1;
		top: 15px;
		left: 0;

		li {
			padding: 0 11px 0 16px;
			height: 24px;
			display: flex;
			align-items: center;
			color: #fff;
			font-weight: bold;
			font-size: 8px;
			line-height: 1;
			background: #FE0002;
			margin-bottom: 5px;
			
			&:last-child {
				margin-bottom: 0;
			}

			.icon {
				margin-right: 4px;
				font-size: 13px;
				color: #FFB800;
				margin-top: -1px;
			}
		}
	}

	&__img {
		position: relative;
		overflow: hidden;
		display: block;

		&:before {
			content: '';
			display: block;
			padding-top: 53.22%;

			@include media( map-get( $media, lg ) ) {
				padding-top: 45.22%;
			}

			@include media( map-get( $media, sm ) ) {
				padding-top: 53.22%;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding-top: 24.06%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0) 4.44%, #000000 95.54%);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		padding-top: 7px;
		padding-bottom: 10px;

		@include media( map-get( $media, sm ) ) {
			padding-bottom: 14px;
		}
	}

	&__box {
		padding: 10px 15px;

		@include media( map-get( $media, sm ) ) {
			padding: 6px 13px;
		}

		&--line {
			display: flex;
			align-items: baseline;
		}
		
		&-stat {
			display: flex;
			align-items: center;
			margin-right: 21px;
			padding-left: 25px;
			background-repeat: no-repeat;
			background-position: left center;
			min-height: 17px;

			@include media( map-get( $media, sm ) ) {
				padding-left: 18px;
				min-height: 12px;
				margin-right: 13px;
				background-size: 12px;
			}

			&--calendar {
				background-image: url('../images/calendar.svg');
			}

			&--day {
				background-image: url('../images/day.svg');
			}

			&:last-child {
				margin-right: 0;
			}

			& > span {
				position: relative;
				bottom: -2px;
				font-size: 14px;
				line-height: 1;

				@include media( map-get( $media, sm ) ) {
					font-size: 10px;
				}

				span {
					color: #30AD63;
				}
			}
		}
	}

	&__stats {
		position: absolute;
		display: flex;
		top: 19px;
		right: 16px;
		z-index: 1;
		color: #fff;

		@include media( map-get( $media, sm ) ) {
			top: 8px;
			right: 10px;
		}
	}

	&__stat {
		margin-right: 12px;
		text-align: center;

		@include media( map-get( $media, sm ) ) {
			margin-right: 9px;
		}

		&:last-child {
			margin-right: 0;
		}

		&-icon {
			height: 12px;
			display: flex;
			align-items: center;
			justify-content: center;

			.level-icon {
				width: 21px;
				height: 9px;
				align-self: flex-end;
			}
		}

		.icon {
			font-size: 14px;
		}

		&-val {
			margin-top: 2px;
			font-size: 8px;
			line-height: 130%;
			letter-spacing: -0.002em;

			@include media( map-get( $media, sm ) ) {
				font-size: 6px;
			}

		}
	}

	&__title {
		margin-bottom: 8px;
		font-weight: bold;
		font-size: 14px;
		line-height: 130%;

		@include media( map-get( $media, sm ) ) {
			font-size: 10px;
		}
	}

	&__text {
		font-size: 12px;

		@include media( map-get( $media, sm ) ) {
			font-size: 8px;
			line-height: 130%;
		}
	}

	&__more {
		margin-top: 13px;

		a {
			font-size: 12px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, sm ) ) {
				font-size: 8px;
			}

			.icon {
				vertical-align: middle;
				font-size: 18px;
				margin-left: 5px;

				@include media( map-get( $media, sm ) ) {
					font-size: 13px;
				}
			}
		}
	}

	&__user {
		position: relative;
		padding-left: 56px;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: -0.002em;

		@include media( map-get( $media, sm ) ) {
			padding-left: 41px;
			font-size: 8px;
		}

		&-avatar {
			position: absolute;
			top: 0;
			left: 0;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			overflow: hidden;

			@include media( map-get( $media, sm ) ) {
				width: 32px;
				height: 32px;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&-title {
			color: #5F5F5F;
		}

		&-val {
			line-height: 1.3;

			@include media( map-get( $media, sm ) ) {
				line-height: 1.4;
			}

			a {
				text-decoration: underline;
			}
		}
	}

	&__bottom {
		border-top: 1px solid #979797;
		padding-top: 15px;
	}

	&__price {
		margin-bottom: 4px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 2px;
		}
	}

	&__line {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		font-size: 10px;
		line-height: 130%;

		@include media( map-get( $media, sm ) ) {
			font-size: 8px;
		}
	}

	&__date {
		color: #5F5F5F;
	}

	&__count {
		color: #FE0002;
	}

	&__action {
		margin-top: 12px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 10px;
		}

		.btn {
			font-size: 14px;
			font-weight: bold;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				height: 40px;
			}
		}
	}
}