.slider-img {
	padding-left: 100px;
	padding-right: 100px;
	position: relative;

	@include media( map-get( $media, sm ) ) {
		padding-left: 0;
		padding-right: 0;

		.slick-list {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__item {

		@include media( map-get( $media, sm ) ) {
			transform: scale(.9);
			transition: .3s;

			&.slick-active {
				transform: scale(1);
			}
		}

		a {
			display: block;
			position: relative;
			overflow: hidden;
			
			&:before {
				content: '';
				display: block;
				padding-top: 63.2%;

				@include media( map-get( $media, sm ) ) {
					padding-top: 72.2%;
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		color: #fff;
		font-size: 36px;

		@include media( map-get( $media, sm ) ) {
			display: none !important;
		}

		&:first-child {
			left: 0;
		}

		&:last-child {
			right: 0;
		}
	}
}