.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	height: 44px;
	padding: 0 10px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid map-get($color, accent);
	background: map-get($color, accent);
	color: #fff;
	font-family: map-get($ff, main);
	font-size: 12px;
	font-weight: 500;

	@include media( map-get( $media, sm ) ) {
		height: 40px;
	}

	&:hover {
		background: #E30D0F;
		border-color: #E30D0F;
		color: #fff;
	}

	&:active {
		border: 1px solid map-get($color, accent);
		background: map-get($color, accent);
	}

	&.disabled {
		pointer-events: none;
		background: #DADADA;
		border-color: #DADADA;
	}

	&.hidden {
		display: none;
	}

	&--big {
		font-weight: 700;
		font-size: 20px;
		height: 60px;

		@include media( map-get( $media, lg ) ) {
			height: 50px;
		}

		@include media( map-get( $media, sm ) ) {
			height: 44px;
			font-size: 12px;
		}
	}

	&--light {
		background:transparent;
		border-color: #FE0002;
		color: #FE0002;

		&:hover,
		&:active {
			background:transparent;
			border-color: #FE0002;
			color: #FE0002;
		}

		&.disabled {
			color: #B4B7BC;
			border-color: #DADADA;
			background: transparent;
		}
	}

	.form__check-box {
		border-color: #FE0002;
	}
}