mixin popup-equipment()
	#popup-equipment.popup-equipment.popup
		.popup__content
			.popup__top Список необходимого снаряжения
		
			.popup-box-wrap
				.popup-box
					.popup-box__title Снаряжение:
					ul.popup-box__list
						each name in ["Кошки","Ледоруб","Рюкзак","Горные ботинки","Альпинистская каска","Страховочная система","Налобный фонарь","Спальник","Трекинговые палки","Горные очки","Горнолыжная маска","Гамаши","Бахилы","Коврик","Термос 1 литр","Накидка на рюкзак"]
							li
								a(href="#")= name
				.popup-box
					.popup-box__title Одежда:
					ul.popup-box__list
						each name in ["Теплая куртка","Теплые рукавицы","Мембранная куртка","Штаны","Термобелье тонкое","Термобелье толстое","Кофта Polartec 200","Легкие штаны или шорты","Флисовая шапка-подшлемник","Рабочие перчатки","Компрессионные мешки","Трекинговые носки","Шерстяные носки","Перчатки поларовые","Кепка","Балаклава","Синтетическая майка"]
							li
								a(href="#")= name
			
			.popup-link-email
				a(href="#") Отправить на email