.page {
	margin-top: 61px;

	@include media( map-get( $media, lg ) ) {
		margin-top: 45px;
	}

	@include media( map-get( $media, sm ) ) {
		margin-top: 29px;
	}

	&__top {
		padding: 0 103px;

		@include media( map-get( $media, lg ) ) {
			padding: 0;
		}
	}

	&__date {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 2.6px;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	&__title {
		letter-spacing: 3.6px;
		margin-bottom: 25px;
		font-weight: normal;

		@include media( map-get( $media, sm ) ) {
			line-height: 130%;
			margin-bottom: 12px;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #53585E;
		margin-bottom: 35px;

		@include media( map-get( $media, sm ) ) {
			font-size: 16px;
			line-height: 182%;
		}
	}

	&__img {
		height: 623px;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-bottom: 98px;

		@include media( map-get( $media, lg ) ) {
			height: 550px;
			margin-bottom: 80px;
		}

		@include media( map-get( $media, sm ) ) {
			height: 460px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}

	&-box {
		display: flex;
		margin: 40px 0;

		@include media( map-get( $media, lg ) ) {
			margin: 30px 0;
		}

		@include media( map-get( $media, sm ) ) {
			display: block;
			margin: 50px 0;
		}

		&__title {
			width: 300px;
			max-width: 300px;
			flex: 0 0 300px;
			margin-right: 120px;
			font-family: map-get( $ff, alt );
			font-weight: bold;
			font-size: 45px;
			line-height: 118%;

			@include media( map-get( $media, lg ) ) {
				font-size: 30px;
				width: 290px;
				max-width: 290px;
				flex: 0 0 290px;
				margin-right: 60px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-right: 0;
				margin-bottom: 20px;
				font-weight: 400;
			}

			&--alt {
				font-size: 30px;
				line-height: 1;
				font-weight: normal;
			}
		}

		&__content {
			flex: 1;
			font-weight: 500;
			line-height: 190%;
			color: #53585E;
			padding-top: 5px;

			@include media( map-get( $media, lg ) ) {
				padding-top: 0;
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				line-height: 216%;
			}
		}
	}

	&__map {
		margin-top: 80px;
		margin-bottom: 60px;
		height: 663px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 55px;
			margin-left: -20px;
			margin-right: -20px;
			height: 451px;
			margin-bottom: 30px;
		}

		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}

	&__alert {
		background: #F5F5F5;
		padding: 17px 20px 18px;
		margin: 40px 0 50px;
		color: #000000;
		font-size: 20px;
		line-height: 200%;
		font-weight: 500;

		@include media( map-get( $media, sm ) ) {
			margin-top: 30px;
			font-size: 16px;
			line-height: 250%;
			padding-bottom: 11px;
		}

		b {
			font-weight: 600;
		}
	}

	&-section {
		margin: 90px 0 50px;

		&--desk {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&--gray {
			background: #F5F5F5;
			margin: 100px 0 90px;
			padding: 60px 0;

			.cards {
				margin: 0 105px;

				@include media( map-get( $media, lg ) ) {
					margin: 0;
				}
			}
		}

		&__title {
			font-size: 40px;
			line-height: 105%;
			color: #000000;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center;
			font-family: map-get( $ff, alt );
			font-weight: 400;

			@include media( map-get( $media, sm ) ) {
				text-align: left;
				font-size: 30px;
			}
		}

		&__subtitle {
			color: #000000;
			text-align: center;
			line-height: 170%;
			margin-bottom: 35px;

			@include media( map-get( $media, sm ) ) {
				text-align: left;
			}
		}
	}

	&-header {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		color: #fff;
		padding: 95px 0 60px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.3;
			background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		}

		.container {
			position: relative;
			z-index: 2;
		}

		&__title {
			margin-bottom: 40px;
		}

		&__text {
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
		}

		.btn {
			max-width: 224px;
			margin-top: 35px;
			font-weight: bold;
			font-size: 14px;
		}
	}

	&-table {

		&__line {
			border: 1px solid #D9D9D9;
			margin-top: -1px;

			&:first-child {
				margin-top: 0;
			}

			&:nth-child(odd) {
				background: #F5F5F5;
			}
		}
	}

	&-success {
		width: 100%;
		background-size: cover;
		background-position: center;

		&__content {
			// padding-top: 15.14vw;
			padding-top: 218px;
			padding-bottom: 218px;
			text-align: center;
			color: #FFFFFF;

			@include media( map-get( $media, sm ) ) {
				padding-top: 68px;
			}
		}

		&__title {
			margin-bottom: 18px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 22px;
			}
		}

		&__text {
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 52px;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				font-family: map-get( $ff, cir );
				font-weight: 400;
				margin-bottom: 40px;
			}
		}

		.btn {
			font-weight: bold;
			max-width: 224px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&-simple {
		padding-top: 50px;

		@include media( map-get( $media, sm ) ) {
			padding-top: 20px;


			.container {
				position: relative;
			}
		}
	}

	&-form {
		margin-top: 100px;
		padding: 80px 0;
		position: relative;
		background-size: cover;
		background-position: center;

		@include media( map-get( $media, sm ) ) {
			margin-top: 50px;
			padding: 40px 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
			z-index: 1;
		}

		.container {
			position: relative;
			z-index: 2;
		}

		.title-sm {
			color: #fff;
			margin-bottom: 40px;

			@include media( map-get( $media, sm ) ) {
				font-size: 20px;
				font-weight: bold;
				line-height: 150%;
				margin-bottom: 34px;
			}
		}

		&__form {
			max-width: 400px;

			.form__label {

				@include media( map-get( $media, sm ) ) {
					margin-bottom: 15px;
				}
			}

			.form__label-name {
				color: #fff;
			}

			.form__input {
				background: #FFFFFF;
			}

			.form__label--check {

				@include media( map-get( $media, sm ) ) {
					margin-top: 28px;
				}

				.form__check-box {
					border-color: #FE0002;

					@include media( map-get( $media, sm ) ) {
						width: 20px;
						min-width: 20px;
						height: 20px;
						margin-right: 11px;
					}

					&:after {
						background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.91635 8.37506L0.999688 5.16672L0.0274658 6.23617L3.91635 10.5139L12.2497 1.34728L11.2775 0.277832L3.91635 8.37506Z' fill='white'/%3E%3C/svg%3E%0A");
					}
				}

				.form__label-name {
					padding-top: 3px;
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
				}
			}

			.btn {
				margin-top: 49px;
				width: 100%;
				max-width: 224px;
				height: 40px;
				font-weight: bold;
				font-size: 12px;

				@include media( map-get( $media, sm ) ) {
					margin-top: 33px;
					max-width: 187px;
				}
			}
		}
	}
}
