.level {
	display: flex;

	@include media( map-get( $media, lg ) ) {
		display: block;
	}

	&-icon {
		background-size: contain;
		background-repeat: no-repeat;
		width: 34px;
		height: 17px;
		display: block;

		&--easy {
			background-image: url('../images/level-icon__easy.svg');
		}

		&--medium {
			background-image: url('../images/level-icon__medium.svg');
		}

		&--hard {
			background-image: url('../images/level-icon__hard.svg');
		}

		&--dark {

			&.level-icon--easy {
				background-image: url('../images/level-icon__easy-dark.svg');
			}

			&.level-icon--medium {
				background-image: url('../images/level-icon__medium-dark.svg');
			}

			&.level-icon--hard {
				background-image: url('../images/level-icon__hard-dark.svg');
			}
		}
	}

	&__info {
		flex: 1;

		.title {
			margin-bottom: 50px;
			max-width: 572px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 40px;
				max-width: 275px;
			}
		}
	}

	&-item {
		margin-bottom: 28px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 36px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			margin-bottom: 12px;
			display: flex;
			align-items: baseline;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 12px;
			}

			span {
				font-weight: bold;
				font-size: 20px;
				line-height: 130%;
				text-transform: uppercase;

				@include media( map-get( $media, sm ) ) {
					font-size: 16px;
				}
			}

			.level-icon {
				margin-left: 15px;

				@include media( map-get( $media, sm ) ) {
					margin-left: 11px;
					width: 28px;
					height: 14px;
				}
			}
		}

		&__text {
			line-height: 150%;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
			}
		}
	}

	&__img {
		width: 49.19%;
		max-width: 49.19%;
		flex: 0 0 49.19%;
		margin-left: 105px;
		overflow: hidden;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			margin-top: 60px;
			width: 100%;
			max-width: 100%;
			margin-left: 0;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 47px;
		}

		&:before {
			
			@include media( map-get( $media, lg ) ) {
				content: '';
				display: block;
				padding-top: 99%;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}