.equipment {

	&__title {
		margin-bottom: 30px;
		
		@include media( map-get( $media, sm ) ) {
			font-weight: 500;
			font-size: 14px;
			line-height: 229%;
			font-family: map-get( $ff, main );
			text-transform: none;
			margin-bottom: 12px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 50px;
		max-width: 1030px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&__top {
		display: flex;
		margin-bottom: 38px;

		@include media( map-get( $media, sm ) ) {
			display: block;
			margin-bottom: 10px;
		}
	}

	&-tour {
		background: #F5F5F5;
		width: 49.19%;
		max-width: 49.19%;
		flex: 0 0 49.19%;

		@include media( map-get( $media, sm ) ) {
			background: transparent;
			width: 100%;
			max-width: 100%;
		}

		&__code {
			padding: 30px 30px 61px;

			@include media( map-get( $media, sm ) ) {
				padding: 0;
			}
		}

		&__code,
		&__info {
			display: none;

			&.active {
				display: block;
			}
		}

		&__info {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 26px;

			@include media( map-get( $media, sm ) ) {
				margin-left: -20px;
				margin-right: -20px;
				background: #F5F5F5;
				padding-bottom: 0;
			}

			.equipment-tour__title {
				font-size: 18px;
				margin-bottom: 19px;

				@include media( map-get( $media, sm ) ) {
					font-weight: 600;
					font-size: 10px;
					line-height: 150%;
					margin-bottom: 10px;
					margin-top: 11px;
				}
			}
		}

		&__title {
			font-weight: 600;
			line-height: 150%;
			margin-bottom: 20px;

			@include media( map-get( $media, sm ) ) {
				font-size: 12px;
				font-weight: 500;
				line-height: 130%;
				margin-bottom: 8px;
			}
		}

		&__line {
			display: flex;
			margin-bottom: 34px;

			@include media( map-get( $media, md ) ) {
				display: block;
			}

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 10px;
			}

			.form__input {
				height: 44px;
				flex: 1;
				margin-right: 13px;
				font-size: 16px;
				letter-spacing: -0.002em;
				color: #5F5F5F;
				font-family: map-get($ff, cir);

				@include media( map-get( $media, sm ) ) {
					background: #F5F5F5;
					font-size: 12px;
				}
			}

			.btn {
				width: 147px;
				min-width: 147px;
				font-size: 14px;
				font-family: map-get($ff, cir);
				font-weight: bold;

				@include media( map-get( $media, md ) ) {
					margin-left: auto;
					margin-top: 10px;
				}

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}

		&__text {
			font-size: 14px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&__top {
			margin-left: -20px;
			margin-right: -20px;
			padding: 20px 20px 15px;
			font-weight: 600;
			font-size: 20px;
			line-height: 150%;
			border-bottom: 1px solid #000000;
			margin-bottom: 18px;

			@include media( map-get( $media, sm ) ) {
				padding: 0;
				margin-bottom: 0;
				border-bottom-color: transparent;

				& ~ * {
					display: none;
				}

				&.active {
					border-bottom-color: #000;

					& ~ * {
						display: block;

						&:last-child {
							padding-bottom: 16px;
						}
					}

					.equipment-tour__top-mobile {

						&:after {
							transform: translateY(-50%) rotate(45deg);
						}
					}
				}
			}

			&-desk {

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			&-mobile {
				display: none;

				@include media( map-get( $media, sm ) ) {
					display: block;
					padding: 15px 20px 11px;
					position: relative;
					font-weight: 500;
					font-size: 12px;
					line-height: 150%;

					span {
						font-weight: 600;
					}

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 22px;
						width: 10px;
						height: 10px;
						margin-top: -1px;
						border-bottom: 2px solid;
						border-right: 2px solid;
						transform: translateY(-50%) rotate(-45deg);
					}
				}
			}
		}

		&__date {
			font-weight: 500;
			font-size: 18px;
			padding-left: 35px;
			min-height: 24px;
			display: flex;
			align-items: center;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 23px;
			background-image: url('../images/calendar.svg');

			@include media( map-get( $media, sm ) ) {
				font-size: 10px;
				min-height: 13px;
				background-size: 13px;
				padding-left: 18px;
				line-height: 13px;
			}
		}

		&__item {
			font-size: 18px;
			line-height: 150%;
			margin-top: 19px;

			@include media( map-get( $media, sm ) ) {
				font-weight: normal;
				font-size: 10px;
				line-height: 150%;
				margin-top: 10px;
			}

			&--order {

				@include media( map-get( $media, sm ) ) {
					display: none !important;
				}
			}

			span {
				font-weight: 600;
			}
		}
	}

	&-basket {
		width: 100%;
		margin-left: 124px;
		background: #F5F5F5;
		align-self: flex-start;
		position: relative;

		@include media( map-get( $media, md ) ) {
			margin-left: 20px;
		}

		@include media( map-get( $media, sm ) ) {
			position: fixed;
			z-index: 50;
			bottom: 0;
			left: 0;
			width: 100vw;
			background: #FFFFFF;
			box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
			margin: 0;
		}

		&.active {
			
			@include media( map-get( $media-min, sm ), 'min' ) {
				align-self: initial;

				.equipment-basket__box {
					border-bottom: 1px solid #000000;

					&-price {
						opacity: 0;
					}
		
					&:after {
						transform: translateY(-50%) rotate(45deg);
					}
				}
				.equipment-basket__elems {
					display: block;
				}
			}

			@include media( map-get( $media, sm ) ) {

				.equipment-basket__items,
				.equipment-basket__elems {
					display: block;
				}
				.equipment-basket__box {
					border-bottom: 1px solid #000000;
				}
			}
		}

		&__box {
			display: flex;
			align-items: center;
			padding: 21px 62px 14px 20px;
			position: relative;
			cursor: pointer;

			@include media( map-get( $media, sm ) ) {
				padding-top: 22px;
				padding-right: 20px;
			}

			.icon {
				font-size: 23px;
				margin-right: 14px;

				@include media( map-get( $media, sm ) ) {
					font-size: 19px;
					margin-right: 9px;
					position: relative;
					top: -2px;
				}
			}

			span {
				font-weight: 600;
				font-size: 20px;
				line-height: 150%;

				@include media( map-get( $media, sm ) ) {
					font-size: 16px;
				}
			}

			&-price {
				margin-left: auto;
				font-weight: bold;
				font-size: 20px;
				line-height: 150%;

				@include media( map-get( $media, sm ) ) {
					font-size: 16px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 30px;
				width: 10px;
				height: 10px;
				border-bottom: 2px solid #000;
				border-right: 2px solid #000;
				transform: translateY(-50%) rotate(-45deg);

				@include media( map-get( $media, sm ) ) {
					height: 0;
					border-right: none;
					border-bottom: 1px solid #BEBEBE;
					top: 4px;
					right: 50%;
					transform: translateX(50%);
					width: 20px;
				}
			}
		}

		&__elems {
			padding: 15px 20px 20px;
			display: none;

			@include media( map-get( $media, sm ) ) {
				background: #F5F5F5;
				padding: 20px;
			}

			.btn {
				display: flex;
				margin-left: auto;
				height: 40px;
				padding: 0 25px;
				min-width: 170px;
				font-weight: bold;
				font-size: 12px;
				margin-top: 20px;
			}
		}

		&__elem {
			margin-bottom: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;

			@include media( map-get( $media, sm ) ) {
				font-weight: 600;
				font-size: 14px;
			}

			&--all {
				margin-top: 19px;
			}

			span {
				font-weight: 600;
				font-size: 18px;

				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__items {
			position: absolute;
			z-index: 10;
			top: 100%;
			left: 0;
			width: 100%;
			padding: 20px 0 30px 20px;
			background: #F5F5F5;
			border: 1px solid #D9D9D9;
			display: none;

			@include media( map-get( $media, sm ) ) {
				position: static;
				border: none;
				height: 100vh;
				max-height: 167px;
				background: #fff;
				padding: 8px 10px 8px 20px;
			}

			.scroll-element.scroll-y.scroll-scrolly_visible {
				right: 0;

				@include media( map-get( $media, sm ) ) {
					width: 2px;
					right: 10px;
				}
			}

			&.active {

				@include media( map-get( $media-min, sm ), 'min' ) {
					display: block;
				}
			}

			&-list {
				max-height: 405px;
				margin-bottom: 15px;
				padding-right: 20px;
				padding-top: 8px;

				@include media( map-get( $media, sm ) ) {
					max-height: 100%;
					padding-right: 22px;
					padding-top: 10px;
				}
			}

			&-summa {
				border-top: 1px solid #000000;
				padding-top: 24px;
				font-weight: bold;
				font-size: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-right: 20px;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}

		&__item {
			margin-bottom: 27px;
			padding-right: 3px;
			display: flex;
			align-items: center;

			@include media( map-get( $media, sm ) ) {
				padding-right: 0;
				margin-bottom: 19px;
				align-items: flex-start;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&:last-child {
				margin-bottom: 15px;
			}

			&-name {
				font-weight: 500;
				line-height: 150%;
				flex: 1;
				margin-right: 15px;

				@include media( map-get( $media, sm ) ) {
					font-size: 12px;
				}

				a {}
			}

			&-price {
				font-weight: 600;
				font-size: 18px;
				line-height: 1;
				text-align: right;
				min-width: 80px;

				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
					min-width: 60px;
				}
			}

			&-del {
				display: flex;
				width: 24px;
				min-width: 24px;
				height: 24px;
				margin-left: 20px;
				cursor: pointer;
				background-color: transparent;
				background-image: url('../images/del.svg');
				background-position: center;
				background-size: 22px;

				@include media( map-get( $media, sm ) ) {
					font-size: 19px;
					width: 19px;
					min-width: 19px;
					height: 19px;
					margin-left: 17px;
				}
			}
		}
	}

	&__main {
		display: flex;
	}

	&-aside {
		background: #F5F5F5;
		width: 400px;
		max-width: 400px;
		flex: 0 0 400px;
		padding-bottom: 20px;
		margin-right: 20px;

		@include media( map-get( $media, lg ) ) {
			width: 300px;
			max-width: 300px;
			flex: 0 0 300px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-left: -20px;
			width: 75px;
			max-width: 75px;
			flex: 0 0 75px;
			padding-bottom: 0;
			align-self: flex-start;
			margin-right: 9px;
		}

		&--no-mob {
			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		a {

			&.active {
				color: #FE0002;
			}
		}

		&__all {
			border-bottom: 1px solid #000000;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}

			a {
				display: block;
				padding: 26px 20px;
				font-weight: bold;
				font-size: 18px;
				line-height: 150%;

				&.active {
					padding-top: 31px;
					padding-bottom: 31px;
				}
			}
		}

		&__box {

			@include media( map-get( $media, sm ) ) {
				border-bottom: 1px solid #D9D9D9;

				&:last-child {
					border-bottom: none;
				}
			}

			&.active {

				& > a {

					@include media( map-get( $media, sm ) ) {
						color: #FE0002;
						font-weight: 600;

						.equip-icon {

							&--equip {
								background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M432.921 32h-353.842c-20.623 0-37.34 16.718-37.34 37.34v42.19c0 20.623 16.718 37.34 37.34 37.34h353.842c20.622 0 37.339-16.718 37.339-37.34v-42.19c0-20.623-16.717-37.34-37.339-37.34z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M139.127 148.869v-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M178.081 32v116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M333.913 148.869v-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M372.867 32v116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M314.433 304.678h-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M411.82 187.809v42.988c-0.321 16.733-6.258 32.874-16.856 45.826s-25.242 21.969-41.579 25.599'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M158.609 302.223c-16.338-3.63-30.981-12.646-41.578-25.599s-16.535-29.094-16.856-45.827v-42.988'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M411.82 460.504h48.695c2.584 0 5.061-1.026 6.888-2.853 1.825-1.827 2.852-4.303 2.852-6.886v-87.652c0-15.498-6.156-30.363-17.116-41.319-10.958-10.959-25.82-17.116-41.319-17.116'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M100.175 460.504h-48.696c-2.583 0-5.060-1.026-6.886-2.853s-2.852-4.303-2.852-6.886v-87.652c0-15.498 6.157-30.363 17.115-41.319 10.959-10.959 25.822-17.116 41.319-17.116v0'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M411.825 236.522v223.999c0 5.166-2.050 10.122-5.705 13.774-3.652 3.652-8.606 5.705-13.772 5.705h-272.695c-5.166 0-10.12-2.053-13.773-5.705s-5.705-8.608-5.705-13.774v-223.999'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M197.566 324.174c0 5.166-2.052 10.12-5.705 13.774-3.653 3.652-8.607 5.703-13.773 5.703s-10.12-2.050-13.773-5.703c-3.653-3.654-5.705-8.608-5.705-13.774v-48.695c0-2.584 1.025-5.061 2.852-6.886 1.827-1.827 4.303-2.853 6.887-2.853h19.478c2.583 0 5.060 1.026 6.887 2.853 1.827 1.825 2.852 4.303 2.852 6.886v48.695z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M353.389 324.174c0 5.166-2.053 10.12-5.705 13.774-3.652 3.652-8.608 5.703-13.774 5.703-5.164 0-10.12-2.050-13.772-5.703-3.652-3.654-5.705-8.608-5.705-13.774v-48.695c0-2.584 1.026-5.061 2.852-6.886 1.827-1.827 4.305-2.853 6.888-2.853h19.478c2.584 0 5.061 1.026 6.886 2.853 1.827 1.825 2.853 4.303 2.853 6.886v48.695z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M255.997 246.243c16.137 0 29.218-13.081 29.218-29.218s-13.081-29.218-29.218-29.218c-16.137 0-29.218 13.081-29.218 29.218s13.081 29.218 29.218 29.218z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M290.084 392.329h-68.174c-13.447 0-24.348 10.901-24.348 24.348s10.901 24.348 24.348 24.348h68.175c13.447 0 24.348-10.901 24.348-24.348s-10.901-24.348-24.348-24.348z'%3E%3C/path%3E%3C/svg%3E%0A");
							}
							&--clothes {
								background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='20.48' stroke='%23FE0002' d='M386.038 472.728v-260.072l65.018 43.344 43.344-86.69-151.708-130.037c-22.301 24.99-53.32 40.5-86.692 43.346v0c-33.377-2.829-64.401-18.341-86.69-43.346v0l-151.709 130.037 43.346 86.69 65.019-43.344v260.072h260.075z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='20.48' stroke='%23FE0002' d='M256 212.654v-130.036'%3E%3C/path%3E%3C/svg%3E%0A");
							}
							&--trifle {
								background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M99.479 16v104.347c0 16.605 6.597 32.529 18.337 44.271s27.666 18.338 44.271 18.338c16.605 0 32.529-6.596 44.271-18.338s18.338-27.666 18.338-44.271v-104.347'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M162.088 16v479.997'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M349.912 182.958v313.043'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23FE0002' d='M287.304 78.608c0-16.605 6.596-32.529 18.337-44.271 11.743-11.742 27.668-18.337 44.272-18.337s32.529 6.596 44.272 18.337c11.74 11.742 18.337 27.666 18.337 44.271v41.739c0 16.605-6.596 32.53-18.337 44.271-11.743 11.742-27.668 18.338-44.272 18.338s-32.529-6.596-44.272-18.338c-11.74-11.742-18.337-27.666-18.337-44.271v-41.739z'%3E%3C/path%3E%3C/svg%3E%0A");
							}
							&--services {
								background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M70.956 80.695c0-12.915 5.13-25.301 14.263-34.433s21.518-14.262 34.433-14.262h38.957v58.434c0 21.523-7.694 38.956-29.217 38.956h-29.217c-7.749 0-15.18-3.078-20.66-8.558s-8.558-12.912-8.558-20.66v-19.477z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M158.607 90.435c0 21.523 7.695 38.957 29.217 38.957h29.217c7.749 0 15.18-3.078 20.66-8.558s8.558-12.912 8.558-20.66v-19.477c0-6.394-1.26-12.727-3.707-18.636s-6.035-11.276-10.555-15.797c-4.522-4.522-9.89-8.109-15.797-10.556s-12.24-3.706-18.636-3.706h-38.957'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M148.873 226.781c16.137 0 29.217-13.081 29.217-29.217s-13.081-29.217-29.217-29.217c-16.137 0-29.217 13.081-29.217 29.217s13.081 29.217 29.217 29.217z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M470.262 450.783c0 7.748-3.077 15.18-8.558 20.658-5.478 5.481-12.909 8.559-20.661 8.559h-58.435c-7.748 0-15.18-3.078-20.658-8.559-5.481-5.478-8.559-12.909-8.559-20.658v-185.043c0-15.498 6.156-30.362 17.117-41.32 10.959-10.959 25.821-17.115 41.317-17.115 15.5 0 30.363 6.156 41.32 17.115 10.96 10.959 17.115 25.822 17.115 41.32v185.043z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M392.348 210.635v-22.81c0-5.166 2.050-10.12 5.703-13.773s8.608-5.705 13.774-5.705c5.166 0 10.121 2.052 13.772 5.705 3.654 3.653 5.705 8.607 5.705 13.773v22.81'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M353.392 441.043h116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M353.392 265.739h116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke=' %23FE0002' d='M411.824 168.347c-0.346-10.222-4.56-19.932-11.791-27.164s-16.942-11.447-27.165-11.792h-19.478c-29.217 0-58.435 9.74-58.435 68.174v150.956c0 82.784-38.957 131.477-121.74 131.477-17.266 0.002-34.365-3.396-50.317-10.001-15.953-6.608-30.448-16.291-42.657-28.502-12.21-12.209-21.894-26.704-28.501-42.657s-10.006-33.050-10.003-50.317v-73.043c0-20.663 8.209-40.481 22.82-55.093s34.429-22.82 55.094-22.82'%3E%3C/path%3E%3C/svg%3E%0A");
							}
						}
					}

					&:after {
						transform: translateY(-50%) rotate(45deg);
					}
				}

				.equipment-aside__items {
					display: block;
				}
			}

			& > a {
				padding: 22px 50px 21px 20px;
				display: block;
				position: relative;
				font-weight: bold;
				font-size: 18px;
				line-height: 150%;

				@include media( map-get( $media, sm ) ) {
					padding: 11px 0 8px;
					font-size: 10px;
					font-weight: 400;
					text-align: center;
					height: 66px;
					line-height: 120%;

					span {
						height: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 30px;
					width: 10px;
					height: 10px;
					border-bottom: 2px solid #000;
					border-right: 2px solid #000;
					transform: translateY(-50%) rotate(-45deg);

					@include media( map-get( $media, sm ) ) {
						display: none;
					}
				}
			}
		}

		&__items {
			padding: 10px 20px 27px;
			display: none;

			@include media( map-get( $media, sm ) ) {
				display: none !important;
			}

			li {
				margin-bottom: 36px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__item {
			line-height: 150%;
			font-weight: 500;
			padding-left: 27px;
			position: relative;

			&.active {
				font-weight: 600;
			}

			&:before {
				content: '';
				position: absolute;
				top: .2em;
				left: 0;
				border-radius: 50%;
				width: 12px;
				height: 12px;
				border: 2px solid #767676;
			}

			&--necessarily {

				&:before {
					background: #767676;
					border-color: #767676;
				}
			}

			&--not-necessary {

				&:before {
					background: transparent;
					border-color: #767676;
				}
			}

			&--not-paid {

				&:before {
					background: #FE0002;
					border-color: #FE0002;
				}
			}

			&--bought {

				&:before {
					background: #30AD63;
					border-color: #30AD63;
				}
			}
		}
	}

	&-back {
		display: none;

		@include media( map-get( $media, sm ) ) {
			display: block;
			margin-bottom: 14px;
			margin-top: 12px;

			a {
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				padding-left: 24px;
				background-repeat: no-repeat;
				background-position: left center;
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5.99805H1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.5 10.498L1 5.99805L5.5 1.49805' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&-main {
		flex: 1;
	}

	&-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&-card {
		display: block;
		box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
		padding: 35px 30px 30px;

		&__img {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 26px;
			height: 208px;

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__name {
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			line-height: 150%;
			display: block;
		}
	}

	&__popup {
		display: none;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.5 0C6.81886 0 5.17547 0.498516 3.77766 1.43251C2.37984 2.3665 1.29037 3.69402 0.647028 5.24719C0.00368293 6.80036 -0.164645 8.50943 0.163329 10.1583C0.491303 11.8071 1.30085 13.3217 2.4896 14.5104C3.67834 15.6992 5.1929 16.5087 6.84174 16.8367C8.49057 17.1646 10.1996 16.9963 11.7528 16.353C13.306 15.7096 14.6335 14.6202 15.5675 13.2223C16.5015 11.8245 17 10.1811 17 8.5C16.9976 6.24641 16.1013 4.08582 14.5077 2.49228C12.9142 0.898753 10.7536 0.00243743 8.5 0V0ZM8.67709 3.54167C8.88723 3.54167 9.09265 3.60398 9.26738 3.72073C9.44211 3.83748 9.57829 4.00342 9.65871 4.19757C9.73913 4.39171 9.76017 4.60535 9.71917 4.81145C9.67817 5.01755 9.57698 5.20687 9.42839 5.35547C9.27979 5.50406 9.09048 5.60525 8.88437 5.64625C8.67827 5.68725 8.46463 5.66621 8.27049 5.58579C8.07634 5.50537 7.9104 5.36919 7.79365 5.19446C7.6769 5.01973 7.61459 4.81431 7.61459 4.60417C7.61459 4.32237 7.72653 4.05212 7.92579 3.85287C8.12504 3.65361 8.39529 3.54167 8.67709 3.54167ZM10.2708 13.1042H7.4375C7.24964 13.1042 7.06948 13.0295 6.93664 12.8967C6.8038 12.7639 6.72917 12.5837 6.72917 12.3958C6.72917 12.208 6.8038 12.0278 6.93664 11.895C7.06948 11.7621 7.24964 11.6875 7.4375 11.6875H7.96875C8.01572 11.6875 8.06076 11.6688 8.09397 11.6356C8.12718 11.6024 8.14584 11.5574 8.14584 11.5104V8.32292C8.14584 8.27595 8.12718 8.23091 8.09397 8.1977C8.06076 8.16449 8.01572 8.14583 7.96875 8.14583H7.4375C7.24964 8.14583 7.06948 8.07121 6.93664 7.93837C6.8038 7.80553 6.72917 7.62536 6.72917 7.4375C6.72917 7.24964 6.8038 7.06947 6.93664 6.93663C7.06948 6.80379 7.24964 6.72917 7.4375 6.72917H8.14584C8.52156 6.72917 8.8819 6.87842 9.14757 7.1441C9.41325 7.40978 9.5625 7.77011 9.5625 8.14583V11.5104C9.5625 11.5574 9.58116 11.6024 9.61437 11.6356C9.64758 11.6688 9.69262 11.6875 9.73959 11.6875H10.2708C10.4587 11.6875 10.6389 11.7621 10.7717 11.895C10.9045 12.0278 10.9792 12.208 10.9792 12.3958C10.9792 12.5837 10.9045 12.7639 10.7717 12.8967C10.6389 13.0295 10.4587 13.1042 10.2708 13.1042Z' fill='%23FE0002'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		width: 17px;
		height: 17px;
		vertical-align: middle;
		position: relative;
		bottom: 2px;

		@include media( map-get( $media, sm ) ) { 
			display: inline-block;
			margin-left: 12px;
		}
	}

	&-item {
		border: 1px solid #D9D9D9;
		padding:	35px 20px 29px 30px;
		margin-bottom: 15px;
		display: flex;
		position: relative;

		@include media( map-get( $media, md ) ) {
			padding: 10px 7px 12px 10px;
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__info {
			flex: 1;
		}

		&__status {
			position: absolute;
			top: 0;
			left: 0;
			background: #FE0002;
			line-height: 1;
			height: 30px;
			display: flex;
			align-items: center;
			padding: .2em 30px 0;
			font-weight: bold;
			font-size: 10px;
			letter-spacing: 0.11em;
			color: #fff;
			text-transform: uppercase;

			@include media( map-get( $media, md ) ) {
				font-size: 7px;
				height: 16px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		&__img {
			margin-right: 20px;
			width: 160px;
			min-width: 160px;
			min-height: 160px;
			display: flex;
			align-items: center;
			justify-content: center;

			@include media( map-get( $media, md ) ) {
				width: 55px;
				min-width: 55px;
				margin-right: 10px;
				min-height: 55px;
			}

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 18px;

			@include media( map-get( $media, md ) ) {
				font-size: 10px;
				margin-bottom: 3px;
			}
		}

		&__text {
			margin-bottom: 18px;
			font-size: 14px;
			line-height: 150%;
			min-height: 51px;

			@include media( map-get( $media, md ) ) {
				font-size: 8px;
				font-weight: 500;
				min-height: 0;
				margin-bottom: 12px;
			}
		}

		&__action {
			display: flex;
			align-items: center;

			.counter {
				margin-right: auto;
			}

			.btn {
				height: 40px;
				margin-bottom: 0;
				margin-left: 35px;
				width: 100%;
				max-width: 198px;
				justify-content: flex-start;

				@include media( map-get( $media, md ) ) {
					height: 18px;
					min-width: 68px;
					width: auto;
					max-width: initial;
					padding-left: 5px;
					margin-left: 3px;
				}

				.form__check-box {

					@include media( map-get( $media, md ) ) {
						width: 9px;
						height: 9px;
						min-width: 9px;
					}
				}

				.form__label-name {
					font-weight: 600;
					font-size: 14px;

					@include media( map-get( $media, md ) ) {
						font-size: 5px;
					}
				}
			}
		}

		&s {}
	}

	&-info {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		background: #F5F5F5;
		border: 1px solid #D9D9D9;
		padding: 20px 30px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 0;
			margin-bottom: 13px;
			padding: 0;
			background: transparent;
			border: none;
			display: none;
			grid-template-columns: 1fr 1fr;
			grid-gap: 3px 10px;
		}

		&__item {
			font-size: 12px;
			line-height: 1;
			padding-left: 22px;
			position: relative;

			@include media( map-get( $media, sm ) ) {
				font-size: 10px;
				padding-left: 14px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 50%;
				width: 12px;
				height: 12px;
				border: 2px solid #767676;

				@include media( map-get( $media, sm ) ) {
					width: 6px;
					height: 6px;
					border-width: 1px;
				}
			}

			&--necessarily {

				&:before {
					background: #767676;
					border-color: #767676;
				}
			}

			&--not-necessary {

				&:before {
					background: transparent;
					border-color: #767676;
				}
			}

			&--not-paid {

				&:before {
					background: #FE0002;
					border-color: #FE0002;
				}
			}

			&--bought {

				&:before {
					background: #30AD63;
					border-color: #30AD63;
				}
			}
		}
	}

	&-info--mobile {
		display: none;

		@include media( map-get( $media, sm ) ) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 8px 10px;
			margin-top: 8px;
		}
	}

	&-logs {
		display: none;

		@include media( map-get( $media, sm ) ) {
			background: #F5F5F5;

			&.active {
				display: block;
			}
		}
	}

	&-log {
		border-bottom: 1px solid #D9D9D9;

		&:last-child {
			border-bottom: none;
		}

		a {
			display: block;
			position: relative;
			font-size: 12px;
			font-weight: 500;
			padding: 13px 25px 12px;

			&:before {
				width: 6px;
				height: 6px;
				border-width: 1px;
				left: 12px;
				top: 50%;
				margin-top: -3px;
			}
		}
	}
}


.equip-icon {
	display: none;

	@include media( map-get( $media, sm ) ) {
		display: block;
		width: 25px;
		height: 25px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3px;
	}

	&--equip {
		background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M432.921 32h-353.842c-20.623 0-37.34 16.718-37.34 37.34v42.19c0 20.623 16.718 37.34 37.34 37.34h353.842c20.622 0 37.339-16.718 37.339-37.34v-42.19c0-20.623-16.717-37.34-37.339-37.34z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M139.127 148.869v-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M178.081 32v116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M333.913 148.869v-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M372.867 32v116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M314.433 304.678h-116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M411.82 187.809v42.988c-0.321 16.733-6.258 32.874-16.856 45.826s-25.242 21.969-41.579 25.599'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M158.609 302.223c-16.338-3.63-30.981-12.646-41.578-25.599s-16.535-29.094-16.856-45.827v-42.988'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M411.82 460.504h48.695c2.584 0 5.061-1.026 6.888-2.853 1.825-1.827 2.852-4.303 2.852-6.886v-87.652c0-15.498-6.156-30.363-17.116-41.319-10.958-10.959-25.82-17.116-41.319-17.116'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M100.175 460.504h-48.696c-2.583 0-5.060-1.026-6.886-2.853s-2.852-4.303-2.852-6.886v-87.652c0-15.498 6.157-30.363 17.115-41.319 10.959-10.959 25.822-17.116 41.319-17.116v0'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M411.825 236.522v223.999c0 5.166-2.050 10.122-5.705 13.774-3.652 3.652-8.606 5.705-13.772 5.705h-272.695c-5.166 0-10.12-2.053-13.773-5.705s-5.705-8.608-5.705-13.774v-223.999'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M197.566 324.174c0 5.166-2.052 10.12-5.705 13.774-3.653 3.652-8.607 5.703-13.773 5.703s-10.12-2.050-13.773-5.703c-3.653-3.654-5.705-8.608-5.705-13.774v-48.695c0-2.584 1.025-5.061 2.852-6.886 1.827-1.827 4.303-2.853 6.887-2.853h19.478c2.583 0 5.060 1.026 6.887 2.853 1.827 1.825 2.852 4.303 2.852 6.886v48.695z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M353.389 324.174c0 5.166-2.053 10.12-5.705 13.774-3.652 3.652-8.608 5.703-13.774 5.703-5.164 0-10.12-2.050-13.772-5.703-3.652-3.654-5.705-8.608-5.705-13.774v-48.695c0-2.584 1.026-5.061 2.852-6.886 1.827-1.827 4.305-2.853 6.888-2.853h19.478c2.584 0 5.061 1.026 6.886 2.853 1.827 1.825 2.853 4.303 2.853 6.886v48.695z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M255.997 246.243c16.137 0 29.218-13.081 29.218-29.218s-13.081-29.218-29.218-29.218c-16.137 0-29.218 13.081-29.218 29.218s13.081 29.218 29.218 29.218z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M290.084 392.329h-68.174c-13.447 0-24.348 10.901-24.348 24.348s10.901 24.348 24.348 24.348h68.175c13.447 0 24.348-10.901 24.348-24.348s-10.901-24.348-24.348-24.348z'%3E%3C/path%3E%3C/svg%3E%0A");
	}
	&--clothes {
		background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='20.48' stroke='%23000' d='M386.038 472.728v-260.072l65.018 43.344 43.344-86.69-151.708-130.037c-22.301 24.99-53.32 40.5-86.692 43.346v0c-33.377-2.829-64.401-18.341-86.69-43.346v0l-151.709 130.037 43.346 86.69 65.019-43.344v260.072h260.075z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='20.48' stroke='%23000' d='M256 212.654v-130.036'%3E%3C/path%3E%3C/svg%3E%0A");
	}
	&--trifle {
		background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M99.479 16v104.347c0 16.605 6.597 32.529 18.337 44.271s27.666 18.338 44.271 18.338c16.605 0 32.529-6.596 44.271-18.338s18.338-27.666 18.338-44.271v-104.347'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M162.088 16v479.997'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M349.912 182.958v313.043'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M287.304 78.608c0-16.605 6.596-32.529 18.337-44.271 11.743-11.742 27.668-18.337 44.272-18.337s32.529 6.596 44.272 18.337c11.74 11.742 18.337 27.666 18.337 44.271v41.739c0 16.605-6.596 32.53-18.337 44.271-11.743 11.742-27.668 18.338-44.272 18.338s-32.529-6.596-44.272-18.338c-11.74-11.742-18.337-27.666-18.337-44.271v-41.739z'%3E%3C/path%3E%3C/svg%3E%0A");
	}
	&--services {
		background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M70.956 80.695c0-12.915 5.13-25.301 14.263-34.433s21.518-14.262 34.433-14.262h38.957v58.434c0 21.523-7.694 38.956-29.217 38.956h-29.217c-7.749 0-15.18-3.078-20.66-8.558s-8.558-12.912-8.558-20.66v-19.477z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M158.607 90.435c0 21.523 7.695 38.957 29.217 38.957h29.217c7.749 0 15.18-3.078 20.66-8.558s8.558-12.912 8.558-20.66v-19.477c0-6.394-1.26-12.727-3.707-18.636s-6.035-11.276-10.555-15.797c-4.522-4.522-9.89-8.109-15.797-10.556s-12.24-3.706-18.636-3.706h-38.957'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M148.873 226.781c16.137 0 29.217-13.081 29.217-29.217s-13.081-29.217-29.217-29.217c-16.137 0-29.217 13.081-29.217 29.217s13.081 29.217 29.217 29.217z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M470.262 450.783c0 7.748-3.077 15.18-8.558 20.658-5.478 5.481-12.909 8.559-20.661 8.559h-58.435c-7.748 0-15.18-3.078-20.658-8.559-5.481-5.478-8.559-12.909-8.559-20.658v-185.043c0-15.498 6.156-30.362 17.117-41.32 10.959-10.959 25.821-17.115 41.317-17.115 15.5 0 30.363 6.156 41.32 17.115 10.96 10.959 17.115 25.822 17.115 41.32v185.043z'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M392.348 210.635v-22.81c0-5.166 2.050-10.12 5.703-13.773s8.608-5.705 13.774-5.705c5.166 0 10.121 2.052 13.772 5.705 3.654 3.653 5.705 8.607 5.705 13.773v22.81'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M353.392 441.043h116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M353.392 265.739h116.869'%3E%3C/path%3E%3Cpath fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='21.3333' stroke='%23000' d='M411.824 168.347c-0.346-10.222-4.56-19.932-11.791-27.164s-16.942-11.447-27.165-11.792h-19.478c-29.217 0-58.435 9.74-58.435 68.174v150.956c0 82.784-38.957 131.477-121.74 131.477-17.266 0.002-34.365-3.396-50.317-10.001-15.953-6.608-30.448-16.291-42.657-28.502-12.21-12.209-21.894-26.704-28.501-42.657s-10.006-33.050-10.003-50.317v-73.043c0-20.663 8.209-40.481 22.82-55.093s34.429-22.82 55.094-22.82'%3E%3C/path%3E%3C/svg%3E%0A");
	}
}